{varType MichalSpacekCz\Training\Trainings\Training[] $trainings}
{define #menu}
&raquo; <a n:href=":Www:Homepage:">Michal Špaček</a>
&raquo; <a n:href="Homepage:">Administrace</a>
{/define}

{define #content}
<ol n:inner-foreach="$trainings as $training">
	<li><a n:href="training $training->getId()">{$training->getName()}</a></li>
</ol>
{/define}
