{define #menu}
&raquo; <a n:href=":Www:Homepage:">Michal Špaček</a>
&raquo; <a n:href="Homepage:">Administrace</a>
&raquo; <a n:href="Blog:">{_messages.title.blog}</a>
{/define}

{define #content}
{include "common/postForm.latte", form: editPost}
{/define}
