{define #menu}
&raquo; <a n:href="Homepage:">Michal Špaček</a>
{/define}

{define #content}
<p class="indent" n:foreach="$interviews as $interview">
	{include "common/itemInterview.latte"}
</p>
{/define}
