body {
	background-color: #EEE;
}
label.required {
	font-weight: bold;
}
label.optional {
	font-weight: normal;
}
.tags .company, .tags .product {
	font-weight: bold;
}
.tags .language {
	background-color: #E9FFE4;
}
.tags .media {
	background-color: #EFEFFF;
}
.modal {
	overflow: hidden;
}
#add .modal-footer {
	margin-top: 0px;
}
#add .modal-header {
	cursor: move;
}
#logo {
	font-family: Georgia, "Times New Roman", Times, serif;
}
header .panel {
	margin: 10px 0px;
	background-color: #F5F5F5;
}
header .panel-body {
	padding: 0px 15px;
	height: 60px;
}
header .panel h1 {
	margin: 0px;
	line-height: 60px;
}
#logo-panel {
	width: 300px;
}
#search-panel {
 	max-width: 482px;
	margin: 13px;
}
#buttons-panel {
	width: 300px;
	margin: 15px 0px;
}
