<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>UPC Wi-Fi Keys{if isset($ssid)} for {$ssid}{/if}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{='/i/css/upc/screen.css'|staticUrl}" type="text/css">
	{script jquery}
	<script src="{='/i/js/upckeys.js'|staticUrl}"></script>
	<script n:if="$trackingCode" src="{='/i/js/analytics.js'|staticUrl}" async defer></script>
	<meta property="og:image" content="{='/i/images/upc/screenshot.jpg'|staticUrl}">
	<meta property="og:title" content="UPC Wi-Fi Keys{if isset($ssid)} for {$ssid}{/if}">
	<meta property="og:description" content="Test your Wi-Fi router by entering your wireless network name (SSID), eg. UPC1234567. You'll get back a list of possible passwords, or keys.">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@spazef0rze">
</head>
<body>
<div id="container">
	<div id="logo"><img src="{='/i/images/upc/logo.png'|staticUrl}"></div>
	<h1 id="header">UPC Wi-Fi Keys</h1>
	<h3 id="tagline">Online WPA2 passphrase recovery tool for <code>{$placeholder}</code> devices</h3>
	<p id="desc">
		Test your Wi-Fi router by entering your wireless network name (SSID), eg. <code>{$placeholder}</code>.
		You'll get back a list of possible passwords, or keys, if your key is present, <strong>change it immediately</strong>.
		If not present, and you still use the default password, <strong>change it as soon as possible</strong>.
		Also, change your router admin password, we know it's <code>admin</code> anyway.
	</p>
	<p><strong>DO NOT USE DEFAULT PASSWORDS!</strong></p>
	<p>
		<a href="http://support.virginmedia.ie/app/answers/detail/a_id/406/~/change-wireless-password">How can I change the wireless password?</a>
		/
		<a href="http://www.upc.cz/pece-o-zakazniky/internet/wifi/jak-zmenim-heslo-k-bezdratove-siti/" lang="cs">Jak změním heslo k bezdrátové síti?</a> (in Czech)
	</p>
	<p>
		Currently, generated keys will only work if your router's serial number starts with one of the following prefixes:
		{foreach $prefixes as $prefix}
			<code>{$prefix}</code>{sep}, {/sep}{last}.{/last}
		{/foreach}
	</p>
	<div id="result">
		<div n:ifset="$error" class="error"><strong>{$error}</strong></div>
		<div>
		{form ssid}
		{label ssid /} {input ssid} {input submit}
		{/form}
		</div>
		<p id="note"><small>Works only for networks named &quot;UPC&quot; + 7 numbers, eg. <code>{$placeholder}</code>.</small></p>
		<table n:if="isset($keys)">
		<thead>
		<tr>
			<td class="nr"></td>
			<th>Serial</th>
			<th>Password/Key</th>
			<th class="type">Type</th>
		</tr>
		<tr>
			<th class="nr">#.</th>
			<td>
				<select id="filterPrefix">
					<option value="">all</option>
					<option n:foreach="$prefixes as $prefix" value="p{$prefix}">{$prefix}</option>
				</select>
			</td>
			<td><input type="text" id="filterKey" placeholder="all"></td>
			<td class="type">
				<select id="filterType">
					<option value="">all</option>
					<option n:foreach="$filterTypes as $id => $type" value="t{$id}">{$type}</option>
				</select>
			</td>
		</tr>
		</thead>
		<tbody>
			<tr n:foreach="$keys as $key" class="p{$key->serialPrefix} t{$key->typeId}{if $iterator->odd} dark{/if}">
				<td class="nr"><code>{$iterator->counter}.</code></td>
				<td><code>{$key->serial}</code></td>
				<td class="key"><code>{$key->key}</code></td>
				<td class="type"><small>{$key->type}</small></td>
			</tr>
		</tbody>
		<tfoot id="footer">
			<tr>
				<td class="nr"></td>
				<td>–</td>
				<td class="key">–</td>
				<td class="type"></td>
			</tr>
		</tfoot>
		</table>
	</div>
	<p>
		<small><em>Disclaimer: This site is here to help users secure their wireless network by educating them. Use only to test your own wireless network.
		Don't be a jerk and do not use the keys to &quot;hack&quot; your neighbors.
		Tell them to change their default passwords instead.</em></small>
	</p>
	<p>
		<small>A project from <a href="https://www.michalspacek.cz/">Michal Špaček</a>, <a href="https://twitter.com/spazef0rze">@spazef0rze</a>.
		Uses modified <a href="https://haxx.in/upc_keys.c"><code>upc_keys.c</code></a> by <a href="https://haxx.in/">Peter &quot;blasty&quot; Geissler</a> for the recovery, thanks.</small>
	</p>
</div>
</body>
</html>
