id:
	now: jsem
	before: byl
	trainings: skoleni
	articles: clanky
	talks: prednasky
	interviews: rozhovory
	eventdate: datum-akce
	recording: zaznam
	detail: detail
	slides: slajdy
	application: prihlaska
	reviews: ohlasy
	participant: ucastnik
	errors: chyby
	title: nazev
	content: napln
	lecturer: lektor
	prerequisites: predpoklady
	intendedfor: urceno-pro
	date: termin
	length: delka
	capacity: kapacita
	price: cena
	materials: materialy
	order: objednavka
	transcript: prepis
attribute:
	lang: cs
langs:
	cs_CZ: cs
	en_US: en
