title:
	who: "Kdo?"
	contact: Kontakt
	articles: "Články"
	companytrainings: "Školení pro firmy"
	companytraining: "Firemní školení %s"
	interviews: Rozhovory
	interview: Rozhovor %s
	talks: Přednášky
	talk: "Přednáška %s (%s)"
	trainings: "Školení"
	training: "Školení %s"
	trainingreviews: "Ohlasy na školení %s"
	trainingmaterials: "Materiály ze školení %s"
	trainingapplication: "Přihláška na %s"
	error400: "Tohle Špaček neumí!"
	error403: "Tady je Špačkovo!"
	error404: "Tak tohle tu Špaček nemá!"
	error405: "Tohle u Špačka nejde!"
	error410: "Byl jsem tu, Špaček!"
	forbidden: "Nepovoleno"
	venue: "Školírna %s"
	photo: "Foto"
	blog: Blog
	admin:
		talkslides: "Slajdy z přednášky %s (%s)"
header:
	who: "Kdo je Michal Špaček?"
label:
	contact: Kontakt
	twitter: Twitter
	facebook: Facebook
	linkedin: LinkedIn
	github: GitHub
	email: E-mail
	phone: Telefon
	skype: Skype
	billingaddress: Fakturační adresa
	companyid: IČO
	companyvatid: DIČ
	bankaccount: Bankovní spojení
	iban: IBAN
	swift: BIC kód/SWIFT
	litecoin: Litecoin
	openpgpkeyid: OpenPGP key id
	fingerprint: Fingerprint
	keybase: Keybase
	now: Jsem
	before: Byl jsem
	developer: "**Vývojář**, Zend Certified Engineer"
	speaker: "**Přednášející**"
	webtop100juror: "Porotce a garant v soutěži **WebTop100**"
	node5shareholder: "Drobný akcionář prostoru **Node5**"
	skyper: "Zaměstnanec v pražské kanceláři **Skype**"
	slevomat: "Vývojář ve **Slevomatu**"
	ipo48: "Spolupořadatel **IPO48**"
	simpletest: "Rádce v projektu **SimpleTest.IO**"
	tojeono: "Spoluzakladatel webhostingu **tojeono.cz**"
	otherprojects: "Další projekty"
	bankshttps: "HTTPS na bankách"
	banksczhttps: "HTTPS na českých bankách"
	upckeys: "UPC Wi-Fi hesla"
	heartbleedcz: "Heartbleed v ČR"
	webleed: "Projekt \"We Bleed\""
	pulse: Pulse
	elephpantcz: "PHP slon"
	elephpant: "Elephpant"
	mytrainings: Školím
	myarticles: Píšu články
	allarticles: Všechny články
	mytalks: Přednáším
	upcomingtalks: Budu přednášet
	pasttalks: Přednášel jsem
	alltalks: Všechny přednášky
	myinterviews: Odpovídám na otázky
	allinterviews: Všechny rozhovory
	writtenarticles: Napsal jsem
	publictrainings: Veřejná školení
	companytrainings: Firemní školení
	lowercasecompanytraining: "firemní školení"
	trainingname: Název školení
	trainingcontent: Náplň
	traininglecturer: Lektor
	traininglength: Délka
	trainingcapacity: Kapacita
	trainingprice: Cena
	trainingorder: Objednávka
	error: Chyba
	homepage: Titulní stránka
	trainings: Školení
	interviews: Rozhovory
	audiorecording: "Audio záznam"
	videorecording: "Video záznam"
	dateforwhom: "Datum a pro koho"
	interviewdetail: "Detail rozhovoru"
	recording: "Záznam"
	talks: Přednášky
	slides: Slajdy
	application: "Přihláška"
	lowercaseapplication: "přihláška"
	preliminaryapplication: "Nezávazná přihláška"
	trainingreviews: "Ohlasy na školení"
	participantsfeedback: "Hodnocení účastníků"
	othertrainings: "Další školení"
	date: "Termín"
	tentativedate: "předběžný termín"
	participant: "Účastník"
	companydetails: "Fakturační údaje"
	optional: "nepovinné"
	errors: "Chyby"
	prerequisites: "Předpoklady"
	intendedfor: "Určeno pro"
	signup: "přihlásit"
	materials: "Materiály"
	map: "mapa"
	favorite: "Oblíbené"
	download: Stáhnout
	encrypt: Zašifrovat
	copy: Kopírovat
contact:
	twitter: @spazef0rze
	uponrequest: "na vyžádání"
	skypename: spazef0rze
	billingaddress: "České Vrbné 2315, České Budějovice 37011"
	vatpayer: plátce DPH
	encryptedmessages: Šifrované zprávy
	mypgpkey: Můj PGP klíč
	newmessage: Nová zpráva
	copied: "Zašifrovaný text je nyní ve schránce, vložte ho do e-mailu a pošlete mi ho."
	copythis: "Zkopírujte zašifrovaný text, vložte ho do e-mailu a pošlete mi ho."
	howto:
		1: "Do formuláře níže napište text, který mi chcete poslat, zašifrujte ho, zkopírujte a vložte do e-mailové zprávy a tu mi pošlete na \"%s\":[%s]."
		2: "Zpráva je šifrována ve vašem prohlížeči a přenos takového textu je bezpečný, mohu ho rozšifrovat pouze já. Zkontrolujte že se stránka načetla po HTTPS a prohlížeč nehlásí žádné chyby certifikátu."
		3: "Pamatujte, že pokud nemám váš veřejný PGP klíč, tak vám nemohu bezpečným způsobem odpovědět."
	loading: "Nahrávám, prosím čekejte"
who:
	developer:
		1: "Zajímá mě web, bezpečnost a výkon. Stavím, bořím a testuji webové aplikace."
		2: "Od roku 2009 mám certifikát \"Zend Certified Engineer\":[%s]."
		3: "Vše, co jsem se jako vývojář naučil moc rád předávám dál na svých \"školeních\":[%s]."
		4: "Webové vývojáře chci naučit stavět bezpečnější a výkonnější weby a webové aplikace."
	webtop100juror:
		1: "Od roku 2011 jsem porotcem a od roku 2014 i odborným garantem pro oblast technické řešení a bezpečnost ve \"WebTop100\":[%s], největší soutěži firemních webů a digitálních řešení v ČR."
		2: "O zkušenostech s hodnocením a o výsledcích jsem napsal několik \"článků\":[%s]."
	speaker:
		1: "Přednášel jsem na více než 50 konferencích a akcích, včetně konference \"WebExpo\":[%s] v Praze a konference \"Passwords\":[%s] v Las Vegas, USA, na obou opakovaně."
		2: "Podívejte se na seznam všech mých \"přednášek\":[%s]."
	node5shareholder:
		1: "Mohl jsem si koupit auto, ale zjistil jsem, že už jedno mám."
		2: "\"Node5\":[%s] je pražský co-workingový prostor kombinující byznys inkubátor a startup akcelerátor."
		3: "Nejsem zaměstnanec Node5, nemám žádnou výkonnou funkci, za Node5 nevystupuji ani nepořádám žádnou akci."
		4: "Jen pomáhám, když je potřeba a to jak samotnému Node5, tak jeho návštěvníkům."
	skyper: "Úžasných pět let a pět měsíců od prvního pracovního dne v estonském Tallinnu až do listopadu 2012, během kterých jsem se naučil spoustu nových věci, nejenom co se týká vývoje služby pro stovky miliónů uživatelů, ale i samotného chodu a růstu firmy a kanceláře od pár lidí po stovku kolegů."
	slevomat:
		1: "Od září 2013 do konce června 2014 jsem pracoval pro jednu z nejrychleji rostoucích firem v ČR."
		2: "O tom, jak jsme zabezpečovali data Slevomatu i zákazníků se dozvíte v prezentaci \"Jak jsme zlepšili zabezpečení Slevomatu\":[%s]."
	ipo48:
		1: "V únoru 2011 se v Praze na akci IPO48 sešlo více jak stovka vývojářů, designérů a podnikatelů zaměřujících se na moderní technologie."
		2: "Měli během 48 hodin vytvořit svůj tým, vyvinout prototyp aplikace a sestavit obchodní model, který by uspěl ve tvrdé konkurenci na globálním trhu."
		3: "O akci si můžete přečíst třeba na \"Zdrojáku\":[%s], u \"Davida Grudla\":[%s] nebo u \"Johna Vanhary\":[%s]."
	simpletest:
		1: "\"SimpleTest.IO\":[%s] byl nástroj, který na vašem webu pravidelně hledal špatné odkazy, chybějící obrázky a další prvky."
		2: "Původním nápadem bylo postavit //Selenium v cloudu//, ale nepovedlo se nám překonat překážky, které dnešní dynamický web takovému projektu staví do cesty a tak jsme to na jaře roku 2014 //zabalili//."
	tojeono:
		1: "Koncem roku 2003 jsme se s kolegy rozhodli pro pořízení vlastních serverů, které jsme pod značkou \"tojeono.cz\":[%s] nabídli k využívání i dalším zákazníkům, kteří požadovali individuální nastavení služeb."
		2: "Projekt jsem opustil přibližně po roce a po dalších dvou letech jsem opustil i kolegy."
	more: "Více o mně a mých dobrodužstvích naleznete na \"LinkedIn\":[%s]."
homepage:
	tagline: "Vyvíjím webové aplikace, zajímá mě jejich bezpečnost. Nebojím se o tom mluvit veřejně, hledám hranice tak, že je posouvám. Chci naučit webové vývojáře stavět bezpečnější a výkonnější weby a aplikace."
	aboutme: "více o mně"
	contact: kontakt
	trainings: "Zvu vás na následující školení, která pořádám a vedu"
	companytrainings: "Školení mohu uspořádat také \"u vás ve firmě\":[%s]."
	consultancy: "Nabízím i konzultaci pro vaši firmu, \"napište mi\":[%s]!"
articles:
	readmore: "celý článek…"
companytrainings:
	offer: "Chcete uspořádat školení u vás ve firmě v termínu, který vám vyhovuje? Velmi rád přijedu za vámi do vašeho sídla nebo kamkoliv jinam. Firmám nabízím následující školení, ale můžeme také sestavit kurz na míru, přesně podle vašich požadavků a znalostí vašich vývojářů."
	publictraining: "Své vývojáře můžete samozřejmě přihlásit i na \"veřejný termín mých školení\":[%s]."
	consulting: "Nabízím i konzultace pro vaši firmu, \"napište mi\":[%s]!"
	morereviews: "Další ohlasy najdete na \"stránce s ohlasy na veřejné školení\":[%s]."
	lecturerwho: "o lektorovi"
	lecturercontact: "kontakt na lektora"
	capacity: "Neomezena, ale nad 12 účastníků zbývá méně času na dotazy."
	price: "**%s Kč** bez DPH, %s Kč s DPH, při velmi malém počtu účastníků poskytuji výraznou slevu."
	signup: "Pro objednání školení mi \"napište e-mail\":[%s] a navrhněte termín, který se vám hodí."
error:
	tryother: "Zkuste jiné stránky"
	400: "Váš prohlížeč vyslal požadavek, kterému tento server nerozuměl."
	403: "Nemáte právo pro přístup k požadovanému objektu. Buď je chráněn proti čtení, nebo není serverem čitelný."
	404: "Požadovaná stránka nebyla na tomto serveru nalezena. Adresa této stránky je chybná nebo stránka neexistuje."
	405: "Metoda není pro požadované URL povolena."
	410: "Požadované URL již není na tomto serveru k dispozici, ani není k dispozici žádná adresa k přesměrování."
forbidden:
	spam: "Přístup zakázán kvůli opakovanému spamování."
interview:
	detail: "Detail rozhovoru na webu"
talks:
	atyourevent:
		upcoming: "Rád budu přednášet i na vaší akci nebo konferenci, \"napište mi\":[%s]!"
		noupcoming: "…třeba na vaší akci nebo konferenci, \"napište mi\":[%s]!"
	wastalking: "…\"v kině\":[%s], \"v kasínu v Las Vegas\":[%s] (a \"zas\":[%s] a \"znovu\":[%s] a \"ještě jednou\":[%s]), \"v bývalém atomovém krytu\":[%s] v Praze, v hospodách, na konferencích, česky i anglicky."
	more: "…a další na \"SlideShare\":[%s] nebo \"Speaker Deck\":[%s]"
	slidesorigin: "Slajdy najdete u podobné přednášky \"%s\":[%s]"
	detail: "Detail přednášky"
	detailevent: "Detail přednášky na webu akce"
	dateevent: "Datum a akce"
	supersededby: "Tato přednáška byla doplněna a nahrazena novější \"%s\":[%s], prohlédněte si raději tu."
	duration: "délka přednášky %s minut"
	durationshort: "%s minut"
	admin:
		slideadded: "Slajd přidán"
		duplicatealias: "Pro slajd %s již existuje alias"
trainings:
	spammyapplication: "Přihláška vypadá jako spam, takhle by to nešlo."
	errorapplication: "Ups, něco se rozbilo a přihlášku se nepodařilo odeslat, zkuste to za chvíli znovu."
	submitted:
		tentative: "Díky, přihláška odeslána! Dám vám vědět, jakmile budu znát přesný termín."
		confirmed: "Díky, přihláška odeslána! Potvrzení přijde za chvíli e-mailem, fakturu zašlu během několika dní. Pokud do školení zbývá ještě dost času, může mi to trvat o chvilku déle."
		preliminary: "Díky, nezávazná přihláška odeslána! Dám vám vědět, jakmile termín školení vypíšu."
	fewseatsleft: "Ještě zbývá posledních pár míst, přihlaste se!"
	welcome: "Zvu vás na školení, která pořádám:"
	companytraining: "Školení mohu uspořádat také \"u vás ve firmě\":[%s]."
	companyextratraining: "Jakékoliv veřejné školení mohu uspořádat také \"u vás ve firmě\":[%s]. Společnostem nabízím navíc i tyto kurzy:"
	consultancy: "Nabízím i konzultaci pro vaši firmu, \"napište mi\":[%s]!"
	partnertrainings:
		intro: "Rádi byste se naučili něco dalšího? Doporučuji absolvovat třeba tato **partnerská školení**:"
		frontend: "\"Responzivní design\":[%s] a další \"kurzy moderního frontendového vývoje\":[%s] od Martina Michálka a dalších"
		nette: "\"Vývoj webových aplikací v Nette Framework\":[%s] a \"Mistrovství v Nette\":[%s] od Davida Grudla"
		advanceddevelopment: "\"Pokročilý vývoj a testování aplikací\":[%s] od Václava Purcharta a Ondřeje Mirtese v rámci \"Medio Akademie\":[%s]"
	files:
		thankyou: "Díky za účast na školení %s dne %s."
		download: "Níže si pro Vaši osobní potřebu můžete stáhnout materiály, které jsme na školení použili."
	moretrainings: "Rád Vás přivítám i na nějakém dalším školení, které \"pořádám\":[%s]."
	more: "více…"
	jointhem: "Přidejte se k těmto účastníkům a \"přihlaste se\":[%s] na školení \"%s\":[%s]!"
	addanother: "Přihlaste dalšího účastníka"
	cometoothertrainings: "Přijďte i na další školení, která pořádám a vedu:"
	signuperrors: "Přihláška nebyla odeslána, předtím než se ji pokusíte odeslat znovu, opravte následující chyby:"
	loaddata:
		title: "načíst další údaje z rejstříku dle IČO"
		loadrest: "načíst zbytek"
		wait: "čekejte…"
		notfound: "nenalezeno,"
		error: "chyba,"
		again: "znovu"
		countrycompanymissing: "Nejdříve vyberte zemi a zadejte IČO"
	lecturerwho: "o lektorovi"
	lecturercontact: "kontakt na lektora"
	date:
		one: "Termín a místo"
		more: "Termíny a místa"
	lunchbreak: "hodinová přestávka na oběd"
	tentativedate: "**Předběžný termín** - přesné datum zatím neznám. Můžete vyplnit nezávaznou přihlášku a dám vám vědět, až datum budu znát."
	extendedtime: "Školení se dle situace může až o hodinu protáhnout."
	capacity: "Nejvýše %s účastníků"
	price: "**%s Kč** bez DPH, %s Kč s DPH"
	studentdiscount: "%s%% sleva pro studenty"
	allreviews: "Všechny ohlasy"
	datainvoice: "Zadané údaje budou použity pro vystavení faktury, která vám bude zaslána e-mailem během několika dní, případně pro zaslání pozvánky, pokud se hlásíte na předběžný termín."
	conditions: "Pokud se školení z jakéhokoliv důvodu neuskuteční nebo se přesune na jiný termín, který vám nebude vyhovovat (živelní pohroma, nemoc přednášejícího, …), bude vám vrácena celá zaplacená částka. Pokud nastanou překážky na straně účastníka, může za sebe poslat náhradníka nebo se zúčastnit náhradního termínu."
	sendinginvite: "Na zadanou e-mailovou adresu zašlu pozvánku, jakmile termín tohoto školení vypíšu. Na nic jiného nebude použita."
	companythistraining: "Školení v tomto rozsahu je možné \"uspořádat i ve vaší firmě\":[%s]."
	nodateyet:
		short: "termín zatím nevypsán"
		long: "Žádný termín není zatím stanoven. \"Dejte mi níže vědět\":[%s], pokud byste o školení měli zájem."
	regularlyeveryquarter: "Školení v Praze probíhají pravidelně jednou za čtvrt roku, vždy v polovině března, června, září a prosince, v jiných městech nepravidelně."
venues:
	nameaddress: "Název a adresa"
	entrance: "Pohled na vchod"
	entrancenavigation: "Cesta ke vchodu"
	streetview: "streetview"
	transportationparking: "Doprava a parkování"
	trainingshere: "Pořádaná školení v tomto místě"
	notraininghere: "Momentálně zde neplánuji uspořádat žádné veřejné školení. \"Napište mi\":[%s], pokud si myslíte, že bych měl."
photo:
	downloadsizes: "Velikosti ke stažení:"
	trademark:
		header: "Poznávací znamení"
		desc: "Prosím používejte **tuto fotografii**, je to můj //trademark//, moje poznávací znamení. Používám ji na \"Twitteru\":[%s], na \"Facebooku\":[%s] i jinde na webu, aby si mě lidé s těmito účty vždy spojili. Takto skvěle mě vyfotil \"Lukáš Hudeček\":[%s]."
	lecturer:
		header: "Lektorská"
		desc: "Zdá se vám předchozí fotka příliš veselá? Zkuste použít tuto. Je z \"Code Campu\":[%s] a pořídil ji \"Josef Havlín\":[%s]."
	office:
		header: "Kancelářská"
		desc: "Tato fotografie vznikla v pražských kancelářích Skype, když jsem tam pracoval."
	talk:
		header: "Přednášková"
		desc: "Takto mě zachytil fotograf na WebTop100, když jsem vyprávěl o \"rychlosti a zabezpečení webu\":[%s]."
certificates:
	admin:
		expireddaysago: "před %count% dnem|před %count% dny"
		expiresindays: "ze %count% den|za %count% dny|za %count% dní"
blog:
	admin:
		postadded: "Příspěvek na blog přidán"
		duplicateslug: "Příspěvek s takovým slugem již existuje"
