langs:
	cs_CZ: Česky
	en_US: English
title:
	who: "Kdo?"
	contact: Kontakt
	articles: "Články"
	companytrainings: "Školení pro firmy"
	companytraining: "Firemní školení %s"
	interviews: Rozhovory
	interview: Rozhovor %s
	talks: Přednášky
	talk: "Přednáška %s (%s)"
	trainings: "Školení"
	training: "Školení %s"
	trainingreviews: "Ohlasy na školení %s"
	trainingmaterials:
		regular: "Materiály ze školení %s"
		remote: "Materiály na školení %s"
	trainingapplication: "Přihláška na %s"
	error400: "Tohle Špaček neumí!"
	error403: "Tady je Špačkovo!"
	error404: "Tak tohle tu Špaček nemá!"
	error405: "Tohle u Špačka nejde!"
	error410: "Byl jsem tu, Špaček!"
	forbidden: "Nepovoleno"
	venue: "Školírna %s"
	photo: "Foto"
	projects: Projekty
	blog: Blog
	encryptedmessages: "Šifrované zprávy"
	admin:
		talkslides: "Slajdy z přednášky %s (%s)"
header:
	who: "Kdo je Michal Špaček?"
label:
	contact: Kontakt
	twitter: Twitter
	facebook: Facebook
	linkedin: LinkedIn
	github: GitHub
	email: E-mail
	skype: Skype
	billingaddress: Fakturační adresa
	companyid: IČO
	companyvatid: DIČ
	bankaccount: Bankovní spojení
	iban: IBAN
	swift: BIC kód/SWIFT
	openpgpkeyid: OpenPGP key id
	fingerprint: Fingerprint
	keybase: Keybase
	now: Jsem
	before: Byl jsem
	developer: "**Vývojář** a **školitel**, Zend Certified Engineer"
	reporturideveloper: "**Vývojář** nástroje **Report URI**"
	speaker: "**Přednášející**"
	webtop100juror: "Porotce a garant v soutěži **WebTop100**"
	skyper: "Zaměstnanec v pražské kanceláři **Skype**"
	slevomat: "Vývojář ve **Slevomatu**"
	ipo48: "Spolupořadatel **IPO48**"
	tojeono: "Spoluzakladatel webhostingu **tojeono.cz**"
	bughunter: "Občasný **lovec chyb**"
	otherprojects: "Další projekty"
	bankshttps: "HTTPS na bankách"
	banksczhttps: "HTTPS na českých bankách"
	upckeys: "UPC Wi-Fi hesla"
	pulse:
	    passwordstorages: Jak ukládají hesla
	mytrainings: Školím
	myarticles: Píšu články
	allarticles: Všechny články
	articlesbytag: "Články se značkou \"%s\""
	tags: Téma
	mytalks: Přednáším
	upcomingtalks: Budu přednášet
	pasttalks: Přednášel jsem
	alltalks: Všechny přednášky
	myinterviews: Odpovídám na otázky
	allinterviews: Všechny rozhovory
	writtenarticles: Napsal jsem
	publictrainings: Veřejná školení
	companytrainings: Firemní školení
	lowercasecompanytraining: "firemní školení"
	partnertrainings: Partnerská školení
	trainingname: Název školení
	trainingcontent: Náplň
	traininglecturer: Lektor
	traininglength: Délka
	trainingcapacity: Kapacita
	trainingprice: Cena
	trainingorder: Objednávka
	error: Chyba
	homepage: Titulní stránka
	tohomepage: Na titulní stránku
	trainings: Školení
	interviews: Rozhovory
	audiorecording: "Audio záznam"
	videorecording: "Video záznam"
	lowercasevideo: video
	dateforwhom: "Datum a pro koho"
	interviewdetail: "Detail rozhovoru"
	recording: "Záznam"
	talks: Přednášky
	slides: Slajdy
	application: "Přihláška"
	lowercaseapplication: "přihláška"
	preliminaryapplication: "Nezávazná přihláška"
	trainingreviews: "Ohlasy na školení"
	participantsfeedback: "Hodnocení účastníků"
	othertrainings: "Další školení"
	date: "Termín"
	tentativedate: "předběžný termín"
	remote: online
	participant: "Účastník"
	companydetails: "Fakturační údaje"
	optional: "nepovinné"
	errors: "Chyby"
	prerequisites: "Předpoklady"
	intendedfor: "Určeno pro"
	signup: "přihlásit"
	materials: "Materiály"
	map: "mapa"
	favorite: "Oblíbené"
	download: Stáhnout
	encrypt: Zašifrovat
	copy: Kopírovat
	taxid:
		cz: DIČ
		sk: IČ DPH
	mode:
		dark: Tmavý režim
		light: Světlý režim
contact:
	twitter: @spazef0rze
	skypename: spazef0rze
	billingaddress: "České Vrbné 2315, České Budějovice 37011"
	vatpayer: plátce DPH
	encryptedmessages: "Pro zabezpečenou komunikaci používám \"Signal\":[%s], výjimečně mi můžete \"zašifrovanou zprávu e-mailem\":[%s]."
pgp:
	mypgpkey: Můj PGP klíč
	newmessage: Nová zpráva
	copied: "Zašifrovaný text je nyní ve schránce, vložte ho do e-mailu a pošlete mi ho."
	copythis: "Zkopírujte zašifrovaný text, vložte ho do e-mailu a pošlete mi ho."
	howto:
		1: "Do formuláře níže napište text, který mi chcete poslat, zašifrujte ho, zkopírujte a vložte do e-mailové zprávy a tu mi pošlete na \"%s\":[%s]."
		2: "Zpráva je šifrována ve vašem prohlížeči a přenos takového textu je bezpečný, mohu ho rozšifrovat pouze já. Zkontrolujte že se stránka načetla po HTTPS a prohlížeč nehlásí žádné chyby certifikátu."
		3: "Pamatujte, že pokud mi nepošlete také váš veřejný PGP klíč, tak vám nemohu bezpečným způsobem odpovědět."
	loading: "Nahrávám, prosím čekejte"
	entermessagehere: "Sem napište zprávu"
	requirements: "Vyžaduje JavaScript"
	unsupported: "Je mi líto, ale tohle váš prohlížeč již neumí, pořiďte si novější"
who:
	hi: "Ahoj, jsem Michal Špaček."
	developer:
		1: "Zajímá mě web, bezpečnost a výkon. Stavím, bořím a testuji webové aplikace."
		2: "Od roku 2009 mám certifikát \"Zend Certified Engineer\":[%s]."
		3: "Vše, co jsem se jako vývojář naučil moc rád předávám dál na svých \"školeních\":[%s], začal jsem s tím v roce 2011 a od té doby uspořádal více než %s kurzů."
		4: "Webové vývojáře chci naučit stavět bezpečnější a výkonnější weby a webové aplikace."
	reporturideveloper:
		1: "V roce 2017 jsem \"začal pracovat na Report URI\":[blog:o-pridavani-a-mazani-kodu-aneb-moje-prace-na-report-uri], nástroji na reportování bezpečnostních událostí přímo z prohlížeče."
		2: "Službu založil \"Scott Helme\":[%s] (provozuje např. i \"Security Headers\":[%s]), v týmu je také \"Troy Hunt\":[%s] (spravuje \"Have I Been Pwned?\":[%s])."
		3: "Oba dva jsou známí a oceňovaní bezpečnostní výzkumníci a bloggeři."
	webtop100juror:
		1: "Osm let počínaje rokem 2011 jsem byl porotcem a od roku 2014 i odborným garantem pro oblast technické řešení a bezpečnost ve \"WebTop100\":[%s], největší soutěži firemních webů a digitálních řešení v ČR."
		2: "O zkušenostech s hodnocením a o výsledcích jsem napsal několik \"článků\":[%s]."
	speaker:
		1: "Přednášel jsem na více než %d konferencích a akcích, včetně konference \"WebExpo\":[%s] v Praze a konference \"Passwords\":[%s] v Las Vegas, USA, na obou opakovaně."
		2: "Podívejte se na seznam všech mých \"přednášek\":[%s]."
	skyper: "Úžasných pět let a pět měsíců od prvního pracovního dne v estonském Tallinnu až do listopadu 2012, během kterých jsem se naučil spoustu nových věci, nejenom co se týká vývoje služby pro stovky miliónů uživatelů, ale i samotného chodu a růstu firmy a kanceláře od pár lidí po stovku kolegů."
	slevomat:
		1: "Od září 2013 do konce června 2014 jsem pracoval pro jednu z nejrychleji rostoucích firem v ČR."
		2: "O tom, jak jsme zabezpečovali data Slevomatu i zákazníků se dozvíte v prezentaci \"Jak jsme zlepšili zabezpečení Slevomatu\":[%s]."
	ipo48:
		1: "V únoru 2011 se v Praze na akci IPO48 sešlo více jak stovka vývojářů, designérů a podnikatelů zaměřujících se na moderní technologie."
		2: "Měli během 48 hodin vytvořit svůj tým, vyvinout prototyp aplikace a sestavit obchodní model, který by uspěl ve tvrdé konkurenci na globálním trhu."
		3: "O akci si můžete přečíst třeba na \"Zdrojáku\":[%s], u \"Davida Grudla\":[%s] nebo u \"Johna Vanhary\":[%s]."
	tojeono:
		1: "Koncem roku 2003 jsme se s kolegy rozhodli pro pořízení vlastních serverů, které jsme pod značkou \"tojeono.cz\":[%s] nabídli k využívání i dalším zákazníkům, kteří požadovali individuální nastavení služeb."
		2: "Projekt jsem opustil přibližně po roce a po dalších dvou letech jsem opustil i kolegy."
	bughunter:
		1: "Chci, aby Internet byl o něco bezpečnější a tak hledám a hlásím bezpečnostní chyby. Nijak se při tom neskrývám a ani nechci nikoho poškodit."
		2: "Větší i menší problémy jsem nahlásil společnostem jako např."
		3:
			google: 'Google ("záznam na zdi slávy":[%s]),'
			atlassian: 'Atlassian ("zeď slávy":[%s], "popis problému":[link:Www:Talks:talk everything-is-user-input-fakt-linuxdays,edit-ssh-key]),'
			tmobile: 'T-Mobile ("zeď slávy":[%s]),'
			operatorict: 'Operátor ICT ("zeď slávy":https://www.pidlitacka.cz/.well-known/acknowledgement.txt, "popis chyby":[blog:unos-resetu-hesel-na-litacce]),'
			domaintools: 'DomainTools ("s překvapující rychlostí opravy":[blog:takhle-by-mela-vypadat-reakce-na-nahlaseni-chyby]),'
			czechia: 'hosting Czechia od firmy ZONER ("únik dat":[link:Www:Talks:talk vyhledavejte-na-netu-jako-macgyver-linuxdays,google-a76c8ba54d7be5d57daf858987c168a458009312]),'
			alza: 'Alza ("článek o chybě":[blog:k-cemu-je-soubor-security.txt]),'
		4: 'CZC.cz a mnoho dalších. Jestli chcete, aby vám lidé mě podobní také mohli jednoduše hlásit bezpečnostní chyby, "přidejte si na web soubor `security.txt`":[blog:k-cemu-je-soubor-security.txt#nahlaseni-chyby].'
	more: "Více o mně a mých dobrodužstvích naleznete na \"LinkedIn\":[%s]."
homepage:
	tagline: "Vyvíjím webové aplikace, zajímá mě jejich bezpečnost. Nebojím se o tom mluvit veřejně, hledám hranice tak, že je posouvám. Chci naučit webové vývojáře stavět bezpečnější a výkonnější weby a aplikace."
	aboutme: "více o mně"
	contact: kontakt
	trainings: "Zvu vás na následující školení, která pořádám a vedu"
articles:
	readmore: "celý článek…"
companytrainings:
	offer: "Chcete uspořádat školení u vás ve firmě v termínu, který vám vyhovuje? Velmi rád přijedu za vámi do vašeho sídla nebo kamkoliv jinam. Firmám nabízím následující školení, ale můžeme také sestavit kurz na míru, přesně podle vašich požadavků a znalostí vašich vývojářů."
	publictraining: "Své vývojáře můžete samozřejmě přihlásit i na \"veřejný termín mých školení\":[%s]."
	morereviews: "Další ohlasy najdete na \"stránce s ohlasy na veřejné školení\":[%s]."
	lecturerwho: "o lektorovi"
	lecturercontact: "kontakt na lektora"
	capacity: "Neomezena, ale nad 12 účastníků zbývá méně času na dotazy."
	price: "**%s** bez DPH, %s s DPH"
	signup: "Pro objednání školení mi \"napište e-mail\":[%s] a navrhněte termín, který se vám hodí."
error:
	tryother: "Zkuste jiné stránky"
	400: "Váš prohlížeč vyslal požadavek, kterému tento server nerozuměl."
	403: "Nemáte právo pro přístup k požadovanému objektu. Buď je chráněn proti čtení, nebo není serverem čitelný."
	404: "Požadovaná stránka nebyla na tomto serveru nalezena. Adresa této stránky je chybná nebo stránka neexistuje."
	405: "Metoda není pro požadované URL povolena."
	410: "Požadované URL již není na tomto serveru k dispozici, ani není k dispozici žádná adresa k přesměrování."
forbidden:
	spam: "Přístup zakázán kvůli opakovanému spamování."
interview:
	detail: "Detail rozhovoru na webu"
talks:
	atyourevent:
		upcoming: "Rád budu přednášet i na vaší akci nebo konferenci, \"napište mi\":[%s]!"
		noupcoming: "…třeba na vaší akci nebo konferenci, \"napište mi\":[%s]!"
	wastalking: "…\"v kině\":[%s], \"v kasínu v Las Vegas\":[%s] (a \"zas\":[%s] a \"znovu\":[%s] a \"ještě jednou\":[%s]), \"v bývalém atomovém krytu\":[%s] v Praze, v hospodách, na konferencích, česky i anglicky."
	more: "…a další na \"SlideShare\":[%s] nebo \"Speaker Deck\":[%s]"
	detail: "Detail přednášky"
	detailevent: "Detail přednášky na webu akce"
	dateevent: "Datum a akce"
	supersededby: "Tato přednáška byla doplněna a nahrazena novější \"%s\":[%s], prohlédněte si raději tu."
	duration: "délka přednášky %s minut"
	durationshort: "%s minut"
	transcript: Přepis poznámek
	slidescount: "%count% slajd|%count% slajdy|%count% slajdů"
	onlineversion: "Podívejte se raději na \"online verzi přednášky\":[%s], slajdy mohly být aktualizovány nebo doplněny."
	admin:
		slideadded: "Slajd přidán"
		duplicatealias: "Pro slajd %s již existuje alias"
		maxslideuploadsexceeded: "Překročen maximální počet současně nahraných obrázků slajdů (%d)"
trainings:
	spammyapplication: "Přihláška vypadá jako spam, takhle by to nešlo."
	errorapplication: "Ups, něco se rozbilo a přihlášku se nepodařilo odeslat, zkuste to za chvíli znovu."
	submitted:
		tentative: "Díky, přihláška odeslána! Dám vám vědět, jakmile budu znát přesný termín."
		confirmed: "Díky, přihláška odeslána! Potvrzení přijde za chvíli e-mailem, fakturu zašlu během několika dní. Pokud do školení zbývá ještě dost času, může mi to trvat o chvilku déle."
		preliminary: "Díky, nezávazná přihláška odeslána! Dám vám vědět, jakmile termín školení vypíšu."
	fewseatsleft: "Ještě zbývá posledních pár míst, přihlaste se!"
	welcome: "Zvu vás na školení, která pořádám:"
	companytraining: "Školení mohu uspořádat také \"u vás ve firmě\":[%s]."
	companyextratraining: "Jakékoliv veřejné školení mohu uspořádat také \"u vás ve firmě\":[%s]. Společnostem nabízím navíc i tyto kurzy:"
	consultancy: "Nabízím i konzultaci pro vaši firmu, \"napište mi\":[%s]!"
	partnertrainings:
		intro: "Rádi byste se naučili něco dalšího? Doporučuji absolvovat třeba tato **partnerská školení**:"
		companyintro: "Rádi byste se ve firmě naučili něco dalšího? Doporučuji třeba tato **partnerská školení**:"
		frontend: "\"Responzivní design\":[%s] a další \"kurzy moderního **frontendového vývoje**\":[%s], které vede //profík// na CSS **Martin Michálek** a jeho kolegové"
		nette: "\"Vývoj webových aplikací v **Nette Framework**\":[%s] a \"Mistrovství v Nette\":[%s] přímo od autora frameworku **Davida Grudla**"
	files:
		thankyou:
			regular: "Díky za účast na školení %s dne %s."
			remote: "Díky za přihlášku na online školení %s dne %s."
		download:
			regular:
				formal: "Níže si pro Vaši osobní potřebu můžete stáhnout materiály, které jsme na školení použili."
				familiar: "Níže si pro tvou osobní potřebu můžeš stáhnout materiály, které jsme na školení použili."
			remote:
				formal: "Níže si pro Vaši osobní potřebu můžete stáhnout a vytisknout materiály a během školení si do nich psát poznámky. Další soubory se tu mohou objevit po školení."
				familiar: "Níže si pro tvou osobní potřebu můžeš stáhnout a vytisknout materiály a během školení si do nich psát poznámky. Další soubory se tu mohou objevit po školení."
	moretrainings:
		formal: "Rád Vás přivítám i na nějakém dalším školení, které \"pořádám\":[%s]."
		familiar: "Rád tě přivítám i na nějakém dalším školení, které \"pořádám\":[%s]."
	more: "více…"
	jointhem: "Přidejte se k těmto účastníkům a \"přihlaste se\":[%s] na školení \"%s\":[%s]!"
	addanother: "Přihlaste dalšího účastníka"
	cometoothertrainings: "Přijďte i na další školení, která pořádám a vedu:"
	signuperrors: "Přihláška nebyla odeslána, předtím než se ji pokusíte odeslat znovu, opravte následující chyby:"
	loaddata:
		title: "načíst další údaje z rejstříku dle IČO"
		loadrest: "načíst zbytek"
		wait: "čekejte…"
		notfound: "nenalezeno,"
		error: "chyba,"
		again: "znovu"
		countrycompanymissing: "Nejdříve vyberte zemi a zadejte IČO"
	lecturerwho: "o lektorovi"
	lecturercontact: "kontakt na lektora"
	date:
		one: "Termín, místo, cena"
		more: "Termíny, místa, ceny"
	lunchbreak: "hodinová přestávka na oběd"
	tentativedate: "**Předběžný termín** - přesné datum zatím neznám. Můžete vyplnit nezávaznou přihlášku a dám vám vědět, až datum budu znát."
	extendedtime: "Školení se dle situace může až o hodinu protáhnout."
	capacity: "Nejvýše %s účastníků"
	price: "**%s** bez DPH, %s s DPH"
	studentdiscount: "%s%% sleva pro studenty"
	allreviews: "Všechny ohlasy"
	datausage: "Zadané údaje budou použity pro zaslání potvrzení, vystavení a zaslání faktury, připomínky termínu a materiálů po školení, případně pro zaslání pozvánky, pokud se hlásíte na předběžný termín."
	dataretention: "Uložené údaje budou smazány %d dní po skončení školení. Pokud napíšete hodnocení, vaše jméno a příp. název firmy smazány nebudou. Fakturační údaje budou i nadále vedeny v účetním systému."
	conditions: "Pokud se školení z jakéhokoliv důvodu neuskuteční nebo se přesune na jiný termín, který vám nebude vyhovovat (živelní pohroma, nemoc přednášejícího, …), bude vám vrácena celá zaplacená částka. Pokud nastanou překážky na straně účastníka, může za sebe poslat náhradníka nebo se zúčastnit náhradního termínu."
	sendinginvite: "Na zadanou e-mailovou adresu zašlu pozvánku, jakmile termín tohoto školení vypíšu. Na nic jiného nebude použita."
	companythistraining: "Školení v tomto rozsahu je možné \"uspořádat i ve vaší firmě\":[%s]."
	nodateyet:
		short: "termín zatím nevypsán"
		long: "Žádný termín není zatím stanoven. \"Dejte mi níže vědět\":[%s], pokud byste o školení měli zájem."
	regularlyeveryquarter: "Školení v Praze (příp. online) probíhají pravidelně jednou za čtvrt roku, vždy v polovině března, června, září a prosince, v jiných městech nepravidelně."
	discontinued:
		takenoverby:
			martinhujer: "Hledáte kurzy %s? Předal jsem je \"Martinovi Hujerovi\":[%s]."
		seeother:
			martinmichalek: "Školení %s jsem ukončil, podobný kurz nabízí \"Martin Michálek\":[%s]."
	intro:
		intro: "A takhle to dopadá"
		review: "Michalovo školení jsem původně domlouval primárně pro svoje kolegy, protože já přece \"všechno z osnovy školení znám\"... Z omylu mě Michal hned první hodinu prvního dne a pak postupně celé dva dny. Teprve díky tomuto školení jsem některé koncepty útoků/obran pochopil v plné šíři, hloubce a hlavně správném kontextu."
		author: "Jan Pospíšil, Senior PHP developer, Český rozhlas"
	remotedescription:
		1: "Školení proběhne pomocí aplikací jako Zoom, Skype, Whereby, nebo Jitsi – odkaz pošlu předem a budete potřebovat jenom browser."
		2: "A taky reproduktory, kameru a mikrofon, přičemž mohou být klidně i vestavěné."
	remoteindividualqa: 'V ceně je i záznam školení ke stažení i hodinová individuální konzultace do měsíce od konání kurzu.'
	nextdate: "nejbližší termín"
	nextdates: "nejbližší termíny"
	applicationform:
		note: "Např. jiná fakturační e-mailová adresa apod."
	signupforpreposition: "na"
	training: "školení %s"
venues:
	nameaddress: "Název a adresa"
	entrance: "Pohled na vchod"
	entrancenavigation: "Cesta ke vchodu"
	streetview: "streetview"
	transportationparking: "Doprava a parkování"
	trainingshere: "Pořádaná školení v tomto místě"
	notraininghere: "Momentálně zde neplánuji uspořádat žádné veřejné školení. \"Napište mi\":[%s], pokud si myslíte, že bych měl."
photo:
	downloadsizes: "Velikosti ke stažení:"
	trademark:
		header: "Poznávací znamení"
		desc: "Prosím používejte **tuto fotografii**, je to můj //trademark//, moje poznávací znamení. Používám ji na \"Twitteru\":[%s], na \"Facebooku\":[%s] i jinde na webu, aby si mě lidé s těmito účty vždy spojili. Takto skvěle mě vyfotil \"Lukáš Hudeček\":[%s]."
	lecturer:
		header: "Lektorská"
		desc: "Zdá se vám předchozí fotka příliš veselá? Zkuste použít tuto. Je z Code Campu a pořídil ji \"Josef Havlín\":[%s]."
	office:
		header: "Kancelářská"
		desc: "Tato fotografie vznikla v pražských kancelářích Skype, když jsem tam pracoval."
	talk:
		header: "Přednášková"
		desc: "Takto mě zachytil fotograf na WebTop100, když jsem vyprávěl o \"rychlosti a zabezpečení webu\":[%s]."
projects:
    otherprojects: "Toto jsou mé další projekty:"
    pulse:
        passwordstorages: "Seznam firem, které nějakým způsobem zveřejnily způsob ukládání uživatelských hesel. Projektem se snažím ostatní firmy inspirovat k bezpečnému ukládání hesel."
    upckeys: "Generování výrobcem přednastavených hesel pro některé rooutery od UPC. Zkontrolujte si Wi-Fi a případně heslo změňte."
certificates:
	admin:
		validdays: "%count% den|%count% dny|%count% dní"
		expireddaysago: "před %count% dnem|před %count% dny|před %count% dny"
		expiresindays: "za %count% den|za %count% dny|za %count% dní"
blog:
	post:
		recommendedreading: "Mohlo by vás také zajímat"
		edits: "Aktualizace článku"
		edited: "aktualizováno"
	admin:
		postadded: "Příspěvek \"%s\" přidán • \"Upravit\":[%s] • \"Zobrazit\":[%s]"
		postupdated: "Příspěvek \"%s\" upraven • \"Upravit\":[%s] • \"Zobrazit\":[%s]"
		duplicateslug: "Příspěvek s takovým slugem již existuje"
license:
    content: Obsah podléhá licenci Creative Commons Uveďte původ 4.0 Mezinárodní
