title:
	who: "Kdo?"
	contact: Kontakt
	articles: "Články"
	companytrainings: "Školení pro firmy"
	companytraining: "Firemní školení %s"
	interviews: Rozhovory
	interview: Rozhovor %s
	talks: Přednášky
	talk: "Přednáška %s (%s)"
	trainings: "Školení"
	training: "Školení %s"
	trainingreviews: "Ohlasy na školení %s"
	trainingmaterials: "Materiály ze školení %s"
	trainingapplication: "Přihláška na %s"
	error403: "Tady je Špačkovo!"
	error404: "Tak tohle tu Špaček nemá!"
	error405: "Tohle u Špačka nejde!"
	error410: "Byl jsem tu, Špaček!"
	error4xx: "Tohle Špaček neumí!"
	error500: "Za to může Špaček!"
	forbidden: "Nepovoleno"
	venue: "Školírna %s"
header:
	who: "Kdo je Michal Špaček?"
label:
	yes: "ano"
	no: "ne"
	contact: Kontakt
	twitter: Twitter
	facebook: Facebook
	linkedin: LinkedIn
	email: E-mail
	phone: Telefon
	skype: Skype
	billingaddress: Fakturační adresa
	companyid: IČ
	companyvatid: DIČ
	bankaccount: Bankovní spojení
	iban: IBAN
	swift: BIC kód/SWIFT
	litecoin: Litecoin
	openpgpkeyid: OpenPGP key id
	fingerprint: Fingerprint
	keybase: Keybase
	now: Jsem
	before: Byl jsem
	developer: "**Vývojář**, Zend Certified Engineer"
	speaker: "**Přednášející**"
	webtop100juror: "Porotce a garant v soutěži **WebTop100**"
	node5shareholder: "Drobný akcionář prostoru **Node5**"
	skyper: "Zaměstnanec v pražské kanceláři **Skype**"
	slevomat: "Vývojář ve **Slevomatu**"
	ipo48: "Spolupořadatel **IPO48**"
	simpletest: "Rádce v projektu **SimpleTest.IO**"
	tojeono: "Spoluzakladatel webhostingu **tojeono.cz**"
	otherprojects: "Další projekty"
	heartbleedcz: "Heartbleed v ČR"
	webleed: "Projekt \"We Bleed\""
	elephpantcz: "PHP slon"
	elephpant: "Elephpant"
	mytrainings: Školím
	myarticles: Píšu články
	allarticles: Všechny články
	mytalks: Přednáším
	upcomingtalks: Budu přednášet
	pasttalks: Přednášel jsem
	alltalks: Všechny přednášky
	myinterviews: Odpovídám na otázky
	writtenarticles: Napsal jsem
	companytrainings: Firemní školení
	lowercasecompanytraining: "firemní školení"
	trainingname: Název školení
	trainingcontent: Náplň
	traininglecturer: Lektor
	traininglength: Délka
	trainingcapacity: Kapacita
	trainingprice: Cena
	trainingorder: Objednávka
	error: Chyba
	homepage: Titulní stránka
	trainings: Školení
	interviews: Rozhovory
	audiorecording: "Audio záznam"
	videorecording: "Video záznam"
	dateforwhom: "Datum a pro koho"
	interviewdetail: "Detail rozhovoru"
	recording: "Záznam"
	talks: Přednášky
	slides: Slajdy
	application: "Přihláška"
	lowercaseapplication: "přihláška"
	trainingreviews: "Ohlasy na školení"
	date: "Termín"
	tentativedate: "předběžný termín"
	participant: "Účastník"
	companydetails: "Fakturační údaje"
	optional: "nepovinné"
	errors: "Chyby"
	prerequisites: "Předpoklady"
	intendedfor: "Určeno pro"
	signup: "přihlásit"
	materials: "Materiály"
	map: "mapa"
	favorite: "Oblíbené"
contact:
	twitter: @spazef0rze
	uponrequest: "na vyžádání"
	skypename: spazef0rze
	billingaddress: "České Vrbné 2315, České Budějovice 37011"
	vatpayer: plátce DPH
who:
	developer:
		1: "Zajímá mě web, bezpečnost a výkon. Stavím, bořím a testuji webové aplikace."
		2: "Od roku 2009 mám certifikát \"Zend Certified Engineer\":[%s]."
		3: "Vše, co jsem se jako vývojář naučil moc rád předávám dál na svých \"školeních\":[%s]."
		4: "Webové vývojáře chci naučit stavět bezpečnější a výkonnější weby a webové aplikace."
	webtop100juror:
		1: "Od roku 2011 jsem porotcem a od roku 2014 i odborným garantem pro oblast technické řešení a bezpečnost ve \"WebTop100\":[%s], největší soutěži firemních webů a digitálních řešení v ČR."
		2: "O zkušenostech s hodnocením a o výsledcích jsem napsal několik \"článků\":[%s]."
	speaker:
		1: "Přednášel jsem na více než 30 konferencích a akcích, včetně konference \"WebExpo\":[%s] v Praze a konference \"Passwords\":[%s] v Las Vegas, USA."
		2: "Podívejte se na seznam všech mých \"přednášek\":[%s]."
	node5shareholder:
		1: "Mohl jsem si koupit auto, ale zjistil jsem, že už jedno mám."
		2: "\"Node5\":[%s] je pražský co-workingový prostor kombinující byznys inkubátor a startup akcelerátor."
		3: "Nejsem zaměstnanec Node5, nemám žádnou výkonnou funkci, za Node5 nevystupuji ani nepořádám žádnou akci."
		4: "Jen pomáhám, když je potřeba a to jak samotnému Node5, tak jeho návštěvníkům."
	skyper: "Úžasných pět let a pět měsíců od prvního pracovního dne v estonském Tallinnu až do listopadu 2012, během kterých jsem se naučil spoustu nových věci, nejenom co se týká vývoje služby pro stovky miliónů uživatelů, ale i samotného chodu a růstu firmy a kanceláře od pár lidí po stovku kolegů."
	slevomat:
		1: "Od září 2013 do konce června 2014 jsem pracoval pro jednu z nejrychleji rostoucích firem v ČR."
		2: "O tom, jak jsme zabezpečovali data Slevomatu i zákazníků se dozvíte v prezentaci \"Jak jsme zlepšili zabezpečení Slevomatu\":[%s]."
	ipo48:
		1: "V únoru 2011 se v Praze na akci IPO48 sešlo více jak stovka vývojářů, designérů a podnikatelů zaměřujících se na moderní technologie."
		2: "Měli během 48 hodin vytvořit svůj tým, vyvinout prototyp aplikace a sestavit obchodní model, který by uspěl ve tvrdé konkurenci na globálním trhu."
		3: "O akci si můžete přečíst třeba na \"Zdrojáku\":[%s], u \"Davida Grudla\":[%s] nebo u \"Johna Vanhary\":[%s]."
	simpletest:
		1: "\"SimpleTest.IO\":[%s] byl nástroj, který na vašem webu pravidelně hledal špatné odkazy, chybějící obrázky a další prvky."
		2: "Původním nápadem bylo postavit //Selenium v cloudu//, ale nepovedlo se nám překonat překážky, které dnešní dynamický web takovému projektu staví do cesty a tak jsme to na jaře roku 2014 //zabalili//."
	tojeono:
		1: "Koncem roku 2003 jsme se s kolegy rozhodli pro pořízení vlastních serverů, které jsme pod značkou \"tojeono.cz\":[%s] nabídli k využívání i dalším zákazníkům, kteří požadovali individuální nastavení služeb."
		2: "Přibližně po roce jsem projekt opustil a v současné době s ním mám společné jen to, že na serverech tojeono.cz provozuji snad všechny svoje weby."
	more: "Více o mě a mých dobrodužstvích naleznete na \"LinkedIn\":[%s]."
homepage:
	tagline: "Vyvíjím webové aplikace a zajímá mě jejich bezpečnost. Nebojím se o tom mluvit veřejně, hledám hranice tak, že je posouvám. Chci naučit webové vývojáře stavět bezpečnější a výkonnější weby a aplikace."
	aboutme: "více o mě"
	contact: kontakt
	trainings: "Zvu vás na následující školení, která pořádám a vedu"
	companytrainings: "Školení mohu uspořádat také \"u vás ve firmě\":[%s]."
	consultancy: "Nabízím i konzultaci pro vaši firmu, \"napište mi\":[%s]!"
articles:
	readmore: "celý článek…"
companytrainings:
	offer: "Chcete uspořádat školení u vás ve firmě v termínu, který vám vyhovuje? Velmi rád přijedu za vámi do vašeho sídla nebo kamkoliv jinam. Firmám nabízím následující školení, ale můžeme také sestavit kurz na míru, přesně podle vašich požadavků a znalostí vašich vývojářů."
	publictraining: "Své vývojáře můžete samozřejmě přihlásit i na \"veřejný termín mých školení\":[%s]."
	consulting: "Nabízím i konzultace pro vaši firmu, \"napište mi\":[%s]!"
	morereviews: "Další ohlasy najdete na \"stránce s ohlasy na veřejné školení\":[%s]."
	lecturerwho: "o lektorovi"
	lecturercontact: "kontakt na lektora"
	length: "Školení je jednodenní, trvá 8 hodin i s přestávkami, ale dle situace se může až o hodinu protáhnout."
	extralength: "Pokud budete mít zájem o více praktických příkladů a úloh, můžeme školení uspořádat i dvoudenní."
	capacity: "Neomezena, ale nad 12 účastníků zbývá méně času na dotazy."
	price: "**%s Kč** bez DPH, %s Kč s DPH, při velmi malém počtu účastníků poskytuji výraznou slevu."
	extraprice: "Základní cena dvoudenního školení je %s Kč bez DPH, %s Kč s DPH."
	signup: "Pro objednání školení mi \"napište e-mail\":[%s] a navrhněte termín, který se vám hodí."
error:
	tryother: "Zkuste jiné stránky"
	403: "Nemáte právo pro přístup k požadovanému objektu. Buď je chráněn proti čtení, nebo není serverem čitelný."
	404: "Požadovaná stránka nebyla na tomto serveru nalezena. Adresa této stránky je chybná nebo stránka neexistuje."
	405: "Metoda není pro požadované URL povolena."
	410: "Požadované URL již není na tomto serveru k dispozici, ani není k dispozici žádná adresa k přesměrování."
	4xx: "Váš prohlížeč vyslal požadavek, kterému tento server nerozuměl."
	500: "Nastala vnitřní chyba a server nebyl schopen dokončit Váš požadavek."
forbidden:
	spam: "Přístup zakázán kvůli opakovanému spamování."
interview:
	detail: "Detail rozhovoru na webu"
talks:
	atyourevent:
		upcoming: "Rád budu přednášet i na vaší akci nebo konferenci, \"napište mi\":[%s]!"
		noupcoming: "…třeba na vaší akci nebo konferenci, \"napište mi\":[%s]!"
	wastalking: "…\"v kině\":[%s], \"v kasínu v Las Vegas\":[%s], \"v bývalém atomovém krytu\":[%s] v Praze, v hospodách, na konferencích, česky i anglicky."
	more: "…a další na \"SlideShare\":[%s] nebo \"Speaker Deck\":[%s]"
	slidesorigin: "slajdy pochází z přednášky \"%s\":[%s]"
	detail: "Detail přednášky"
	detailevent: "Detail přednášky na webu akce"
	dateevent: "Datum a akce"
trainings:
	spammyapplication: "Přihláška vypadá jako spam, takhle by to nešlo."
	errorapplication: "Ups, něco se rozbilo a přihlášku se nepodařilo odeslat, zkuste to za chvíli znovu."
	submitted:
		tentative: "Díky, přihláška odeslána! Dám vám vědět, jakmile budu znát přesný termín."
		confirmed: "Díky, přihláška odeslána! Potvrzení přijde za chvíli e-mailem, fakturu zašlu během několika dní."
	fewseatsleft: "Ještě zbývá posledních pár míst, přihlaste se!"
	welcome: "Zvu vás na školení, která pořádám. Dříve je vedl \"Jakub Vrána\":[%s] a já jsem je po něm \"převzal\":[%s]."
	companytraining: "Školení mohu uspořádat také \"u vás ve firmě\":[%s]."
	consultancy: "Nabízím i konzultaci pro vaši firmu, \"napište mi\":[%s]!"
	partnertrainings:
		intro: "Rádi byste se naučili něco dalšího? Doporučuji absolvovat třeba tato **partnerská školení**:"
		mysql: "\"Návrh a používání MySQL databáze\":[%s] a navazující \"Konfigurace a výkonnost MySQL\":[%s] od Antonína Faltýnka"
		nette: "\"Vývoj webových aplikací v Nette Framework\":[%s] od Davida Grudla"
		advanceddevelopment: "\"Pokročilý vývoj a testování aplikací\":[%s] od Václava Purcharta a Ondřeje Mirtese v rámci \"Medio Akademie\":[%s]"
	files:
		thankyou: "Díky za účast na školení %s dne %s."
		download: "Níže si pro Vaši osobní potřebu můžete stáhnout materiály, které jsme na školení použili."
	moretrainings: "Rád Vás přivítám i na nějakém dalším školení, které \"pořádám\":[%s]."
	more: "více…"
	jointhem: "Přidejte se k těmto účastníkům a \"přihlaste se\":[%s] na školení \"%s\":[%s]!"
	addanother: "Přihlaste dalšího účastníka"
	cometoothertrainings: "Přijďte i na další školení, která pořádám a vedu:"
	signuperrors: "Přihláška nebyla odeslána, předtím než se ji pokusíte odeslat znovu, opravte následující chyby:"
	loaddata:
		title: "načíst další údaje z rejstříku dle IČO"
		loadrest: "načíst zbytek"
		wait: "čekejte…"
		notfound: "nenalezeno,"
		error: "chyba,"
		again: "znovu"
		countrycompanymissing: "Nejdříve vyberte zemi a zadejte IČ"
	lecturerwho: "o lektorovi"
	lecturercontact: "kontakt na lektora"
	date:
		one: "Termín a místo"
		more: "Termíny a místa"
	lunchbreak: "hodinová přestávka na oběd"
	tentativedate: "**Předběžný termín** - přesné datum zatím neznám. Můžete vyplnit nezávaznou přihlášku a dám vám vědět, až datum budu znát."
	extendedtime: "Školení se dle situace může až o hodinu protáhnout."
	pastdates: "Již uskutečněné termíny"
	pastdatesvrana: "Termíny, které školil \"Jakub Vrána\":[%s]:"
	capacity: "Nejvýše %s účastníků"
	price: "**%s Kč** bez DPH, %s Kč s DPH"
	studentdiscount: "%s%% sleva pro studenty"
	allreviews: "Všechny ohlasy"
	datainvoice: "Zadané údaje budou použity pro vystavení faktury, která vám bude zaslána e-mailem během několika dní, případně pro zaslání pozvánky, pokud se hlásíte na předběžný termín."
	conditions: "Pokud se školení z jakéhokoliv důvodu neuskuteční nebo se přesune na jiný termín, který vám nebude vyhovovat (živelní pohroma, nemoc přednášejícího, …), bude vám vrácena celá zaplacená částka. Pokud nastanou překážky na straně účastníka, může za sebe poslat náhradníka nebo se zúčastnit náhradního termínu."
	companythistraining: "Školení v tomto rozsahu je možné \"uspořádat i ve vaší firmě\":[%s]."
	nodateyet: "no date yet"
venues:
	nameaddress: "Název a adresa"
	entrance: "Pohled na vchod"
	streetview: "streetview"
	transportationparking: "Doprava a parkování"
	trainingshere: "Pořádaná školení v tomto místě"
	notraininghere: "Momentálně zde neplánuji uspořádat žádné veřejné školení. \"Napište mi\":[%s], pokud si myslíte, že bych měl."
