title:
	who: "Who?"
	contact: Contact
	articles: "Articles"
	companytrainings: "In-house trainings"
	companytraining: "In-house training %s"
	interviews: Interviews
	interview: "Interview %s"
	talks: Talks
	talk: "Talk %s (%s)"
	trainings: "Trainings"
	training: "Training %s"
	trainingreviews: "Reviews for training %s"
	trainingmaterials: "Materials for training %s"
	trainingapplication: "Application for %s"
	error403: "Here be dragons. And Špaček!"
	error404: "Looks like Špaček does not have this!"
	error405: "This does not work with Špaček!"
	error410: "I was here, Špaček!"
	error4xx: "Špaček doesn't know how to do this!"
	error500: "That's Špaček's fault!"
	forbidden: "Forbidden"
	venue: "Venue %s"
header:
	who: "Who is Michal Špaček?"
label:
	yes: "yes"
	no: "no"
	contact: Contact
	twitter: Twitter
	facebook: Facebook
	linkedin: LinkedIn
	email: E-mail
	phone: Telefon
	skype: Skype
	billingaddress: Billing address
	companyid: "Company id"
	companyvatid: "VAT id"
	bankaccount: Bank account
	iban: IBAN
	swift: BIC/SWIFT
	litecoin: Litecoin
	openpgpkeyid: OpenPGP key id
	fingerprint: Fingerprint
	keybase: Keybase
	now: Now
	before: Before
	developer: "A **developer**, Zend Certified Engineer"
	speaker: "A **speaker**"
	webtop100juror: "**WebTop100** juror a guarantor"
	node5shareholder: "**Node5** minor shareholder"
	skyper: "A **Skyper** based in Prague, Czech Republic"
	slevomat: "A developer in **Slevomat.cz**"
	ipo48: "Co-organizer of **IPO48**"
	simpletest: "Adviser/mentor for **SimpleTest.IO**"
	tojeono: "Co-founder of hosting service **tojeono.cz**"
	otherprojects: "Other projects"
	heartbleedcz: "Heartbleed in CZ"
	webleed: "Project \"We Bleed\""
	elephpantcz: "ElePHPant"
	elephpant: "Elephpant"
	mytrainings: My trainings
	myarticles: My articles
	allarticles: All articles
	mytalks: My talks
	upcomingtalks: Upcoming talks
	pasttalks: Talks
	alltalks: All talks
	myinterviews: Me answering questions
	writtenarticles: "Articles I've written"
	companytrainings: In-house trainings
	trainingname: Course name
	trainingcontent: Content
	traininglecturer: Lecturer
	traininglength: Length
	trainingcapacity: Capacity
	trainingprice: Price
	trainingorder: Sign-up
	error: Error
	homepage: Home page
	trainings: Trainings
	interviews: Interviews
	audiorecording: "Audio recording"
	videorecording: "Video recording"
	dateforwhom: "Date and for whom"
	interviewdetail: "Interview detail"
	recording: "Recording"
	talks: Talks
	slides: Slides
	application: "Sign-up"
	lowercaseapplication: "sign-up"
	trainingreviews: "Training reviews"
	date: "Date"
	tentativedate: "tentative date"
	participant: "Participant"
	companydetails: "Company details"
	optional: "optional"
	errors: "Errors"
	prerequisites: "Prerequisites"
	intendedfor: "Target audience"
	signup: "sign-up"
	materials: "Materials"
	map: "map"
	favorite: "Favorites"
contact:
	twitter: @spazef0rze
	uponrequest: "upon request"
	skypename: spazef0rze
	billingaddress: "České Vrbné 2315, České Budějovice 37011, Czech Republic"
	vatpayer: VAT payer
who:
	developer:
		1: "I'm into web, security, and performance. I build, break, and test web applications."
		2: "I'm a \"Zend Certified Engineer\":[%s] since 2009."
		3: "As a developer, I've learned a lot and I like to pass my knowledge and experience on my \"trainings\":[%s]."
		4: "I want to show other web developers why and how to build secure and fast web applications."
	speaker:
		1: "I've been speaking at more than 30 conferences and events, including \"WebExpo Conference\":[%s] in Prague, Czech Republic and \"Passwords conference\":[%s] in Las Vegas, USA."
		2: "Check the list of all my \"Talks\":[%s]."
	webtop100juror:
		1: "Since 2011, I'm a juror and since 2014 also a guarantor for the area of technical solution and security for \"WebTop100\":[%s], the largest competition of company websites in the Czech Republic."
		2: "I wrote several \"articles\":[%s] about the experience with the evaluation and also about the results."
	node5shareholder:
		1: "I could buy a car but I realized I already have one."
		2: "\"Node5\":[%s] is a co-working space/business incubator/startup accelerator based in Prague, Czech Republic."
		3: "I'm not employed by Node5, don't have any executive role, I don't talk on behalf of Node5 and don't organize any event."
		4: "I just help when help is needed, be it for Node5 itself or people around it."
	skyper: "Absolutely awesome 5 years and 5 months since my Day One in Tallinn, Estonia until November 2012 in which I've learned gazillion of new things about how to build a service for hundreds of millions of users, how to build a company, and how to grow an office from few people up to a hundred."
	slevomat:
		1: "I was working for one of the fastest growing on-line companies in the Czech Republic from September 2013 to June 2014."
		2: "I've done a talk about how we've secured the application and user data. The slides from the talk are on-line and the talk is called \"How we have improved the security of Slevomat.cz\":[%s] (in Czech only)."
	ipo48:
		1: "The IPO48 event held at February 2011 hosted 100+ developers, designers, and entrepreneurs all with focus on modern technology."
		2: "They had to find their teammates, build an application prototype and create a business model that would succeed in the fierce competition in the global market."
		3: "You can read about the event in \"Zdroják\":[%s], at \"David Grudl\":[%s], and at \"John Vanhara\":[%s] (all in Czech only)."
	simpletest:
		1: "\"SimpleTest.IO\":[%s] was an on-line tool to regularly scan your web for broken links, missing images, and other issues."
		2: "Originally we've intended to build //Selenium in the cloud//, but with this project we've failed to overcome the obstacles of today's dynamic web, so we've shut it down in spring 2014."
	tojeono:
		1: "In late 2003, my colleagues and I decided to purchase our own servers, which we've offered under the brand name \"tojeono.cz\":[%s] to use by our clients and other customers who required customized hosting services."
		2: "I left the project after about a year and currently almost all my web sites are served from tojeono.cz servers but that's it."
	more: "More about me and my experience at \"LinkedIn\":[%s]."
homepage:
	tagline: "I build web applications and I'm into web application security. I like to speak about secure development. My mission is to teach web developers how to build secure and fast web applications and why."
	aboutme: "more about me"
	contact: contact
	trainings: "Come to my public trainings, everybody's welcome"
	companytrainings: "I can also prepare an in-house training, \"in your company\":[%s]."
	consultancy: "I also offer consulting for your business, \"contact me\":[%s]!"
articles:
	readmore: "read more…"
companytrainings:
	offer: "Want to arrange a training at your company on the date you choose? I'll come to visit you at your location or anywhere else. I offer the following trainings but we can also prepare a course tailored to your requirements and knowledge of your developers."
	publictraining: "If you want, you can sign-up your developers to my \"public trainings\":[%s] as well."
	consulting: "I also offer consulting for your business, please \"e-mail me\":[%s]!"
	moreinfo: "Find more information and reviews on the page about public training \"%s\":[%s]."
	lecturercontact: "contact lecturer"
	length: "Training is a one-day and lasts 8 hours with breaks but according to the situation can be longer by an extra hour."
	extralength: "If you are interested in more practical examples and exercises, we can organize a two-day training."
	capacity: "Unlimited but over 12 people we'll have less time for questions."
	price: "**%s Kč**, %s Kč incl. VAT, significant discounts with a very small number of participants."
	extraprice: "Base price for two-day training is %s Kč, %s Kč incl. VAT."
	signup: "To order an in-house training, just pick a date and \"drop me an e-mail\":[%s] to sort out other details."
error:
	tryother: "Try other pages"
	403: "You don't have permission to view this page. It's either read-only or not readable."
	404: "The page you requested could not be found. The address is incorrect, or that the page no longer exists."
	405: "The requested method is not allowed for the URL."
	410: "The requested URL is no longer available on this server and there's nowhere to be redirected to."
	4xx: "Your browser sent a request that this server could not understand or process."
	500: "The server encountered an internal error and was unable to complete your request."
forbidden:
	spam: "Access forbidden for repeated spammy crap."
interview:
	detail: "Interview detail on the web"
talks:
	atyourevent:
		upcoming: "I'll happily do a talk at your event or conference, \"let me know\":[%s]!"
		noupcoming: "…at your event or conference, \"let me know\":[%s]!"
	wastalking: "…\"in a cinema\":[%s], \"in a casino in Las Vegas\":[%s], \"in a former fallout shelter\":[%s] in Prague, Czech Republic, in pubs, at conferences, both in Czech and in English."
	more: "…and more at \"SlideShare\":[%s] and \"Speaker Deck\":[%s]"
	preview: "First slide preview"
	nomedia: "No slides nor video available. At least for now."
	detail: "Talk detail"
	detailevent: "Details on the event website"
	dateevent: "Date and event"
trainings:
	spammyapplication: "The application looks like spam, this is a no-go."
	errorapplication: "Oops, something went wrong. The application was not submitted, please try again in a while."
	submitted:
		tentative: "Thanks for signing-up! I'll let you know once I have the final date."
		confirmed: "Thanks for signing-up! Confirmation e-mail is on it's way, invoice will follow in few days."
	fewseatsleft: "Few last places left, sign-up now!"
	welcome: "Zvu vás na školení, která pořádám. Dříve je vedl \"Jakub Vrána\":[%s] a já jsem je po něm \"převzal\":[%s]."
	companytraining: "Školení mohu uspořádat také \"u vás ve firmě\":[%s]."
	consultancy: "Nabízím i konzultaci pro vaši firmu, \"napište mi\":[%s]!"
	partnertrainings:
		intro: "Rádi byste se naučili něco dalšího? Doporučuji absolvovat třeba tato **partnerská školení**:"
		mysql: "\"Návrh a používání MySQL databáze\":[%s] a navazující \"Konfigurace a výkonnost MySQL\":[%s] od Antonína Faltýnka"
		nette: "\"Vývoj webových aplikací v Nette Framework\":[%s] od Davida Grudla"
		advanceddevelopment: "\"Pokročilý vývoj a testování aplikací\":[%s] od Václava Purcharta a Ondřeje Mirtese v rámci \"Medio Akademie\":[%s]"
	files:
		thankyou: "Díky za účast na školení %s dne %s."
		download: "Níže si pro Vaši osobní potřebu můžete stáhnout materiály, které jsme na školení použili."
	moretrainings: "Rád Vás přivítám i na nějakém dalším školení, které \"pořádám\"."
	more: "more…"
	jointhem: "Přidejte se k těmto účastníkům a \"přihlaste se\":[%s] na školení \"%s\":[%s]!"
	addanother: "Add another participant"
	cometoothertrainings: "Přijďte i na další školení, která pořádám a vedu:"
	signuperrors: "Přihláška nebyla odeslána, předtím než se ji pokusíte odeslat znovu, opravte následující chyby:"
	loaddata:
		title: "load additional data from the register by the company id"
		loadrest: "load the rest"
		wait: "wait…"
		notfound: "not found,"
		error: "error,"
		again: "again"
		countrycompanymissing: "Nejdříve vyberte zemi a zadejte IČ"
	lecturercontact: "contact the lecturer"
	date:
		one: "Date and venue"
		more: "Dates and venues"
	lunchbreak: "one hour lunch break"
	tentativedate: "**Předběžný termín** - přesné datum zatím neznám. Můžete vyplnit nezávaznou přihlášku a dám vám vědět, až datum budu znát."
	extendedtime: "According to the situation, the course can be longer by an extra hour."
	pastdates: "Past dates"
	pastdatesvrana: "Courses led by \"Jakub Vrána\":[%s]:"
	capacity: "Maximum of %s participants"
	price: "**%s Kč**, %s Kč incl. VAT"
	studentdiscount: "%s%% discount for students"
	allreviews: "All reviews"
	datainvoice: "Zadané údaje budou použity pro vystavení faktury, která vám bude zaslána e-mailem během několika dní, případně pro zaslání pozvánky, pokud se hlásíte na předběžný termín."
	conditions: "Pokud se školení z jakéhokoliv důvodu neuskuteční nebo se přesune na jiný termín, který vám nebude vyhovovat (živelní pohroma, nemoc přednášejícího, …), bude vám vrácena celá zaplacená částka. Pokud nastanou překážky na straně účastníka, může za sebe poslat náhradníka nebo se zúčastnit náhradního termínu."
	companythistraining: "Školení v tomto rozsahu je možné \"uspořádat i ve vaší firmě\":[%s]."
	nodateyet: "termín dosud nevypsán"
venues:
	nameaddress: "Name and address"
	entrance: "Entrance"
	streetview: "streetview"
	transportationparking: "Transportation and parking"
	trainingshere: "Trainings at this venue"
	notraininghere: "At the moment, I have no plan to organize a training here. \"Let me know\":[%s] if you think I should have one."
