langs:
	cs_CZ: Česky
	en_US: English
title:
	who: "Who?"
	contact: Contact
	articles: "Articles"
	companytrainings: "In-house trainings"
	companytraining: "In-house training %s"
	interviews: Interviews
	interview: "Interview %s"
	talks: Talks
	talk: "Talk %s (%s)"
	trainings: "Trainings"
	training: "Training %s"
	trainingreviews: "Reviews for training %s"
	trainingmaterials: "Materials for training %s"
	trainingapplication: "Application for %s"
	error400: "Špaček doesn't know how to do this!"
	error403: "Here be dragons. And Špaček!"
	error404: "Looks like Špaček does not have this!"
	error405: "This does not work with Špaček!"
	error410: "I was here, Špaček!"
	forbidden: "Forbidden"
	venue: "Venue %s"
	photo: "Photo"
	blog: Blog
	admin:
		talkslides: "Slides from %s (%s)"
feed:
	allarticles: All articles
	articlesbytag: Articles tagges as %s
header:
	who: "Who is Michal Špaček?"
label:
	contact: Contact
	twitter: Twitter
	facebook: Facebook
	linkedin: LinkedIn
	github: GitHub
	email: E-mail
	skype: Skype
	billingaddress: Billing address
	companyid: "Company id"
	companyvatid: "VAT id"
	bankaccount: Bank account
	iban: IBAN
	swift: BIC/SWIFT
	litecoin: Litecoin
	openpgpkeyid: OpenPGP key id
	fingerprint: Fingerprint
	keybase: Keybase
	now: Now
	before: Before
	developer: "A **developer** and a **trainer**, Zend Certified Engineer"
	reporturideveloper: "A **Report URI developer**"
	speaker: "A **speaker**"
	webtop100juror: "**WebTop100** juror a guarantor"
	skyper: "A **Skyper** based in Prague, Czech Republic"
	slevomat: "A developer in **Slevomat.cz**"
	ipo48: "Co-organizer of **IPO48**"
	simpletest: "Adviser/mentor for **SimpleTest.IO**"
	tojeono: "Co-founder of hosting service **tojeono.cz**"
	otherprojects: "Other projects"
	bankshttps: "Banking HTTPS"
	banksczhttps: "Czech banking HTTPS"
	upckeys: "UPC Wi-Fi keys"
	heartbleedcz: "Heartbleed in CZ"
	webleed: "Project \"We Bleed\""
	pulse: Pulse
	elephpantcz: "ElePHPant"
	elephpant: "Elephpant"
	mytrainings: My trainings
	myarticles: My articles
	allarticles: All articles
	mytalks: My talks
	upcomingtalks: Upcoming talks
	pasttalks: Talks
	alltalks: All talks
	myinterviews: Me answering questions
	allinterviews: All interviews
	writtenarticles: "Articles I've written"
	publictrainings: Public trainings
	companytrainings: In-house trainings
	lowercasecompanytraining: "in-house training"
	partnertrainings: Partnership trainings
	trainingname: Course name
	trainingcontent: Content
	traininglecturer: Lecturer
	traininglength: Length
	trainingcapacity: Capacity
	trainingprice: Price
	trainingorder: Sign-up
	error: Error
	homepage: Home page
	trainings: Trainings
	interviews: Interviews
	audiorecording: "Audio recording"
	videorecording: "Video recording"
	lowercasevideo: video
	dateforwhom: "Date and for whom"
	interviewdetail: "Interview detail"
	recording: "Recording"
	talks: Talks
	slides: Slides
	application: "Sign-up"
	lowercaseapplication: "sign-up"
	preliminaryapplication: "Preliminary sign-up"
	trainingreviews: "Training reviews"
	participantsfeedback: "Feedback from participants"
	othertrainings: "Other trainings"
	date: "Date"
	tentativedate: "tentative date"
	participant: "Participant"
	companydetails: "Company details"
	optional: "optional"
	errors: "Errors"
	prerequisites: "Prerequisites"
	intendedfor: "Target audience"
	signup: "sign-up"
	materials: "Materials"
	map: "map"
	favorite: "Favorites"
	download: Download
	encrypt: Encrypt
	copy: Copy
	taxid:
		cz: VAT ID
		sk: VAT ID
contact:
	twitter: @spazef0rze
	skypename: spazef0rze
	billingaddress: "České Vrbné 2315, České Budějovice 37011, Czech Republic"
	vatpayer: VAT payer
	encryptedmessages: Encrypted messages
	mypgpkey: My PGP key
	newmessage: New message
	copied: "Encrypted message is now in the clipboard, paste it to an email and send it to me."
	copythis: "Copy the encrypted message, paste it to an email and send it to me."
	howto:
		1: "Enter your message to the form below, encrypt it, copy and paste it to en e-mail message, and send it to \"%s\":[%s]."
		2: "Your message is encrypted in your browser, transmission of such text is secure, only me can decrypt it. Check that the page was loaded over HTTPS and there were no certificate errors."
		3: "Please remember that I can't securely reply back if I don't have your public PGP key."
	loading: "Loading, please wait"
	entermessagehere: "Enter your message here"
	requirements: "Requires JavaScript"
who:
	hi: "Hi, I'm Michal Špaček."
	developer:
		1: "I'm into web, security, and performance. I build, break, and test web applications."
		2: "I'm a \"Zend Certified Engineer\":[%s] since 2009."
		3: "As a developer, I've learned a lot and I like to pass my knowledge and experience on my \"trainings\":[%s]. Since 2011, I've delivered over %s workshops."
		4: "I want to show other web developers why and how to build secure and fast web applications."
	reporturideveloper:
		1: "\"I joined Report URI\":[blog:adding-features-and-deleting-code-or-how-i-joined-report-uri], a real-time security reporting tool, in 2017."
		2: "Founded by \"Scott Helme\":[%s] (runs \"Security Headers\":[%s], too), later joined by \"Troy Hunt\":[%s] of \"Have I Been Pwned?\":[%s] fame."
		3: "Both Scott and Troy are award-winning security researchers and bloggers."
	speaker:
		1: "I've been speaking at more than %d conferences and events, including \"WebExpo Conference\":[%s] in Prague, Czech Republic and \"Passwords conference\":[%s] in Las Vegas, USA, both multiple times."
		2: "Check the list of all my \"Talks\":[%s]."
	webtop100juror:
		1: "Since 2011, I'm a juror and since 2014 also a guarantor for the area of technical solution and security for \"WebTop100\":[%s], the largest competition of company websites in the Czech Republic."
		2: "I wrote several \"articles\":[%s] about the experience with the evaluation and also about the results."
	skyper: "Absolutely awesome 5 years and 5 months since my Day One in Tallinn, Estonia until November 2012 in which I've learned gazillion of new things about how to build a service for hundreds of millions of users, how to build a company, and how to grow an office from few people up to a hundred."
	slevomat:
		1: "I was working for one of the fastest growing on-line companies in the Czech Republic from September 2013 to June 2014."
		2: "I've done a talk about how we've secured the application and user data. The slides from the talk are on-line and the talk is called \"How we have improved the security of Slevomat.cz\":[%s] (in Czech only)."
	ipo48:
		1: "The IPO48 event held at February 2011 hosted 100+ developers, designers, and entrepreneurs all with focus on modern technology."
		2: "They had to find their teammates, build an application prototype and create a business model that would succeed in the fierce competition in the global market."
		3: "You can read about the event in \"Zdroják\":[%s], at \"David Grudl\":[%s], and at \"John Vanhara\":[%s] (all in Czech only)."
	simpletest:
		1: "\"SimpleTest.IO\":[%s] was an on-line tool to regularly scan your web for broken links, missing images, and other issues."
		2: "Originally we've intended to build //Selenium in the cloud//, but with this project we've failed to overcome the obstacles of today's dynamic web, so we've shut it down in spring 2014."
	tojeono:
		1: "In late 2003, my colleagues and I decided to purchase our own servers, which we've offered under the brand name \"tojeono.cz\":[%s] to use by our clients and other customers who required customized hosting services."
		2: "I left the project after about a year and after two more years I also left my colleagues."
	more: "More about me and my experience at \"LinkedIn\":[%s]."
homepage:
	tagline: "I build web applications and I'm into web application security. I like to speak about secure development. My mission is to teach web developers how to build secure and fast web applications and why."
	aboutme: "more about me"
	contact: contact
	trainings: "Come to my public trainings, everybody's welcome"
articles:
	readmore: "read more…"
companytrainings:
	offer: "Want to arrange a training at your company on the date you choose? I'll come to visit you at your location or anywhere else. I offer the following trainings but we can also prepare a course tailored to your requirements and knowledge of your developers."
	publictraining: "If you want, you can sign-up your developers to my \"public trainings\":[%s] as well."
	morereviews: "Find more reviews on \"the public training reviews page\":[%s]."
	lecturerwho: "about the lecturer"
	lecturercontact: "contact the lecturer"
	capacity: "Unlimited but over 12 people we'll have less time for questions."
	price: "**%s Kč**, %s Kč incl. VAT"
	signup: "To order an in-house training, just pick a date and \"drop me an e-mail\":[%s] to sort out other details."
error:
	tryother: "Try other pages"
	400: "Your browser sent a request that this server could not understand or process."
	403: "You don't have permission to view this page. It's either read-only or not readable."
	404: "The page you requested could not be found. The address is incorrect, or that the page no longer exists."
	405: "The requested method is not allowed for the URL."
	410: "The requested URL is no longer available on this server and there's nowhere to be redirected to."
forbidden:
	spam: "Access forbidden for repeated spammy crap."
interview:
	detail: "Interview detail on the web"
talks:
	atyourevent:
		upcoming: "I'll happily do a talk at your event or conference, \"let me know\":[%s]!"
		noupcoming: "…at your event or conference, \"let me know\":[%s]!"
	wastalking: "…\"in a cinema\":[%s], \"in a casino in Las Vegas\":[%s] (and \"again\":[%s] and \"again\":[%s] and \"again\":[%s]), \"in a former fallout shelter\":[%s] in Prague, Czech Republic, in pubs, at conferences, both in Czech and in English."
	more: "…and more at \"SlideShare\":[%s] and \"Speaker Deck\":[%s]"
	slidesorigin: "Find slides in a similar talk titled \"%s\":[%s]"
	detail: "Talk detail"
	detailevent: "Details on the event website"
	dateevent: "Date and event"
	supersededby: "This talk has been amended and superseded by \"%s\":[%s], view that one."
	duration: "talk duration %s minutes"
	durationshort: "%s minutes"
	transcript: Notes transcript
	slidescount: "%count% slide|%count% slides"
	onlineversion: "\"Online version\":[%s]"
	admin:
		slideadded: "Slide added"
		duplicatealias: "Alias for slide %s already exists"
		maxslideuploadsexceeded: "Maximum number of simultaneously uploaded slide images (%d) exceeded"
trainings:
	spammyapplication: "The application looks like spam, this is a no-go."
	errorapplication: "Oops, something went wrong. The application was not submitted, please try again in a while."
	submitted:
		tentative: "Thanks for signing up! I'll let you know once I have the final date."
		confirmed: "Thanks for signing up! Confirmation e-mail is on it's way, invoice will follow in few days. Could take a bit longer if there's still a enough time before the training."
		preliminary: "Thanks for preliminarily signing up! I'll let you know once I have a date set."
	fewseatsleft: "Few last places left, sign-up now!"
	welcome: "I organize the following trainings:"
	companytraining: "I can also prepare an in-house training, \"in your company\":[%s]."
	companyextratraining: "Any public training can also be turned into an \"in-house training\":[%s]. As an extra, I offer these in-house-only courses:"
	consultancy: "I also offer consulting for your business, \"contact me\":[%s]!"
	partnertrainings:
		intro: "Want more? Try these courses organized by my **friends or business partners**:"
		companyintro: "Want some more? Try these courses organized by my **friends or business partners**:"
		frontend: "\"Responzivní design\":[%s] a další \"kurzy moderního **frontendového vývoje**\":[%s], které vede //profík// na CSS **Martin Michálek** a jeho kolegové"
		nette: "\"Vývoj webových aplikací v **Nette Framework**\":[%s] a \"Mistrovství v Nette\":[%s] přímo od autora frameworku **Davida Grudla**"
		pehapkari: "\"**Péhápkáři**\":[%s] pořádají každý měsíc \"školení o **technologiích a nástrojích**\":[%s], které s PHP úzce souvisí"
		cryptosession: "\"Two-day **cryptography** deep dive\":[%s] by renowned Czech cryptologist **Jan Dušátko**"
	files:
		thankyou: "Díky za účast na školení %s dne %s."
		download:
			formal: "Níže si pro Vaši osobní potřebu můžete stáhnout materiály, které jsme na školení použili."
			familiar: "Níže si pro tvou osobní potřebu můžeš stáhnout materiály, které jsme na školení použili."
	moretrainings:
		formal: "Rád Vás přivítám i na nějakém dalším školení, které \"pořádám\":[%s]."
		familiar: "Rád tě přivítám i na nějakém dalším školení, které \"pořádám\":[%s]."
	more: "more…"
	jointhem: "Přidejte se k těmto účastníkům a \"přihlaste se\":[%s] na školení \"%s\":[%s]!"
	addanother: "Add another participant"
	cometoothertrainings: "Přijďte i na další školení, která pořádám a vedu:"
	signuperrors: "Přihláška nebyla odeslána, předtím než se ji pokusíte odeslat znovu, opravte následující chyby:"
	loaddata:
		title: "load additional data from the register by the company id"
		loadrest: "load the rest"
		wait: "wait…"
		notfound: "not found,"
		error: "error,"
		again: "again"
		countrycompanymissing: "Nejdříve vyberte zemi a zadejte IČO"
	lecturerwho: "about the lecturer"
	lecturercontact: "contact the lecturer"
	date:
		one: "Date and venue"
		more: "Dates and venues"
	lunchbreak: "one hour lunch break"
	tentativedate: "**Předběžný termín** - přesné datum zatím neznám. Můžete vyplnit nezávaznou přihlášku a dám vám vědět, až datum budu znát."
	extendedtime: "According to the situation, the course can be longer by an extra hour."
	capacity: "Maximum of %s participants"
	price: "**%s Kč**, %s Kč incl. VAT"
	studentdiscount: "%s%% discount for students"
	allreviews: "All reviews"
	datausage: "Zadané údaje budou použity pro vystavení faktury, která vám bude zaslána e-mailem během několika dní, případně pro zaslání pozvánky, pokud se hlásíte na předběžný termín."
	conditions: "Pokud se školení z jakéhokoliv důvodu neuskuteční nebo se přesune na jiný termín, který vám nebude vyhovovat (živelní pohroma, nemoc přednášejícího, …), bude vám vrácena celá zaplacená částka. Pokud nastanou překážky na straně účastníka, může za sebe poslat náhradníka nebo se zúčastnit náhradního termínu."
	sendinginvite: "Na zadanou e-mailovou adresu zašlu pozvánku, jakmile termín tohoto školení vypíšu. Na nic jiného nebude použita."
	companythistraining: "This training can also be organized \"in-house\":[%s]."
	nodateyet:
		short: "termín zatím nevypsán"
		long: "Žádný termín není zatím stanoven. \"Dejte mi níže vědět\":[%s], pokud byste o školení měli zájem."
	regularlyeveryquarter: "Trainings in Prague are held regularly in the middle of March, June, September, and December, in other cities irregularly."
	discontinued:
		takenoverby:
			martinhujer: "Hledáte kurzy %s? Předal jsem je \"Martinovi Hujerovi\":[%s]."
venues:
	nameaddress: "Name and address"
	entrance: "Entrance"
	entrancenavigation: "To entrance"
	streetview: "streetview"
	transportationparking: "Transportation and parking"
	trainingshere: "Trainings at this venue"
	notraininghere: "At the moment, I have no plan to organize a training here. \"Let me know\":[%s] if you think I should have one."
photo:
	downloadsizes: "Download sizes:"
	trademark:
		header: "Trademark"
		desc: "Please use **this photo**, it's like my //trademark//. I use it on \"Twitter\":[%s], on \"Facebook\":[%s], and elsewhere on the web, so that people can recognize me easily. This great picture was shot by \"Lukáš Hudeček\":[%s]."
	lecturer:
		header: "As a lecturer"
		desc: "Too optimistic? Use this one. It's from \"Code Camp\":[%s] and was taken by \"Josef Havlín\":[%s]."
	office:
		header: "In the office"
		desc: "Taken in Skype Prague office back in the day."
	talk:
		header: "Speaking"
		desc: "This photo was shot at WebTop100, when I was talking about \"web performance and security\":[%s]."
certificates:
	admin:
		expireddaysago: "%count% day ago|%count% days ago"
		expiresindays: "in %count% day|in %count% days"
blog:
	post:
		recommendedreading: "Recommended reading"
		edits: "Updates"
	admin:
		postadded: "Blog post \"%s\" added • \"Edit\":[%s] • \"View\":[%s]"
		postupdated: "Blog post \"%s\" updated • \"Edit\":[%s] • \"View\":[%s]"
		duplicateslug: "Blog post with such slug already exists"
