introphp:
	name: "Introduction to PHP"
	description: 'Školení **Úvod do PHP** společně s kurzem "**Třídy a objekty v PHP**":[link:Www:Trainings:training tridy-a-objekty-v-php] pořádám ve spolupráci s "Akademií Root.cz":https://www.root.cz/skoleni/. Na úvodním kurzu se naučíte vše co budete potřebovat k psaní jednoduchých skriptů v PHP.'
	upsell: 'Že tohle všechno už znáte? A víte, jak správně aplikace zabezpečit? Přijďte na školení "bezpečnosti":[link:Www:Trainings:training bezpecnost-php-aplikaci] a "HTTPS":[link:Www:Trainings:training https-pro-vyvojare-a-spravce].'
	prerequisites: 'Na toto školení byste měli přijít se znalostí HTML a alespoň základní znalostí syntaxe SQL. Pokud si chcete přinést vlastní počítač, měli byste na něm mít nainstalováno PHP, např. pomocí balíku "XAMPP":https://www.apachefriends.org/index.html.'
	audience: 'Školení je určeno pro autory webových aplikací.'
	materials: 'Účastníci dostanou tištěnou prezentaci a certifikát. Dostatek prostoru bude věnován na dotazy. Po skončení školení zasílám komentovanou prezentaci e-mailem i s příklady použitými na školení.'
	content: '''
		- Základní syntaxe, vkládání do HTML
		- Komentáře, operátory, proměnné, typy
		- Komunikace s uživatelem přes formuláře, session
		- Vestavěné a vlastní funkce, třídy a objekty
		- Řídící struktury `if`, `switch`, cykly `while`, `do`, `for`, `foreach`
		- Vyčlenění a propojení jednotlivých částí aplikace
		- Práce s databází MySQL
		- Nastavení, knihovny PECL a PEAR, Composer, dokumentace
		- Šablonovací systémy
		- Příkazový řádek
	'''
	inhouse:
		description: 'Na tomto školení si ukážeme vše co budete potřebovat k psaní jednoduchých skriptů v PHP. Doporučuji absolvovat i kurz "Třídy a objekty v PHP":[link:Www:CompanyTrainings:training tridy-a-objekty-v-php], zvlášť pokud chcete vytvářet větší aplikace.'
		upsell: 'Aplikace dnes musí být bezpečné a výkonné, na školení "bezpečnosti":[link:Www:Trainings:training bezpecnost-php-aplikaci] a "výkonnosti":[link:Www:Trainings:training vykonnost-webovych-aplikaci] webových aplikací vám ukážu, jak na to.'
		duration: 'Školení je jednodenní, trvá 8 hodin i s přestávkami, ale dle situace se může až o hodinu protáhnout.'
		alternativeduration: 'Pokud budete mít zájem o více praktických příkladů a úloh, můžeme školení uspořádat i dvoudenní.'
		alternativedurationprice: 'Základní cena dvoudenního školení je %s Kč bez DPH, %s Kč s DPH.'

php5:
	name: "Programming PHP 5"
	description: 'Toto školení společně s "**Úvodem do PHP**":[link:Www:Trainings:training uvod-do-php] pořádám ve spolupráci s "Akademií Root.cz":https://www.root.cz/skoleni/. Naučíte se na něm využívat objektově orientované programování (OOP) a několik šikovných rozšíření pro snadnější vývoj větších aplikací v PHP.'
	upsell: 'Zvládáte objekty //levou zadní//? A máte aplikace dostatečně bezpečné? Přijďte na školení "bezpečnosti":[link:Www:Trainings:training bezpecnost-php-aplikaci] a "HTTPS":[link:Www:Trainings:training https-pro-vyvojare-a-spravce].'
	prerequisites: 'Měli byste znát PHP v rozsahu školení "Úvod do PHP":/skoleni/uvod-do-php. Na vlastní počítač, pokud si ho chcete přinést, si PHP nainstalujte předem, např. pomocí balíku "XAMPP":https://www.apachefriends.org/index.html.'
	audience: 'Školení je určeno pro autory webových aplikací.'
	materials: 'Účastníci dostanou tištěnou prezentaci a certifikát. Dostatek prostoru bude věnován na dotazy. Po skončení školení zasílám komentovanou prezentaci e-mailem i s příklady použitými na školení.'
	content: '''
		- Objektový model - dědičnost, statické metody, abstraktní třídy, rozhraní, magické metody, klonování
		- Výjimky
		- Práce s databázemi - MySQLi, SQLite, PDO
		- Práce s XML - SimpleXML, DOM, XMLReader, SOAP
		- SPL, Reflection, JSON
		- Kompatibilita s PHP 4
		- Novinky a změny v PHP 5.3 - 5.6
		- Výhled na budoucnost PHP, PHP 7
	'''
	inhouse:
		description: 'Na školení Programování v PHP 5 se naučíme využívat objektově orientované programování (OOP) a několik šikovných rozšíření pro snadnější vývoj větších aplikací v PHP.'
		upsell: 'Jak aplikaci správně zabezpečit se dozvíte na školení "bezpečnosti":[link:Www:CompanyTrainings:training bezpecnost-php-aplikaci], jak zrychlit web na školení "výkonnosti":[link:Www:CompanyTrainings:training vykonnost-webovych-aplikaci].'
		duration: 'Školení je jednodenní, trvá 8 hodin i s přestávkami, ale dle situace se může až o hodinu protáhnout.'
		alternativeduration: 'Pokud budete mít zájem o více praktických příkladů a úloh, můžeme školení uspořádat i dvoudenní.'
		alternativedurationprice: 'Základní cena dvoudenního školení je %s Kč bez DPH, %s Kč s DPH.'

securityphp:
	name: "PHP application security"
	description: "I'm into web application security and I like security research. It's a sensitive topic and every little thing left forgotten can get you and your users into trouble. Quite often you'll find me writing \"articles and posts\":[link:Www:Articles:] about web security, I'm also \"a speaker\":[link:Www:Talks:]. I'd like to share my experience with you and teach you how to secure web applications and how to test them for vulnerabilities."
	upsell: 'Do you want to know more about **HTTPS**? Then "this training for developers and admins":[link:Www:Trainings:training https-pro-vyvojare-a-spravce] is just for you.'
	prerequisites: 'Just basic knowledge of HTML, JavaScript, PHP and SQL. Training is also appropriate for developers working in other languages (e.g. Java or Python), most of the principles and attacks are the same.'
	audience: 'The training is designed for both senior web application developers and junior developers to gain competitive advantage.'
	materials: "Participants will receive a printed materials and a certificate. We'll dedicate enough time for questions. After completing the training, I'll send the presentation with comments via e-mail as well as with the code examples used for the training."
	content: '''
		Description, threats, and defense against web attacks:
		Day 1
		=====
		- **Application and device discovery**
		  Using specialized search engines like Shodan or Certificate Transparency.
		- **Full Path Disclosure**
		  Why are PHP error messages appealing to the attacker and what do they learn from them?
		- **Cross-Site Scripting** (XSS)
		  Attacks againt visitors and their browsers, different XSS((Cross-Site Scripting)) types (stored, reflected, DOM((Document Object Model))-based), defending on the server and in the browser, XSS Auditor, BeEF demo.
		- **Content Security Policy** (CSP)
		  Another additional defense layer against XSS((Cross-Site Scripting)) and more. Uses lists of allowed resources.
		- **SQL Injection**
		  About "dumping" data and changing them in tables that are not accessible by default. Details about Blind SQL Injection, Time-based blind SQL Injection, and the differences between prepared statements and variable binding. Testing the vulnerability using a demo site, sqlmap demo.
		- **File uploads** and **remote execution**
		  How to upload user files, where to store then, how to name the files. Running external programs (for example image resizing) "in the cloud", and the danger lurking in deserializing user inputs.
		- **Cross-Site Request Forgery** (CSRF), **Clickjacking**
		  A bad guy can force a user to perform an action without their knowledge or lure him to click on a page element they would not normally click. What is it good for and how to defend against such thing?
		- **Session Hijacking**, **Session Fixation**
		  Whoever is in possesion of session id is the master, so we have to protect the id. About HTTP-only cookies, session id regeneration, and also about multiple user sessions.
		Day 2
		=====
		- **XML External Entity Injection** (XXE)
		  Configuration files or source code can be obtained from the server by parsing XML files with custom entities. We'll see how and how to stop it.
		- **Secure random data**
		  Where the randomness comes from, why `rand()` shouldn't be used for generating tokens, encryption keys etc.
		- **Hashing and storing user passwords**
		  How passwords are cracked, what's "salt", why use algorithms like bcrypt or Argon2i, why not MD5 or SHA-1 (or SHA-2, SHA-3). How to change hashing algorithm without resetting passwords for all users?
		- **Data encryption**
		  What's Authenticated Encryption (AE) and how to encrypt data?
		- **HTTPS((HTTP Secure))**
		  Server configuration, testing tools, enforcing HTTPS with HTTP Strict Transport Security (HSTS).
		- **Unauthorized data access**
		  How to get other customers' invoices and how to protect your application against the Insecure Direct Object Reference attack.
		- **Abusing contact forms to send spam**
		  Adding arbitrary headers to send messages to attacker-supplied recipients, with custom message bodies.
		- **Configuration and protecting source code**
		  Server and PHP configuration best practices.
		- **HTTP security headers**
		  Some HTTP headers may help you protect your application better, or just make a successful attack less bad. We'll see which headers and how to test your site using Security Headers and Mozilla Observatory.
	'''
	inhouse:
		description: 'Bezpečnost webových aplikací mě zajímá a baví mě ji zkoumat. Je to citlivé téma a každá zapomenutá drobnost může dostat do problémů nejen vás, ale i vaše uživatele. O zabezpečení webu často píšu "články":/clanky a "přednáším":/prednasky. Rád vaše vývojáře naučím, jak webové aplikace zabezpečit a jak je na bezpečnost testovat. Školení je vhodné i pro vývojáře, kteří pracují např. v Javě nebo Pythonu, většina útoků a principů je stejných.'
		upsell: 'Zabezpečené přenosy dat pomocí protokolu **HTTPS** detailně rozebíráme na "školení pro správce a vývojáře":[link:Www:CompanyTrainings:training https-pro-vyvojare-a-spravce].'
		duration: 'Školení je dvoudenní, každý den 8 hodin i s přestávkami, ale dle situace se může až o hodinu protáhnout.'
		alternativeduration: 'Pokud budete chtít probrat jen některá témata, můžeme školení uspořádat pouze jednodenní.'
		alternativedurationprice: 'Základní cena jednodenního školení je %s Kč bez DPH, %s Kč s DPH.'

advancedwebsecurity:
	name: 'Pokročilá webová bezpečnost'
	description: 'Pokročilá webová bezpečnost'
	upsell: 'Přijďte na školení "bezpečnosti":[link:Www:Trainings:training bezpecnost-php-aplikaci]'
	prerequisites: 'Kurz Bezpečnost PHP aplikací'
	audience: 'Vývojáři se zájmem o bezpečnost'
	materials: 'Účastníci dostanou tištěnou prezentaci a certifikát. Dostatek prostoru bude věnován na dotazy. Po skončení školení zasílám komentovanou prezentaci e-mailem i s příklady použitými na školení.'
	content: '''
	    Pokročilá webová bezpečnost
	'''
	inhouse:
		description: 'Pokročilá bezpečnost'
		upsell: 'Pokročilá bezpečnost'
		duration: 'Školení je jednodenní, trvá 8 hodin i s přestávkami, ale dle situace se může až o hodinu protáhnout.'
		alternativeduration: 'Pokud budete mít zájem o více praktických příkladů a úloh, můžeme školení uspořádat i dvoudenní.'
		alternativedurationprice: 'Základní cena dvoudenního školení je %s Kč bez DPH, %s Kč s DPH.'

webperformance:
	name: "Web application performance"
	description: 'Přijďte si popovídat o výkonu vašich webových aplikací a dozvědět se nějaké tipy a triky, jak jejich výkon zvýšit. Můžete se inspirovat mojí krátkou "přednáškou na toto téma":[link:Www:Talks:talk optimalizace-vykonu-webovych-aplikaci-vse]. O výkonnosti také píšu "články":[link:Www:Articles:] a "přednáším":[link:Www:Talks:].'
	upsell: 'Je výkon vašich aplikací dostačující? A jaké je jejich zabezpečení? Přijďte to zjistit na školení "Bezpečnost PHP aplikací":[link:Www:CompanyTrainings:training bezpecnost-php-aplikaci].'
	prerequisites: 'Přijďte se znalostmi PHP, MySQL a JavaScriptu.'
	audience: 'Školení je určeno jak pro tvůrce webových aplikací a částečně i jejich správce.'
	materials: 'Účastníci dostanou tištěnou prezentaci a certifikát. Dostatek prostoru bude věnován na dotazy. Po skončení školení zasílám komentovanou prezentaci e-mailem i s příklady použitými na školení.'
	content: '''
		Optimalizace jednotlivých částí webové aplikace:
		- HTTP - hlavičky ovlivňující platnost stránky
		- HTTP/2 - rychlost načítání stránek
		- Webový server - nastavení Apache, alternativy
		- HTML, CSS - rychlost stránek u klienta
		- JavaScript - rychlost operací, práce s pamětí
		- PHP - akcelerátory, efektivita kódu
		- MySQL - práce s databází //(více na školení "Konfigurace a výkonnost MySQL":http://php.vrana.cz/skoleni-konfigurace-a-vykonnost-mysql.php Antonína Faltýnka) .[small]//

		Společné koncepty:
		- Cache - databáze, disk, paměť
		- Profilování - hledání úzkého hrdla
		- Benchmarky - měření výkonnosti
		- Rozkládání zátěže - webový server, databáze
	'''
	inhouse:
		description: 'Pokud se vaše webové aplikace již trochu zadýchávají a nestíhají vyřizovat požadavky uživatelů tak vám prozradím nějaké tipy a triky, jak zvýšit výkon samotné aplikace, serveru, i prohlížeče.'
		upsell: 'Je výkon vašich aplikací dostačující? A jaké je jejich zabezpečení? Přijďte to zjistit na školení "Bezpečnost webových aplikací":[link:Www:CompanyTrainings:training bezpecnost-php-aplikaci].'
		duration: 'Školení je jednodenní, trvá 8 hodin i s přestávkami, ale dle situace se může až o hodinu protáhnout.'
		alternativeduration: 'Pokud budete mít zájem o více praktických příkladů a úloh, můžeme školení uspořádat i dvoudenní.'
		alternativedurationprice: 'Základní cena dvoudenního školení je %s Kč bez DPH, %s Kč s DPH.'

php5securityperformance2days:
	name: "PHP 5, security, and performance (2 days)"
	description: 'PHP 5, bezpečnost, výkonnost webových aplikací'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: '''
		- PHP 5 (30%)
		- bezpečnost (20%)
		- výkonnost webových aplikací (50%)
	'''

securityusers:
	name: "Security for users"
	description: 'Používat slabá hesla není dobrý nápad. Ukážu vám proč a rovnou vysvětlím, že byste ani silné heslo neměli používat pro přihlašování k více službám. Na školení si představíme nástroj, který si hesla bude pamatovat za vás a pomůže vám i s jejich vytvářením. Takovému nástroji se říká správce hesel (//password manager//), během školení si jednoho správce nainstalujeme a sami se ho prakticky naučíte využívat. Nastavíme si bezpečnější přihlašování na několik známých webových služeb a vyladíme si webový prohlížeč tak, aby pomáhal chránit vás a vaše data.'
	upsell: 'Chcete vytvářet bezpečné aplikace? Na školení "bezpečnosti webových aplikací pro vývojáře":[link:Www:Trainings:training bezpecnost-php-aplikaci] vás naučím, jak na to.'
	prerequisites: 'Stačí, když budete umět ovládat webový prohlížeč. Ujistěte se, že máte možnost do něj instalovat doplňky.'
	audience: 'Školení je určeno pro uživatele Internetu a webových aplikací.'
	materials: 'Účastníci dostanou tištěnou prezentaci a certifikát. Po skončení školení zasílám prezentaci e-mailem. Dostatek prostoru bude věnován na dotazy.'
	content: '''
		- Práce s hesly
		- Správce hesel ("password manager")
		- Zabezpečení Facebooku, Twitteru, Google+
		- Dvoufázová autorizace, ověření přihlášení
		- HTTPS
		- Blokování reklam
		- Flash a Java
		- Zabezpečení zařízení, telefonu, laptopu
		- Sdílení souborů, cloud
	'''
	inhouse:
		description: 'Používat slabá hesla není dobrý nápad a je jedno, jestli se jedná o pracovní účty, nebo soukromé. Ukážu vám proč a rovnou vysvětlím, že byste ani silné heslo neměli používat pro přihlašování k více službám. Na školení si představíme nástroj, který vám pomůže vytvářet silná hesla a zároveň si je za vás bude pamatovat. Takovému nástroji se říká správce hesel (//password manager//), během školení si jednoho správce nainstalujeme a sami se ho prakticky naučíte využívat. Nastavíme si bezpečnější přihlašování na několik známých webových služeb a vyladíme si webový prohlížeč tak, aby pomáhal chránit vás a vaše data.'
		upsell: 'Chcete své vývojáře naučit vytvářet bezpečné aplikace? Na školení "**bezpečnosti webových aplikací**":[link:Www:CompanyTrainings:training bezpecnost-php-aplikaci] jim ukážu, jak na to. Potřebujete spíš **otestovat vaši webovou aplikaci**, jestli je dostatečně zabezpečená? "Napište mi":mail@michalspacek.cz!'
		duration: 'Školení je jednodenní, trvá 8 hodin i s přestávkami, ale dle situace se může až o hodinu protáhnout.'
		alternativeduration: 'Pokud budete mít zájem o více praktických příkladů a úloh, můžeme školení uspořádat i dvoudenní.'
		alternativedurationprice: 'Základní cena dvoudenního školení je %s Kč bez DPH, %s Kč s DPH.'

php5securityperformance3days:
	name: "PHP 5, security, and performance (3 days)"
	description: 'Programování v PHP zaměřené na bezpečnost a výkon'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: 'PHP 5, bezpečnost a výkonnost'

httpsdevsadmins:
	name: "HTTPS for developers and admins"
	description: 'Samotné HTTPS, tedy šifrování přenášených informací, nezabezpečí váš web. Zabezpečí ale jeho návštěvníky, informace a soubory, které si stahují i jejich hesla. Pokud vaše webová aplikace nabízí nebo vyžaduje přihlášení, rozhodně by na HTTPS měla běžet. HTTPS má spoustu nastavení i drobností, které je ale potřeba nastavit správně, aby uživatelé byli chránění pokud možno co nejlépe. Na tomto školení vás to naučím.'
	upsell: 'Chcete se dozvědět, jak web zabezpečit proti dalším častým útokům? Přijďte na školení "Bezpečnost PHP aplikací":[link:Www:Trainings:training bezpecnost-php-aplikaci]!'
	prerequisites: 'Stačí, když budete vědět, že webový prohlížeč posílá nějaké požadavky a server na ně odpovídá. Plusem bude, pokud budete tušit, jak a kde se konfiguruje váš server'
	audience: 'Školení je určeno pro vývojáře webových aplikací a pro správce webových serverů, kterým záleží na bezpečí a soukromí jejich uživatelů.'
	materials: 'Účastníci dostanou tištěnou prezentaci a certifikát. Po skončení školení zasílám prezentaci e-mailem. Dostatek prostoru bude věnován na dotazy.'
	content: '''
		- Co je a k čemu slouží HTTPS
		- Certifikáty a certifikační autority
		- //Certificate Transparency//, CAA((Certificate Authority Authorization)) záznam
		- Výměna klíčů, //Forward Secrecy//
		- Útoky typu //Man-in-the-Middle// a jak se jim bránit
		- Správné nastavení serveru a webové aplikace, //mixed content//, výsledky SSL Labs testu
		- Útoky na HTTPS (CRIME((Compression Ratio Info-leak Made Easy)), BREACH((Browser Reconnaissance and Exfiltration via Adaptive Compression of Hypertext)), POODLE((Padding Oracle On Downgraded Legacy Encryption)))
		- HTTP/2
	'''
	inhouse:
		description: 'Šifrování přenášených informací nezabezpečí váš web. HTTPS však zabezpečí jeho návštěvníky, informace a soubory, které si stahují i jejich hesla. Pokud vaše webová aplikace nabízí nebo vyžaduje přihlášení, rozhodně by na HTTPS měla běžet. HTTPS má spoustu nastavení i drobností, které je ale potřeba vyřešit správně, aby uživatelé byli chránění pokud možno co nejlépe. Na tomto školení to vaše vývojáře a správce naučím.'
		upsell: 'Na školení "Bezpečnost webových aplikací":[link:Www:CompanyTrainings:training bezpecnost-php-aplikaci] vývojáře naučím, jak web zabezpečit proti dalším častým útokům.'
		duration: 'Školení je jednodenní, trvá 8 hodin i s přestávkami.'
		alternativeduration: 'Chcete si vyzkoušet vytvořit vlastní certifikační autoritu a vystavit certifikát nebo se naučit odhalovat problémy v HTTPS spojení? Školení můžeme uspořádat i dvoudenní.'
		alternativedurationprice: 'Základní cena dvoudenního školení je %s Kč bez DPH, %s Kč s DPH.'

securityjava:
	name: "Web application security (Java)"
	description: 'Bezpečnost webových aplikací (pro vývojáře v Javě)'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: 'Podobně jako Bezpečnost PHP aplikací, bez věcí specifických pro PHP'

securityjava2days:
	name: "Web application security (Java, 2 days)"
	description: 'Bezpečnost webových aplikací (pro vývojáře v Javě)'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: 'Podobně jako Bezpečnost PHP aplikací, bez věcí specifických pro PHP, více příkladů'

securityphpperformance:
	name: "Web application security and performance (2 days)"
	description: 'Bezpečnost a výkonnost PHP aplikací'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: 'Bezpečnost PHP aplikací, výkonnost webových aplikací'

securityphp2days:
	name: "PHP application days (2 days)"
	description: 'Bezpečnost PHP aplikací'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: 'Bezpečnost PHP aplikací, více příkladů a detailů'

httpsdevsadmins2days:
	name: "HTTPS for developers and admins (2 days)"
	description: 'HTTPS pro vývojáře a správce'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: 'HTTPS pro vývojáře a správce, více příkladů a detailů'

classesobjectssecurityperformancephp5days:
	name: "Třídy a objekty, bezpečnost a výkonnost PHP aplikací (5 dní)"
	description: 'Třídy a objekty, bezpečnost a výkonnost PHP aplikací'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: 'Třídy a objekty v PHP, bezpečnost PHP aplikací, HTTPS pro vývojáře a správce, výkonnost PHP aplikací'

webappsecurityen:
	name: "Web application security (English)"
	description: 'Web application security, in English'
	upsell:
	prerequisites: ''
	audience: ''
	materials: ''
	content: 'Custom Web application security training, done in English'

classesobjectsphp:
	name: "Classes and objects in PHP"
	description: 'Toto školení společně s "**Úvodem do PHP**":[link:Www:Trainings:training uvod-do-php] pořádám ve spolupráci s "Akademií Root.cz":https://www.root.cz/skoleni/. Naučíte se na něm využívat objektově orientované programování (OOP) a několik šikovných rozšíření pro snadnější vývoj větších aplikací v PHP.'
	upsell: 'Zvládáte objekty //levou zadní//? A máte aplikace dostatečně bezpečné a výkonné? Přijďte na školení "bezpečnosti":[link:Www:Trainings:training bezpecnost-php-aplikaci] a "výkonnosti":[link:Www:Trainings:training vykonnost-webovych-aplikaci].'
	prerequisites: 'Měli byste znát PHP v rozsahu školení "Úvod do PHP":/skoleni/uvod-do-php. Na vlastní počítač, pokud si ho chcete přinést, si PHP nainstalujte předem, např. pomocí balíku "XAMPP":https://www.apachefriends.org/index.html.'
	audience: 'Školení je určeno pro autory webových aplikací.'
	materials: 'Účastníci dostanou tištěnou prezentaci a certifikát. Dostatek prostoru bude věnován na dotazy. Po skončení školení zasílám komentovanou prezentaci e-mailem i s příklady použitými na školení.'
	content: '''
		- Objektový model - dědičnost, statické metody, abstraktní třídy, rozhraní, magické metody, klonování
		- Výjimky
		- Jmenné prostory
		- Práce s databázemi - MySQLi, SQLite, PDO
		- Práce s XML - SimpleXML, DOM, XMLReader, SOAP
		- SPL, Reflection, JSON
		- Novinky a změny v PHP 5.3 - 5.6
		- PHP 7, výhled na budoucnost PHP
	'''
	inhouse:
		description: 'Na školení Třídy a objekty v PHP se naučíme využívat objektově orientované programování (OOP) a několik šikovných rozšíření pro snadnější vývoj větších aplikací v PHP.'
		upsell: 'Jak aplikaci správně zabezpečit se dozvíte na školení "bezpečnosti":[link:Www:CompanyTrainings:training bezpecnost-php-aplikaci], jak zrychlit web na školení "výkonnosti":[link:Www:CompanyTrainings:training vykonnost-webovych-aplikaci].'
		duration: 'Školení je jednodenní, trvá 8 hodin i s přestávkami, ale dle situace se může až o hodinu protáhnout.'
		alternativeduration: 'Pokud budete mít zájem o více praktických příkladů a úloh, můžeme školení uspořádat i dvoudenní.'
		alternativedurationprice: 'Základní cena dvoudenního školení je %s Kč bez DPH, %s Kč s DPH.'
