<!DOCTYPE html>
<html lang="cs">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" media="screen,projection,tv" href="{='/i/css/code.css'|staticUrl}" type="text/css">
</head>
<body>
<code><span class="color-000000">
<span class="color-0000BB">&lt;?php
<br /></span><span class="color-FF8000">// Look at you, hacker.
<br />// A pathetic creature of meat and bone, panting and sweating as you run through my corridors.
<br />// How can you challenge a perfect, immortal machine?
<br /></span><span class="color-0000BB">header</span><span class="color-007700">(</span><span class="color-DD0000">'Location: http://www.michalspacek.cz/skoleni/bezpecnost-php-aplikaci'</span><span class="color-007700">);
<br />exit;
<br /></span>
</span>
</code>
</body>
</html>
