<a n:href="Talks:talk $talk->action" n:tag-if="$talk->action"><strong>{$talk->title}</strong></a><br>
<small><strong class="date">{$talk->date|localeDay}</strong>, {$talk->event}{if $talk->duration} ({_messages.talks.durationshort|format:$talk->duration}){/if}</small>
<span n:if="$talk->hasSlides" title="{_messages.label.slides}">{icon images}</span>
<span n:if="$talk->videoHref" title="{_messages.label.videorecording}">{icon camera-video}</span>
