<a n:href="Talks:talk $talk->getAction()" n:tag-if="$talk->getAction()"><strong>{$talk->getTitle()}</strong></a><br>
<small><strong class="date">{$talk->getDate()|localeDay}</strong>, {$talk->getEvent()}{if $talk->getDuration()} ({_messages.talks.durationshort|format:$talk->getDuration()}){/if}</small>
<span n:if="$talk->isHasSlides()" title="{_messages.label.slides}">{icon images}</span>
<span n:if="$talk->getVideo()->getVideoHref()" title="{_messages.label.videorecording}">{icon camera-video}</span>
