#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error

	http:
		headers:
			Server: "<script>alert('Inline JavaScript is bad, m\\'kay?')</script>"
			X-Powered-By: "<img src=x onerror=alert('Automagic escaping, maybe?')>"
			X-Content-Type-Options: nosniff

	security:
		frames: false

	session:
		name: yourluckynumbers
		hash_function: sha512
		hash_bits_per_character: 6
		expiration: 14 days

translation:
	default: cs_CZ
	whitelist: [cs, en]
	resolvers:
		header: off
		request: off
		session: off
