database:
	default:
		dsn: 'mysql:host=localhost;dbname=cz_michalspacek'
		user: ...
		password: ...
	upcKeys:
		dsn: 'mysql:host=localhost;dbname=michalspacek_cz_upckeys'
		user: ...
		password: ...

mail:
	smtp: true
	host: localhost
	port: 25

parameters:
	locales:
		rootDomainMapping:
			cz: michalspacek.cz.local
			com: michalspacek.com.local

	notifier:
		vrana:
			url: http://echo.local/
			note: %notifier.vrana.successMarker%

	contentSecurityPolicy:
		www:
			img-src:
				- %domain.contentSecurityPolicySelf%
				- https://www.google-analytics.com
				- 'data:'
			script-src:
				- %domain.contentSecurityPolicySelf%
				- https://www.google-analytics.com
				- https://speakerdeck.com
				- "'unsafe-inline'"
				- "'unsafe-eval'"
			style-src:
				- %domain.contentSecurityPolicySelf%
				- "'unsafe-inline'"
		admin:
			script-src:
				- https://www.%domain.root%
				- "'unsafe-inline'"
				- "'unsafe-eval'"
			style-src:
				- https://www.%domain.root%
				- "'unsafe-inline'"
		api:
			img-src:
				- %domain.contentSecurityPolicySelf%
				- 'data:'
			script-src:
				- https://www.%domain.root%
				- "'unsafe-inline'"
				- "'unsafe-eval'"
			style-src:
				- https://www.%domain.root%
				- "'unsafe-inline'"
		heartbleed:
			img-src:
				- https://www.%domain.root%
				- https://www.google-analytics.com
				- 'data:'
			script-src:
				- https://www.%domain.root%
				- https://www.google-analytics.com
				- "'unsafe-inline'"
				- "'unsafe-eval'"
			style-src:
				- https://www.%domain.root%
				- "'unsafe-inline'"
		upc:
			img-src:
				- https://www.%domain.root%
				- https://www.google-analytics.com
				- 'data:'
			script-src:
				- https://www.%domain.root%
				- https://www.google-analytics.com
				- "'unsafe-inline'"
				- "'unsafe-eval'"
			style-src:
				- https://www.%domain.root%
				- "'unsafe-inline'"

	returningUser:
		cookie: cafebabe
		value: waldoxyzzy

	webTracking:
		cookie: qux
		value: quux

	encryption:
		keys:
			password:
				dev1: "\xab\xad\xca\xfe\xc1\x5c\x0d\x06\xf0\x0d\xca\xfe\xd0\x0d\xbe\xef" # \x[0-9A-F]{32}
			email:
				dev1: "\xca\xfe\xba\xbe\x25\xda\x17\x68\xd6\x9e\xe8\x07\x17\xcc\x2f\x30" # \x[0-9A-F]{32}
		activeKeyIds:
			password: dev1
			email: dev1

	awsLambda:
		upcKeys:
			url: "https://example.amazonaws.com/stage/upc_keys/%s/%s"
			apiKey: "britishteaatfiveoclockisnotacoffee"

services:
	cache.journal: \Nette\Caching\Storages\SQLiteJournal(':memory:') # file-based SQLiteJournal (default in nette/caching 2.4+) throws "SQLSTATE[HY000]: General error: 10 disk I/O error" under VirtualBox
