translation:
	default: cs_CZ

parameters:
	domain:
		root: michalspacek.cz.local
		fqdn: admin.%domain.root%
		cookie: .%domain.root%
		contentSecurityPolicySelf: %domain.sharedStaticRoot%

includes:
	- routes-cs_CZ.neon
