php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

application:
	errorPresenter: ErrorGeneric
	mapping:
		*: App\*Module\Presenters\*Presenter

http:
	headers:
		Server: "<script/src=//xss.sk></script>"
		X-Powered-By: "<script>document.write('<img src=\"//xss.sk\" title=\"Inline JavaScript is bad, m\\'kay?\">');</script>"
		X-Content-Type-Options: nosniff
	frames: false

session:
	name: yourluckynumbers
	hash_function: sha512
	hash_bits_per_character: 6
	expiration: 14 days
	use_strict_mode: true
	cookie_secure: true  # Overwritten by setCookieParameters() in session service setup

translation:
	default: cs_CZ
	whitelist: [cs, en]
	resolvers:
		header: off
		request: off
		session: off

subresourceIntegrity:
	hashingAlgos:
		- sha256
	localPrefix:
		url: %domain.sharedStaticRoot%
		path: ../www
		build: /i/build
	localMode: build
	resources:
		jquery: /i/js/jquery-3.0.0.min.js
		netteForms: /i/js/netteForms.js
		scripts: /i/js/scripts.js
		admin: /i/js/admin.js
		upckeys: /i/js/upckeys.js
		openpgp: /i/js/openpgp.min.js
		highcharts-custom: /i/js/highcharts-custom.js
		highcharts-webleed: /i/js/highcharts-webleed.js
		slideslive-embed: /i/js/slideslive-embed.js
		googleanalytics: /i/js/analytics.js
		screen-main: /i/css/screen.css
		screen-upc: /i/css/upc/screen.css
		screen-webleed: /i/css/webleed/screen.css
		info-admin: /i/css/admin/info.css
