#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		security:
			frames: false

		session:
			name: yourluckynumbers
			expiration: 14 days

	parameters:
		notifier:
			vrana:
				noSpam: nospam
				successMarker: 'Děkuji za přihlášku na školení'
		domain:
			defaultHost: www
			staticRoot: %domain.root%

	services:
		database: @Nette\Database\Connection
		routerFactory:
			class: RouterFactory
			setup:
				- setRootDomain(%domain.root%)
		router: @routerFactory::createRouter
		texyFormatter: \Bare\Next\Formatter\Texy
		redirections:  \MichalSpacekCz\Redirections
		articles:  \MichalSpacekCz\Articles
		files:     \MichalSpacekCz\Files
		talks:     \MichalSpacekCz\Talks
		trainings: \MichalSpacekCz\Trainings
		interviews: \MichalSpacekCz\Interviews
		trainingApplications:
			class: \MichalSpacekCz\TrainingApplications
			setup:
				- setFilesDir('../files/trainings')
		trainingMails:
			class: \MichalSpacekCz\TrainingMails
			setup:
				- setTemplatesDir('../app/emails')
				- setEmailFrom('Michal Špaček <mail@michalspacek.cz>')
		trainingDates: \MichalSpacekCz\TrainingDates
		authenticator:
			class: \MichalSpacekCz\UserManager
			setup:
				- setKey(%authenticator.key%)
		embed: \MichalSpacekCz\Embed
		webTracking: \MichalSpacekCz\WebTracking
		vranaNotifier:
			class: \MichalSpacekCz\Notifier\Vrana
			setup:
				- setUrl(%notifier.vrana.url%)
				- setNote(%notifier.vrana.note%)
				- setNoSpam(%notifier.vrana.noSpam%)
				- setSuccessMarker(%notifier.vrana.successMarker%)
		httpResponse:
			setup:
				- $cookieDomain(%domain.cookie%)
		session:
			setup:
				- setCookieParameters(/, %domain.cookie%)

production < common:

development < common:
