application:
	errorPresenter: Api:ErrorGeneric

translation:
	locales:
		default: en_US

parameters:
	domain:
		fqdn: api.%domain.root%
		contentSecurityPolicySelf: %domain.sharedStaticRoot%
