translation:
	default: en_US

parameters:
	domain:
		root: michalspacek.cz
		fqdn: upc.%domain.root%
		cookie: .%domain.root%
		contentSecurityPolicySelf: %domain.sharedStaticRoot%

includes:
	- routes-en_US.neon
