translation:
	default: en_US

parameters:
	domain:
		root: michalspacek.com.local
		fqdn: www.%domain.root%
		cookie: .%domain.root%
		sharedStaticRoot: https://www.michalspacek.cz.local
		contentSecurityPolicySelf: %domain.sharedStaticRoot%
