database:
	default:
		dsn: 'mysql:host=localhost;dbname=cz_michalspacek'
		user: ...
		password: ...
		options:
			PDO::ATTR_EMULATE_PREPARES: false
	upcKeys:
		dsn: 'mysql:host=localhost;dbname=michalspacek_cz_upckeys'
		user: ...
		password: ...
		options:
			PDO::ATTR_EMULATE_PREPARES: false
	pulse:
		dsn: 'mysql:host=localhost;dbname=michalspacek_cz_pulse'
		user: ...
		password: ...
		options:
			PDO::ATTR_EMULATE_PREPARES: false

mail:
	smtp: true
	host: localhost
	port: 25

contentSecurityPolicy: # list values here are added to the existing list values, they do not replace them
	policies:
		www.*.*:
			img-src:
				- 'data:'
			style-src:
				- "'unsafe-inline'"
		admin.*.*:
			script-src:
				-"'self'"
		admin.info.php < www.*.*:
			script-src:
				- "'self'"
		api.*.*:
			img-src:
				- 'data:'
			script-src:
				- "'self'"
			style-src:
				- "'unsafe-inline'"
		webleed.*.*:
			script-src:
				-"'self'"
		pulse.*.*:
			script-src:
				-"'self'"
		upckeys.*.*:
			script-src:
				-"'self'"

parameters:
	locales:
		rootDomainMapping:
			cz: michalspacek.cz.test
			com: michalspacek.com.test

	contact:
		phoneNumber: 123456789

	returningUser:
		cookie: cafebabe
		value: waldoxyzzy

	webTracking:
		cookie: qux
		value: quux

	encryption:
		keys:
			password:
				dev1: "\xab\xad\xca\xfe\xc1\x5c\x0d\x06\xf0\x0d\xca\xfe\xd0\x0d\xbe\xef" # \x[0-9A-F]{32}
			email:
				dev1: "\xca\xfe\xba\xbe\x25\xda\x17\x68\xd6\x9e\xe8\x07\x17\xcc\x2f\x30" # \x[0-9A-F]{32}
		activeKeyIds:
			password: dev1
			email: dev1

	awsLambda:
		upcKeys:
			url: "https://example.amazonaws.com/stage/upc_keys/%s/%s"
			apiKey: "britishteaatfiveoclockisnotacoffee"

	keyCdn:
		secretKey: deadbeef

	certificatesApi:
		users:
			web: $2y$10$bcrypthashedpasswordorkey

services:
	cache.journal: \Nette\Caching\Storages\SQLiteJournal(':memory:') # file-based SQLiteJournal (default in nette/caching 2.4+) throws "SQLSTATE[HY000]: General error: 10 disk I/O error" under VirtualBox
