parameters:
	contentSecurityPolicy:
		values:
				ga: https://www.google-analytics.com
		snippets:
				slideshare:
						child-src:
							- https://www.slideshare.net
				speakerdeck:
						script-src:
							- https://speakerdeck.com
						child-src:
							- https://speakerdeck.com
				youtube:
						child-src:
							- https://www.youtube-nocookie.com
				vimeo:
						child-src:
							- https://player.vimeo.com
				slideslive:
						child-src:
							- https://slideslive.com
		policies:
			DEFAULT_DEFAULT:
				default-src: "'none'"
				img-src:
					- %domain.contentSecurityPolicySelf%
					- %contentSecurityPolicy.values.ga%
				script-src:
					- %domain.contentSecurityPolicySelf%
					- %contentSecurityPolicy.values.ga%
				style-src:
					- %domain.contentSecurityPolicySelf%
				frame-ancestors: "'none'"
				form-action: "'self'"
				upgrade-insecure-requests:
				block-all-mixed-content:
				report-uri: %reporting.contentSecurityPolicy%
			trainings_training:
				- %contentSecurityPolicy.policies.DEFAULT_DEFAULT%
				connect-src: 'https://api.%locales.rootDomainMapping.cz%'
			admin_DEFAULT_DEFAULT:
				default-src: "'none'"
				img-src:
					- %domain.contentSecurityPolicySelf%
				script-src:
					- %domain.contentSecurityPolicySelf%
				style-src:
					- %domain.contentSecurityPolicySelf%
				frame-ancestors: "'none'"
				form-action: "'self'"
				upgrade-insecure-requests:
				block-all-mixed-content:
				report-uri: %reporting.contentSecurityPolicy%
			admin_info_php:
				- %contentSecurityPolicy.policies.admin_DEFAULT_DEFAULT%
				img-src:
					- %domain.contentSecurityPolicySelf%
					- 'data:'
			api_DEFAULT_DEFAULT:
				default-src: "'none'"
				frame-ancestors: "'none'"
				form-action: "'none'"
				upgrade-insecure-requests:
				block-all-mixed-content:
				report-uri: %reporting.contentSecurityPolicy%
			webleed_DEFAULT_DEFAULT:
				default-src: "'none'"
				img-src:
					- %domain.contentSecurityPolicySelf%
					- %contentSecurityPolicy.values.ga%
					- 'blob:'
				script-src:
					- %domain.contentSecurityPolicySelf%
					- %contentSecurityPolicy.values.ga%
				style-src:
					- %domain.contentSecurityPolicySelf%
					- "'unsafe-inline'"
				frame-ancestors: "'none'"
				form-action: "https://export.highcharts.com"
				upgrade-insecure-requests:
				block-all-mixed-content:
				report-uri: %reporting.contentSecurityPolicy%
			upckeys_DEFAULT_DEFAULT:
				default-src: "'none'"
				img-src:
					- %domain.contentSecurityPolicySelf%
					- %contentSecurityPolicy.values.ga%
				script-src:
					- %domain.contentSecurityPolicySelf%
					- %contentSecurityPolicy.values.ga%
				style-src:
					- %domain.contentSecurityPolicySelf%
				frame-ancestors: "'none'"
				form-action: "'self'"
				upgrade-insecure-requests:
				block-all-mixed-content:
				report-uri: %reporting.contentSecurityPolicy%
