contentSecurityPolicy:
	supportLegacyBrowsers: true
	snippets:
		ga:
			img-src:
				- https://www.google-analytics.com
			script-src:
				- https://www.google-analytics.com
		slideshare:
			child-src:
				- https://www.slideshare.net
		speakerdeck:
			script-src:
				- https://speakerdeck.com
			child-src:
				- https://speakerdeck.com
		youtube:
			child-src:
				- https://www.youtube-nocookie.com
		vimeo:
			child-src:
				- https://player.vimeo.com
		slideslive:
			child-src:
				- https://slideslive.com
	addNonce:
		script-src: yes
	addStrictDynamic:
		script-src: yes
	policies:
		*.*:
			default-src: "'none'"
			img-src:
				- %domain.contentSecurityPolicySelf%
			script-src:
				- %domain.contentSecurityPolicySelf%
			style-src:
				- %domain.contentSecurityPolicySelf%
			frame-ancestors: "'none'"
			form-action: "'self'"
			upgrade-insecure-requests:
			block-all-mixed-content:
			report-uri: %reporting.contentSecurityPolicy%
		trainings.training < *.*:
			connect-src: 'https://api.%locales.rootDomainMapping.cz%'
		admin.*.* < *.*:
		admin.info.php < *.*:
			img-src:
				- 'data:'
		api.*.*:
			default-src: "'none'"
			frame-ancestors: "'none'"
			form-action: "'none'"
			upgrade-insecure-requests:
			block-all-mixed-content:
			report-uri: %reporting.contentSecurityPolicy%
		webleed.*.* < *.*:
			img-src:
				- 'blob:'
			style-src:
				- "'unsafe-inline'"
			form-action: "https://export.highcharts.com"
		pulse.*.* < *.*:
		upckeys.*.* < *.*:
