extensions:
	translation: Kdyby\Translation\DI\TranslationExtension
	nonceGenerator: Spaze\NonceGenerator\Bridges\Nette\GeneratorExtension
	contentSecurityPolicy: Spaze\ContentSecurityPolicy\Bridges\Nette\ConfigExtension
	subresourceIntegrity: Spaze\SubresourceIntegrity\Bridges\Nette\Extension
