parameters:
	locales:
		supported:
			admin:
				cs_CZ: cz
			api:
				en_US: cz
			heartbleed:
				en_US: cz
			pulse:
				en_US: cz
			upc:
				en_US: cz
			www:
				cs_CZ: cz
				en_US: com
		rootDomainMapping:
			cz: michalspacek.cz
			com: michalspacek.com
	domain:
		default: www
		sharedStaticRoot: https://www.%domain.root%
		imagesRoot: /i/images
		locationRoot: /srv/www/michalspacek.cz/site/public/www
	reporting:
		contentSecurityPolicy: https://plz.report-uri.io/r/default/csp/enforce
		publicKeyPins: https://plz.report-uri.io/r/default/hpkp/reportOnly
	publicKeyPins:
		www:
			pins:
				- "3bVocQCvVq54eZkK2+vZf6dCYvr9kj+vsU4z0mbn3gU="  # production
				- "u6l/n/3zinL6L9SAayWa0tXu2dX+6J77WB/deOyKx1I="  # backup 1
				- "ET3FsZD2D9FewsIQe8t6986ajvmFXaBzNJDXYBnXLMw="  # backup 2, printed on paper
				- "5e1MASoMjR09CTL5WP1dFoR9yQBLrAkwdHVCB3aoBaA="  # ECDSA production
				- "N6hALJkpMWIA3mdMkpeJRwFFNwxWQmNsbcL70XBwxIo="  # ECDSA backup 1
				- "YswPXsgfC9zcBFJRkWg9cA3e22TY08khzcragg8vxQo="  # ECDSA backup 2, printed on paper
			max-age: 600
			includeSubdomains:
			report-uri: %reporting.publicKeyPins%
		admin: %publicKeyPins.www%
		api: %publicKeyPins.www%
		heartbleed: %publicKeyPins.www%
		pulse: %publicKeyPins.www%
		upc: %publicKeyPins.www%
	vatRate: 0.21
	loadCompanyDataVisible: true
	ares:
		url: 'http://athena-59c4.kxcdn.com/cgi-bin/ares/darv_bas.cgi?ico=%s'
	registerUz:
		rootUrl: 'http://www.registeruz.sk/cruz-public/api/'
	returningUser:
		permanentLoginInterval: 14 days
	upcKeys:
		technicolor:
			model: "Technicolor TC7200"
			prefixes:
				- SAAP
				- SAPP
				- SBAP
		ubee:
			model: "Ubee EVW3226"
			prefixes:
				- UAAP
	keyCdn:
		tokenExpiration: 120

	certificatesApi:
		expiringThreshold: 5
