parameters:
	locales:
		supported:
			admin:
				cs_CZ: cz
			api:
				en_US: cz
			heartbleed:
				en_US: cz
			pulse:
				en_US: cz
			upc:
				en_US: cz
			www:
				cs_CZ: cz
				en_US: com
		rootDomainMapping:
			cz: michalspacek.cz
			com: michalspacek.com
	domain:
		default: www
		sharedStaticRoot: https://www.%domain.root%
		imagesRoot: /i/images
		locationRoot: /srv/www/michalspacek.cz/site/public/www
	reporting:
		contentSecurityPolicy: https://plz.report-uri.com/r/default/csp/enforce
	vatRate: 0.21
	loadCompanyDataVisible: true
	ares:
		url: 'http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_bas.cgi?ico=%s'
		proxyUrl: 'http://athena-59c4.kxcdn.com/cgi-bin/ares/darv_bas.cgi?ico=%s'
		useProxy: false
	registerUz:
		rootUrl: 'http://www.registeruz.sk/cruz-public/api/'
	returningUser:
		permanentLoginInterval: 14 days
	upcKeys:
		technicolor:
			model: "Technicolor TC7200"
			prefixes:
				- SAAP
				- SAPP
				- SBAP
		ubee:
			model: "Ubee EVW3226"
			prefixes:
				- UAAP
	keyCdn:
		tokenExpiration: 120

	certificatesApi:
		expiringThreshold: 20
		hideExpiredAfter: 10

	featurePolicy:
		accelerometer: none
		camera: none
		geolocation: none
		gyroscope: none
		magnetometer: none
		microphone: none
		midi: none
		payment: none
		usb: none
