parameters:
	locales:
		supported:
			admin:
				cs_CZ: cz
			api:
				en_US: cz
			heartbleed:
				en_US: cz
			upc:
				en_US: cz
			www:
				cs_CZ: cz
				en_US: com
		rootDomainMapping:
			cz: michalspacek.cz
			com: michalspacek.com
	notifier:
		vrana:
			noSpam: nospam
			successMarker: 'Děkuji za přihlášku na školení'
	domain:
		default: www
		sharedStaticRoot: https://www.%domain.root%
	reporting:
		contentSecurityPolicy: https://plz.report-uri.io/r/default/csp/enforce
		publicKeyPins: https://plz.report-uri.io/r/default/hpkp/reportOnly
		xXssProtection: https://plz.report-uri.io/
	contentSecurityPolicy:
		www:
			default-src: %domain.contentSecurityPolicySelf%
			img-src: "%domain.contentSecurityPolicySelf% https://www.google-analytics.com"
			script-src: "%domain.contentSecurityPolicySelf% https://www.google-analytics.com https://speakerdeck.com"
			child-src: 'https://www.slideshare.net https://speakerdeck.com https://www.youtube-nocookie.com https://player.vimeo.com https://slideslive.com'
			frame-src: %contentSecurityPolicy.www.child-src%
			connect-src: 'https://api.%locales.rootDomainMapping.cz%'
			form-action: "'self'"
			upgrade-insecure-requests:
			block-all-mixed-content:
			report-uri: %reporting.contentSecurityPolicy%
		admin:
			default-src: %domain.contentSecurityPolicySelf%
			img-src: '%domain.contentSecurityPolicySelf% data:'
			form-action: "'self'"
			upgrade-insecure-requests:
			block-all-mixed-content:
			report-uri: %reporting.contentSecurityPolicy%
		api:
			default-src: %domain.contentSecurityPolicySelf%
			form-action: "'none'"
			upgrade-insecure-requests:
			block-all-mixed-content:
			report-uri: %reporting.contentSecurityPolicy%
		heartbleed:
			default-src: %domain.contentSecurityPolicySelf%
			img-src: '%domain.contentSecurityPolicySelf% https://www.google-analytics.com blob:'
			script-src: '%domain.contentSecurityPolicySelf% https://www.google-analytics.com'
			style-src: "%domain.contentSecurityPolicySelf% 'unsafe-inline'"
			form-action: "https://export.highcharts.com"
			upgrade-insecure-requests:
			block-all-mixed-content:
			report-uri: %reporting.contentSecurityPolicy%
		upc:
			default-src: %domain.contentSecurityPolicySelf%
			img-src: '%domain.contentSecurityPolicySelf% https://www.google-analytics.com'
			script-src: '%domain.contentSecurityPolicySelf% https://www.google-analytics.com'
			form-action: "'self'"
			upgrade-insecure-requests:
			block-all-mixed-content:
			report-uri: %reporting.contentSecurityPolicy%
	publicKeyPins:
		www:
			pins:
				- "3bVocQCvVq54eZkK2+vZf6dCYvr9kj+vsU4z0mbn3gU="  # production
				- "u6l/n/3zinL6L9SAayWa0tXu2dX+6J77WB/deOyKx1I="  # backup 1
				- "ET3FsZD2D9FewsIQe8t6986ajvmFXaBzNJDXYBnXLMw="  # backup 2, printed on paper
			max-age: 600
			includeSubdomains:
			report-uri: %reporting.publicKeyPins%
		admin: %publicKeyPins.www%
		api: %publicKeyPins.www%
		heartbleed: %publicKeyPins.www%
		upc: %publicKeyPins.www%
	extraHeaders:
		www:
			X-XSS-Protection: '1; mode=block; report=%reporting.xXssProtection%'
		admin: %extraHeaders.www%
		api:
			X-XSS-Protection: %extraHeaders.www.X-XSS-Protection%
			Vary: Origin
		heartbleed: %extraHeaders.www%
		upc: %extraHeaders.www%
	vatRate: 0.21
	loadCompanyDataVisible: true
	ares:
		url: 'http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_bas.cgi?ico=%s'
	registerUz:
		rootUrl: 'http://www.registeruz.sk/cruz-public/api/'
	returningUser:
		permanentLoginInterval: 14 days
	awsLambda:
		upcKeys:
			prefixes:
				- SAAP
				- SAPP
				- SBAP
