services:
	# www module
	- \App\WwwModule\Presenters\ArticlesPresenter
	- \App\WwwModule\Presenters\CompanyTrainingsPresenter
	contactPresenter:
		factory: \App\WwwModule\Presenters\ContactPresenter
		setup:
		- setLocationRoot(%domain.locationRoot%)
	- \App\WwwModule\Presenters\ErrorPresenter
	- \App\WwwModule\Presenters\ErrorGenericPresenter
	- \App\WwwModule\Presenters\ExportsPresenter
	- \App\WwwModule\Presenters\FilesPresenter
	- \App\WwwModule\Presenters\ForbiddenPresenter
	- \App\WwwModule\Presenters\HomepagePresenter
	- \App\WwwModule\Presenters\InterviewsPresenter
	- \App\WwwModule\Presenters\PhotoPresenter
	- \App\WwwModule\Presenters\PostPresenter
	- \App\WwwModule\Presenters\RedirectPresenter
	- \App\WwwModule\Presenters\TagsPresenter
	- \App\WwwModule\Presenters\TalksPresenter
	- \App\WwwModule\Presenters\TrainingsPresenter
	- \App\WwwModule\Presenters\VenuesPresenter
	- \App\WwwModule\Presenters\WhoPresenter

	# api module
	- \App\ApiModule\Presenters\CertificatePresenter
	- \App\ApiModule\Presenters\CompanyPresenter
	- \App\ApiModule\Presenters\ErrorGenericPresenter
	- \App\ApiModule\Presenters\ErrorPresenter

	# admin module
	- \App\AdminModule\Presenters\BlogPresenter
	- \App\AdminModule\Presenters\EmailsPresenter
	- \App\AdminModule\Presenters\HomepagePresenter
	- \App\AdminModule\Presenters\HoneypotPresenter
	- \App\AdminModule\Presenters\InfoPresenter
	- \App\AdminModule\Presenters\InterviewsPresenter
	- \App\AdminModule\Presenters\InvoicesPresenter
	- \App\AdminModule\Presenters\PulsePresenter
	- \App\AdminModule\Presenters\ReviewsPresenter
	- \App\AdminModule\Presenters\SignPresenter
	- \App\AdminModule\Presenters\TalksPresenter
	- \App\AdminModule\Presenters\TrainingsPresenter
	- \App\AdminModule\Presenters\UserPresenter

	# webleed module
	- \App\WebleedModule\Presenters\HomepagePresenter

	# upc module
	- \App\UpcKeysModule\Presenters\HomepagePresenter

	# pulse module
	- \App\PulseModule\Presenters\HomepagePresenter
	- \App\PulseModule\Presenters\PasswordsPresenter
	- \App\PulseModule\Presenters\PasswordsStoragesPresenter
