services:
	- \App\Presenters\ArticlesPresenter
	- \App\Presenters\CompanyTrainingsPresenter
	- \App\Presenters\ContactPresenter
	- \App\Presenters\ErrorPresenter
	- \App\Presenters\ErrorGenericPresenter
	- \App\Presenters\FilesPresenter
	- \App\Presenters\ForbiddenPresenter
	- \App\Presenters\HomepagePresenter
	- \App\Presenters\InterviewsPresenter
	- \App\Presenters\RedirectPresenter
	- \App\Presenters\TalksPresenter
	- \App\Presenters\TrainingsPresenter
	- \App\Presenters\VenuesPresenter
	- \App\Presenters\WhoPresenter

	# api module
	- \App\ApiModule\Presenters\CompanyPresenter

	# admin module
	- \App\AdminModule\Presenters\EmailsPresenter
	- \App\AdminModule\Presenters\HomepagePresenter
	- \App\AdminModule\Presenters\InfoPresenter
	- \App\AdminModule\Presenters\SignPresenter
	- \App\AdminModule\Presenters\TrackingPresenter
	- \App\AdminModule\Presenters\TrainingsPresenter
	- \App\AdminModule\Presenters\UserPresenter

	# webleed module
	- \App\WebleedModule\Presenters\HomepagePresenter

	# upc module
	- \App\UpcKeysModule\Presenters\HomepagePresenter
