parameters:
	translatedRoutes:
		presenters:
			www:
				Homepage:
					mask:  # Intentionally left empty
				Interviews:
					mask: rozhovory
				Talks:
					mask: prednasky
				Files:
					mask: soubory
					actions:
						training: skoleni
						file: soubor
				Trainings:
					mask: skoleni
					actions:
						reviews: ohlasy
						success: potvrzeni
						application: prihlaska
						files: soubory
				CompanyTrainings:
					mask: firemni-skoleni
				Articles:
					mask: clanky
				Who:
					mask: kdo
				Contact:
					mask: kontakt
				Venues:
					mask: kudy-tudy
				EasterEgg:
					mask:  # Intentionally left empty
				Redirect:
					mask: r
					actions:
						application: p
						files: s
