parameters:
	translatedRoutes:
		presenters:
			www:
				Homepage:
					mask:  # Intentionally left empty
				Interviews:
					mask: interviews
				Talks:
					mask: talks
				Files:
					mask: files
					actions:
						training: training
						file: file
				Trainings:
					mask: trainings
					actions:
						reviews: reviews
						success: success
						application: application
						files: files
				CompanyTrainings:
					mask: inhouse-trainings
				Articles:
					mask: articles
				Who:
					mask: who
				Contact:
					mask: contact
				Venues:
					mask: venues
				Redirect:
					mask: r
					actions:
						application: a
						files: f
				Photo:
					mask: photo
