services:
	routerFactory:
		class: RouterFactory
		setup:
			- setRootDomain(%domain.root%)
			- setTranslatedRoutes(%translatedRoutes.presenters%)
	router: @routerFactory::createRouter
	texyFormatter: \Bare\Next\Formatter\Texy
	redirections:  \MichalSpacekCz\Redirections
	articles:  \MichalSpacekCz\Articles
	files:     \MichalSpacekCz\Files
	talks:     \MichalSpacekCz\Talks
	trainings: \MichalSpacekCz\Training\Trainings
	interviews: \MichalSpacekCz\Interviews
	trainingApplications: \MichalSpacekCz\Training\Applications
	trainingMails:
		class: \MichalSpacekCz\Training\Mails
		setup:
			- setTemplatesDir('../../app/emails')
			- setEmailFrom('Michal Špaček <mail@michalspacek.cz>')
	trainingDates: \MichalSpacekCz\Training\Dates
	trainingVenues: \MichalSpacekCz\Training\Venues
	trainingStatuses: \MichalSpacekCz\Training\Statuses
	trainingFiles:
		class: \MichalSpacekCz\Training\Files
		setup:
			- setFilesDir('../../files/trainings')
	authenticator: \MichalSpacekCz\UserManager
	embed: \MichalSpacekCz\Embed
	webTracking: \MichalSpacekCz\WebTracking
	vranaNotifier:
		class: \MichalSpacekCz\Notifier\Vrana
		setup:
			- setUrl(%notifier.vrana.url%)
			- setNote(%notifier.vrana.note%)
			- setNoSpam(%notifier.vrana.noSpam%)
			- setSuccessMarker(%notifier.vrana.successMarker%)
	httpResponse:
		setup:
			- $cookieDomain(%domain.cookie%)
			- $cookieSecure(true)
	session:
		setup:
			- setCookieParameters(/, %domain.cookie%, true)
	bareHelpers: \Bare\Next\Templating\Helpers
	helpers:
		class: \MichalSpacekCz\Templating\Helpers
		setup:
			- setStaticRoot(%domain.sharedStaticRoot%)
	translator: \MichalSpacekCz\DummyTranslator
	vat:
		class: \MichalSpacekCz\Vat
		setup:
			- setRate(%vatRate%)
	contentSecurityPolicy:
		class: \MichalSpacekCz\ContentSecurityPolicy
		setup:
			- setRootDomain(%domain.root%)
			- setPolicy(%contentSecurityPolicy%)
	reports: \MichalSpacekCz\Reports
	startup:
		class: \MichalSpacekCz\Startup
		setup:
			- setRootDomain(%domain.root%)
			- setExtraHeaders(%extraHeaders%)
	encryption: \MichalSpacekCz\Encryption
	staticKeyEncryption:
		class: \MichalSpacekCz\StaticKeyEncryption
		setup:
			- setKeys(%encryption.keys%)
			- setActiveKeyIds(%encryption.activeKeyIds%)
	passwordEncryption: \MichalSpacekCz\Encryption\Password
	emailEncryption: \MichalSpacekCz\Encryption\Email
	companyInfo: \MichalSpacekCz\CompanyInfo\Info
	ares:
		class: \MichalSpacekCz\CompanyInfo\Ares
		setup:
			- setUrl(%ares.url%)
	registerUz:
		class: \MichalSpacekCz\CompanyInfo\RegisterUz
		setup:
			- setRootUrl(%registerUz.rootUrl%)
