services:
	routerFactory:
		class: \MichalSpacekCz\Application\RouterFactory
		setup:
			- setSupportedLocales(%locales.supported%)
			- setLocaleRootDomainMapping(%locales.rootDomainMapping%)
			- setTranslatedRoutes(%translatedRoutes.presenters%)
	router: @routerFactory::createRouter
	localeLinkGenerator: \MichalSpacekCz\Application\LocaleLinkGenerator
	texyFormatter:
		class: \MichalSpacekCz\Formatter\Texy
		setup:
			- addHandlers()
			- setStaticRoot(%domain.sharedStaticRoot%)
			- setImagesRoot(%domain.imagesRoot%)
			- setLocationRoot(%domain.locationRoot%)
	redirections:  \MichalSpacekCz\Redirections
	articles:  \MichalSpacekCz\Articles
	files:     \MichalSpacekCz\Files
	talks:     \MichalSpacekCz\Talks
	trainings: \MichalSpacekCz\Training\Trainings
	companyTrainings: \MichalSpacekCz\Training\CompanyTrainings
	interviews: \MichalSpacekCz\Interviews
	trainingApplications: \MichalSpacekCz\Training\Applications
	trainingMails:
		class: \MichalSpacekCz\Training\Mails
		setup:
			- setEmailFrom('Michal Špaček <mail@michalspacek.cz>')
			- setPhoneNumber(%contact.phoneNumber%)
	trainingDates: \MichalSpacekCz\Training\Dates
	trainingVenues: \MichalSpacekCz\Training\Venues
	trainingStatuses: \MichalSpacekCz\Training\Statuses
	trainingFiles:
		class: \MichalSpacekCz\Training\Files
		setup:
			- setFilesDir('../../files/trainings')
	vranaResolver: MichalSpacekCz\Training\Resolver\Vrana
	authenticator:
		class: \MichalSpacekCz\User\Manager
		setup:
			- setPermanentLoginInterval(%returningUser.permanentLoginInterval%)
			- setReturningUserCookie(%returningUser.cookie%)
			- setReturningUserValue(%returningUser.value%)
	embed: \MichalSpacekCz\Embed
	webTracking:
		class: \MichalSpacekCz\WebTracking
		setup:
			- setCookie(%webTracking.cookie%)
			- setValue(%webTracking.value%)
	httpResponse:
		setup:
			- $cookieDomain(%domain.cookie%)
			- $cookieSecure(true)
	session:
		setup:
			- setCookieParameters(/, %domain.cookie%, true)
	netxtenHelpers: \Netxten\Templating\Helpers
	helpers: \MichalSpacekCz\Templating\Helpers
	vat:
		class: \MichalSpacekCz\Vat
		setup:
			- setRate(%vatRate%)
	publicKeyPins:
		class: \MichalSpacekCz\PublicKeyPins
		setup:
			- setPins(%publicKeyPins%)
	securityHeaders:
		class: \MichalSpacekCz\SecurityHeaders
		setup:
			- setDefaultDomain(%domain.default%)
			- setRootDomain(%domain.root%)
	staticKeyEncryption:
		class: \MichalSpacekCz\Encryption\Symmetric\StaticKey
		setup:
			- setKeys(%encryption.keys%)
			- setActiveKeyIds(%encryption.activeKeyIds%)
	passwordEncryption: \MichalSpacekCz\Encryption\Password
	emailEncryption: \MichalSpacekCz\Encryption\Email
	companyInfo:
		class: \MichalSpacekCz\CompanyInfo\Info
		setup:
			- setLoadCompanyDataVisible(%loadCompanyDataVisible%)
	ares:
		class: \MichalSpacekCz\CompanyInfo\Ares
		setup:
			- setUrl(%ares.url%)
	registerUz:
		class: \MichalSpacekCz\CompanyInfo\RegisterUz
		setup:
			- setRootUrl(%registerUz.rootUrl%)
	upcKeys:
		class: \MichalSpacekCz\UpcKeys
		setup:
			- addRouter(@upcKeysTechnicolor)
			- addRouter(@upcKeysUbee)
	upcKeysTechnicolor:
		class: \MichalSpacekCz\UpcKeys\Technicolor(@database.upcKeys.context)
		setup:
			- setUrl(%awsLambda.upcKeys.url%)
			- setApiKey(%awsLambda.upcKeys.apiKey%)
			- setModel(%upcKeys.technicolor.model%)
			- setPrefixes(%upcKeys.technicolor.prefixes%)
	upcKeysUbee:
		class: \MichalSpacekCz\UpcKeys\Ubee(@database.upcKeys.context)
		setup:
			- setModel(%upcKeys.ubee.model%)
			- setPrefixes(%upcKeys.ubee.prefixes%)
	pulseCompanies: \MichalSpacekCz\Pulse\Companies(@database.pulse.context)
	pulseSites: \MichalSpacekCz\Pulse\Sites(@database.pulse.context)
	pulsePasswords: \MichalSpacekCz\Pulse\Passwords(@database.pulse.context)
	pulsePasswordsRating: \MichalSpacekCz\Pulse\Passwords\Rating
	keyCdn:
		class: \MichalSpacekCz\KeyCdn
		setup:
			- setSecretKey(%keyCdn.secretKey%)
			- setTokenExpiration(%keyCdn.tokenExpiration%)
	blogPost: \MichalSpacekCz\Blog\Post
	blogPostLoader: \MichalSpacekCz\Blog\Post\Loader
	certificatesApi:
		class: \MichalSpacekCz\Api\Certificates
		setup:
			- setUsers(%certificatesApi.users%)
			- setExpiringThreshold(%certificatesApi.expiringThreshold%)
