{layout "../Www/@layout.latte"}
{var $containerExtraClass = 'admin'}
{var $headerLinks = false}
{define #feeds}{/define}
{define #scriptsReplace}
{script app + admin + passkey-authenticate + netteForms async, defer}
{/define}
