body {
	font: 1rem/1.5 Arial, sans-serif;
	margin: 0;
	color: #249;
	background-color: #EFF2FB;
}
h3 { color: #777; }
#container {
	margin: 2em auto;
	padding: 0.5em;
	max-width: 920px;
}
#logo {
	width: 100px;
	height: 120px;
	float: left;
	margin: 20px 40px 0 0;
}
#header {
	max-width: 600px;
	float: left;
}
#tagline {
	max-width: 600px;
	float: left;
	margin-top: 0;
}
#desc { clear: both; }
#result {
	margin: 2em 0;
	padding: 2em 0;
	color: #333;
	background-color: #FFF;
}
#result form { text-align: center; }
#frm-ssid-ssid { width: 100px; }
#result table { margin: 2em auto; }
#result td {
	width: 9em;
	text-align: center;
}
#result td.key { width: 6em; }
#result .nr {
	color: #AAA;
	width: 2em;
	padding: 1px 0.2em;
	text-align: right;
}
#result .type {
	width: 4em;
	padding: 1px 0.2em;
	font-size: 90%;
}
#result .dark { background-color: #EEE; }
#submit { width: 6em; }
div.error {
	padding: 1em;
	margin: 0 1em 1em 1em;
	text-align: center;
	color: #F34;
	background-color: #FEE;
}
.note {
	text-align: center;
	margin: 0 auto;
	color: #249;
}
#filterType { width: 80px; }
#filterPrefix, #filterKey {
	width: 80px;
	font-family: monospace;
}
#filterMac {
	width: 100px;
	font-family: monospace;
}
#footer {
	display: none;
	color: #F34;
	background-color: #FEE;
}
#result td:nth-child(3) { font-size: 90%; }
#result td:nth-child(3) small { color: #CCC; }
.pUAAP td:nth-child(2) code::after {
	content: "––––––––";
	color: #CCC;
}
.pUAAP.t3 small { color: #CCC; }
@media (max-width: 470px) {
	#filterType, #filterPrefix, #filterKey { width: 60px; }
	#filterMac { width: 80px; }
	#header-password { display: none; }
	#result .nr { display: none; }
	#result .mac code span { display: none; }
	#result .mac code::before {
		content: "…";
		color: #CCC;
	}
	.pUAAP.t3 .type small span { display: none; }
	.pUAAP.t3 .type small::after { content: "–"; }
}
@media (max-width: 600px) {
	#links { line-height: 2em; }
}
