{foreach $discontinued as $training}
	{capture $names}{foreach $training[trainings] as $trainingName}**{$trainingName|translate}**{sep}, {/sep}{/foreach}{/capture}
	{_$training[description]|format:$names, $training[href]}
{/foreach}
