{varType MichalSpacekCz\Training\Reviews\TrainingReview $review}
<p><strong>{$review->getName()}{if $review->getJobTitle()}, {$review->getJobTitle()}{/if}{if $review->getCompany()}, {$review->getCompany()}{/if}</strong></p>
<div class="indent"><p>{$review->getReview()} <small n:if="$review->getHref()">(<a href="{$review->getHref()}">{_messages.trainings.more}</a>)</small></p></div>
