<ul>
	<li><small>{_messages.trainings.partnertrainings.frontend|format:'https://www.vzhurudolu.cz/kurzy/responzivni-design', 'https://www.vzhurudolu.cz/kurzy'}</small></li>
	<li><small>{_messages.trainings.partnertrainings.nette|format:'https://www.skoleniphp.cz/skoleni-nette-vyvoj-webovych-aplikaci', 'https://www.skoleniphp.cz/skoleni-mistrovstvi-v-nette'}</small></li>
</ul>
