{define #content}
<p></p>
<div n:foreach="$flashes as $flash" class="flash {$flash->type}"><strong>{$flash->message}</strong></div>
<div id="pridat-termin">
	<p><a href="#pridat-termin" class="open-container block">Přidat termín</a></p>
	{control addTrainingDateInputs pridat-termin-container}
</div>
<hr>
{control trainingApplicationsList}
{/define}
