<pre>
total 29
drwxrwx--- 2 www-data www-data  4096 Oct  2 05:13 .
drwxrwx--- 2 www-data www-data  4096 Oct  4 16:48 ..
-rwxrwx--- 1 www-data www-data   571 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">app.php</a>
-rwxrwx--- 1 www-data www-data   318 Feb 30 16:20 <a href="https://youtu.be/dQw4w9WgXcQ">favicon.ico</a>
-rwxrwx--- 1 www-data www-data   296 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">humans.txt</a>
drwxrwx--- 2 www-data www-data     0 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">i</a>
-rwxrwx--- 1 www-data www-data  2399 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">info.php</a>
-rwxrwx--- 1 www-data www-data 11754 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">key.asc</a>
-rwxrwx--- 1 www-data www-data   586 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">maintenance-off.php</a>
-rwxrwx--- 1 www-data www-data  1337 Oct  2 04:20 <a href="https://gist.github.com/spaze/fb6d8cdc296e0314b50f8b484bcd1385">patch.sh</a>
-rwxrwx--- 1 www-data www-data   113 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">robots.txt</a>
-rwxrwx--- 1 www-data www-data    32 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">seznam-wmt-TmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA.txt</a>
-rwxrwx--- 1 www-data www-data    32 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">seznam-wmt-TmV2ZXIgZ29ubmEgbGV0IHlvdSBkb3du.txt</a>
drwxrwx--- 2 www-data www-data     0 Oct  2 04:20 <a href="https://youtu.be/dQw4w9WgXcQ">.well-known</a>
</pre>
