body {
    font: 1em/1.5 Arial, sans-serif;
    color: #222;
    background-color: #EEE;
    margin: 0px;
}
hr {
    color: #EEE;
    background-color: #EEE;
    height: 2px;
    border: 0px;
    clear: both;
    margin: 0px;
}
fieldset {
    margin: 1em 0;
    border: 2px solid #EEE;
}
legend {
    padding: 0px 10px;
    background-color: #EEE;
}
h1, h2, h1 a, h2 a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: #337;
    text-shadow: 1px 1px 2px rgba(51, 51, 119, 0.2);
}
h1 {
    font-size: 1.9em;
    margin: 20px 0px;
}
h2 {
    font-size: 1.5em;
    margin: 20px 0px;
}
h2, p { text-align: left; }
ul {
    text-align: left;
    padding: 0px 1em;
}
img { border: 0; }
.container {
    max-width: 800px;
    margin: 0px auto;
}
#header {
    text-align: left;
    padding: 1em 0px;
}
#header img {
    float: left;
    border-right: 1px solid #CCC;
    padding-right: 20px;
}
#header h1 {
    padding-left: 90px;
    line-height: 50px;
    margin: 0px;
}
#tagline { margin-top: 0px; }
#main {
    background-color: #FFF;
    padding: 0.5em 0px;
}
#footer {
    border-top: 1px solid #CCC;
    color: #777;
    font-size: 0.8em;
    padding: 1em 0px;
}
#footer a { color: #555; }
#footer-name { float: left; }
#footer-links { float: right; }
.icon {
    background: url('/i/images/icons.png') no-repeat top left;
    display: inline-block;
    vertical-align: middle;
}
.icon16 {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.icon32 {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
#elephpant { background-position: 0px -18px; }
.slides { background-position: 0px 0px; }
.video { background-position: -16px 0px; }
#linkedin { background-position: -32px 0px; }
#twitter { background-position: -32px -16px; }
#facebook { background-position: -48px 0px; }
#email { background-position: -48px -16px; }
#upoutavka span { background-position: -32px -32px; }
#menu {
    font-size: 85%;
    text-align: left;
    padding: 10px 0px;
}
.left { text-align: left; }
.center { text-align: center; }
.clear { clear: both; }
#frm-application table { border-spacing: 0px; }
#frm-application th, #frm-application td {
    width: 150px;
    padding: 5px 0px;
}
#frm-application th {
    text-align: right;
    padding-right: 5px;
}
#frm-application input { width: 170px; }
#frm-application #frmapplication-note { width: 400px; }
#chyby ul { margin: 0px; }
#chyby {
    color: #F34;
    background-color: #FEE;
    margin: 1em 0;
    border: 2px solid #F56;
}
#chyby legend {
    color: #FFF;
    background-color: #F56;
}
div.flash {
    color: #CA0;
    background-color: #FFD;
    padding: 1em;
    margin: 1em 0;
    border: 2px solid #EC2;
}
div.error {
    color: #F34;
    background-color: #FEE;
    border: 2px solid #F56;
}
#upoutavka {
    color: #777;
    font-size: small;
}
#upoutavka a { color: #555; }
