{define #menu}
&raquo; <a n:href="Homepage:">Michal Špaček</a>
{/define}

{define #content}
<p n:foreach="$articles as $article">
    <a href="{$article->href}"><strong>{$article->title}</strong></a>
    <small>(<span class="date">{$article->date|date:'j. n. Y'}</span>, <a href="{$article->sourceHref}">{$article->sourceName}</a>)</small>
    <p><small>{$article->excerpt} <a href="{$article->href}">→</a></small></p>
</p>
{/define}