{layout "../@layout.latte"}
{define #menu}
&raquo; <a n:href="Homepage:">Michal Špaček</a>
&raquo; <a n:href="Talks:">{_messages.label.talks}</a>
{ifset $slideAlias}&raquo; <a n:href="Talks:talk $talk->getAction()">{$talk->getTitle()}</a>{/ifset}
{/define}
