{define #embedSlides}
<div n:if="$slidesEmbed && $slidesEmbedType" id="slides-embed">
	{if $slidesEmbedType == \MichalSpacekCz\Templating\Embed::SLIDES_SLIDESHARE}
		<iframe src="{$slidesEmbed}" width="800" height="636" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
	{elseif $slidesEmbedType == \MichalSpacekCz\Templating\Embed::SLIDES_SPEAKERDECK}
		<script async class="speakerdeck-embed" data-id="{$slidesEmbed}" {ifset $slidesDataSlide}data-slide="{$slidesDataSlide}"{/ifset} src="https://speakerdeck.com/assets/embed.js"></script>
	{/if}
</div>
{/define}
