{contentType text/plain}
# {$ssid}
{ifset $error}
# Error: {$error}
{/ifset}
{ifset $keys}
{varType MichalSpacekCz\UpcKeys\WiFiKey[] $keys}
{foreach $keys as $key}
{$key->getKey()}
{/foreach}
{/ifset}
