{layout "../@layout.latte"}
{block #body}
	<div class="container">
	<div id="header">
	<a n:href="Homepage:"><img src="/i/images/michal-spacek.jpg" width="50" height="50" alt="Michal Špaček" title="Michal Špaček" /></a>
	<h1>Michal Špaček</h1>
	</div>
	<p id="tagline">
		{_messages.homepage.tagline}
		<small>(<a n:href="Who:">{_messages.homepage.aboutme}</a>, <a n:href="Contact:">{_messages.homepage.contact}</a>)</small>
	</p>
	<hr />
	{include #content}
	</div>
{/block}
