{define #menu}
&raquo; <a n:href=":Www:Homepage:">Michal Špaček</a>
&raquo; <a n:href="Homepage:">Administrace</a>
&raquo; <a n:href="Talks:">{_messages.title.talks}</a>
{/define}

{define #content}
{control editTalkInputs}
{/define}
