{templateType MichalSpacekCz\Presentation\Admin\Interviews\InterviewTemplateParameters}
{define #menu}
&raquo; <a n:href=":Www:Homepage:">Michal Špaček</a>
&raquo; <a n:href="Homepage:">Administrace</a>
&raquo; <a n:href="Interviews:">{_messages.title.interviews}</a>
{/define}

{define #content}
{control editInterviewInputs}
{/define}
