parameters:
	disallowedFunctionCalls:
		-
			function: 'pcntl_*()'
		-
			function: 'md5()'
			message: 'use hash() with at least SHA-256 for secure hash, or password_hash() for passwords'
			allowInMethods:
				- 'MichalSpacekCz\Formatter\TexyFormatter::getCacheKey()'
		-
			function: 'sha1()'
			message: 'use hash() with at least SHA-256 for secure hash, or password_hash() for passwords'
			allowInMethods:
				- 'MichalSpacekCz\Talks\TalkSlides::getSlideImageFileBasename()'
				- 'MichalSpacekCz\Www\Presenters\ExportsPresenter::getEtag()'
		-
			function: 'rand()'
			message: 'it is not a cryptographically secure generator, use random_int() instead'
			allowIn:
				- tests/*.phpt
		-
			function: 'uniqid()'
			message: 'it is not a cryptographically secure generator, use random_bytes() instead'
			allowIn:
				- tests/*.phpt
	disallowedMethodCalls:
		-
			method:
				- 'Nette\Application\Request::getPost()'
				- 'Nette\Http\IRequest::getCookie()'
				- 'Nette\Http\IRequest::getPost()'
			message: 'instead use methods from MichalSpacekCz\Http\HttpInput with more handy return types'
			allowInMethods:
				- 'MichalSpacekCz\Http\HttpInput::getCookieString()'
				- 'MichalSpacekCz\Http\HttpInput::getPostString()'
				- 'MichalSpacekCz\Http\HttpInput::getPostArray()'
		-
			method: 'DateTimeZone::__construct()'
			message: 'use MichalSpacekCz\DateTime\DateTimeZoneFactory::get() instead, throws a more specific exception'
			allowInMethods:
				- 'MichalSpacekCz\DateTime\DateTimeZoneFactory::get()'
	disallowedConstants:
		-
			constant: 'LIBXML_NOENT'
			message: 'libxml_disable_entity_loader() has been deprecated in PHP 8.0, no longer needed to protect against XXE attacks, unless the (still vulnerable) LIBXML_NOENT is used https://www.php.net/migration80.deprecated#migration80.deprecated.libxml'
	disallowedSuperglobals:
		-
			superglobal: '$_SERVER'
			message: 'use Application\ServerEnv instead'
			allowIn:
				- app/Application/ServerEnv.php
				- tests/Application/ServerEnvTest.phpt
	disallowedClasses:
		-
			class:
				- 'Nette\Application\UI\Form'
				- 'Nette\Forms\Form'
			message: 'use MichalSpacekCz\Form\UiForm for better type declarations'
			allowIn:
				- app/Form/UiForm.php
				- app/Form/Controls/TrainingControlsFactory.php

includes:
	- vendor/spaze/phpstan-disallowed-calls/extension.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
	- vendor/spaze/phpstan-disallowed-calls-nette/disallowed-dangerous-calls.neon
