parameters:
	disallowedFunctionCalls:
		-
			function: 'pcntl_*()'
		-
			function: 'md5()'
			message: 'use hash() with at least SHA-256 for secure hash, or password_hash() for passwords'
			allowInMethods:
				- 'MichalSpacekCz\Formatter\TexyFormatter::getCacheKey()'
		-
			function: 'sha1()'
			message: 'use hash() with at least SHA-256 for secure hash, or password_hash() for passwords'
			allowInMethods:
				- 'MichalSpacekCz\Talks\Talks::getSlideImageFileBasename()'
				- 'MichalSpacekCz\Www\Presenters\ExportsPresenter::getEtag()'
	disallowedConstants:
		-
			constant: 'LIBXML_NOENT'
			message: 'libxml_disable_entity_loader() has been deprecated in PHP 8.0, no longer needed to protect against XXE attacks, unless the (still vulnerable) LIBXML_NOENT is used https://www.php.net/migration80.deprecated#migration80.deprecated.libxml'
	disallowedSuperglobals:
		-
			superglobal: '$_SERVER'
			message: 'use Application\ServerEnv instead'
			allowIn:
				- app/Application/ServerEnv.php

includes:
	- vendor/spaze/phpstan-disallowed-calls/extension.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
	- vendor/spaze/phpstan-disallowed-calls-nette/disallowed-dangerous-calls.neon
