parameters:
	customRulesetUsed: true
	tmpDir: /tmp/phpstan/michalspacek.cz-latte-templates
	paths:
		- app
	latte:
		engineBootstrap: app/PhpStan/latteEngine.php
		applicationMapping:  # Copy of mapping from common.neon until https://github.com/efabrica-team/phpstan-latte/issues/27 is resolved somehow
			*: MichalSpacekCz\*\Presenters\*Presenter

includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/efabrica/phpstan-latte/rules.neon
