parameters:
	tmpDir: /tmp/phpstan/michalspacek.cz-tests
	paths:
		- tests
	fileExtensions:
		- php
		- phpt
	level: 3
	disallowedFunctionCalls:
		-
			function: 'rand()'
			message: 'it is not a cryptographically secure generator, use random_int() instead'
			allowIn:
				- tests/*.phpt
		-
			function: 'uniqid()'
			message: 'it is not a cryptographically secure generator, use random_bytes() instead'
			allowIn:
				- tests/*.phpt
	disallowedSuperglobals:
		-
			superglobal: '$_SERVER'
			message: 'use Application\ServerEnv instead'
			allowIn:
				- tests/Application/ServerEnvTest.phpt

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- disallowed-calls.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
