parameters:
	tmpDir: /tmp/phpstan/michalspacek.cz
	paths:
		- app
		- bin
	level: 8

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- disallowed-calls.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
