parameters:
	customRulesetUsed: true
	tmpDir: /tmp/phpstan/michalspacek.cz-vendor
	paths:
		- vendor
	excludePaths:
		analyseAndScan:
			# `require` packages
			- vendor/paragonie/halite/test/*  # phpunit/phpunit not installed, PHPUnit\Framework\TestCase missing
			- vendor/paragonie/constant_time_encoding/tests/*  # phpunit/phpunit not installed, PHPUnit\Framework\TestCase missing
			- vendor/paragonie/hidden-string/test/*  # phpunit/phpunit not installed, PHPUnit\Framework\TestCase missing
			- vendor/nette/forms/src/compatibility.php  # throws `Class 'Nette\Forms\SubmitterControl' not found` for some reason
			- vendor/spaze/sri-macros/src/Bridges/Latte/Nodes/SriNode.php  # throws No error to ignore is reported on line
			- vendor/spaze/svg-icons-latte/src/Nodes/IconNode.php  # throws No error to ignore is reported on line
			- vendor/symfony/translation-contracts/Test/*  # Symfony packages not installed
			- vendor/symfony/translation/Command/*Command.php
			- vendor/symfony/translation/DataCollector/TranslationDataCollector.php
			- vendor/symfony/translation/DataCollectorTranslator.php
			- vendor/symfony/translation/DependencyInjection/*Pass.php
			- vendor/symfony/translation/Loader/YamlFileLoader.php
			- vendor/symfony/translation/Test/*
			- vendor/texy/texy/examples/*/demo-*.php  # kukulich/fshl not installed
			- vendor/tracy/tracy/examples/*.php  # dump, bdump examples
			- vendor/tracy/tracy/src/Bridges/Psr/*  # psr/log not installed, Psr\Log\LogLevel constants missing intentionally
			# `require-dev` packages
			- vendor/dealerdirect/phpcodesniffer-composer-installer/*  # required by slevomat/coding-standard (excluded as well)
			- vendor/phpstan/*
			- vendor/slevomat/coding-standard/*
			- vendor/squizlabs/php_codesniffer/*
			# Throws "No error to ignore is reported on line", which can't be ignored, probably because only custom ruleset is used
			- vendor/contributte/translation/src/DI/TranslationExtension.php
			- vendor/contributte/translation/src/Latte/Macros.php
	ignoreErrors:
		-
			message: '#^Cannot access constant#'
			paths:
				- vendor/symfony/cache/Adapter/DoctrineDbalAdapter.php
				- vendor/symfony/cache/DependencyInjection/CachePoolPass.php
				- vendor/symfony/cache/Traits/AbstractAdapterTrait.php
				# Contains Latte 2 symbols
				- vendor/nette/application/src/Bridges/ApplicationDI/LatteExtension.php
				- vendor/nette/application/src/Bridges/ApplicationLatte/UIMacros.php
				- vendor/nette/forms/src/Bridges/FormsLatte/FormMacros.php

	disallowedFunctionCalls:
		# local disallowed-calls.neon
		-
			function: 'pcntl_*()'
			allowIn:
				- vendor/latte/latte/src/Tools/Linter.php
				- vendor/nette/tester/src/Runner/CliTester.php
				- vendor/nette/tester/src/Runner/Runner.php
		# bundled disallowed-dangerous-calls.neon
		-
			function: 'eval()'
			message: 'eval is evil, please write more code and do not use eval()'
			allowIn:
				- vendor/latte/latte/src/Latte/Engine.php  # called only when temp dir is not set
				- vendor/nette/application/src/Bridges/ApplicationDI/RoutingExtension.php  # called in afterCompile
		-
			function: 'print_r()'
			message: 'use some logger instead'
			allowIn:
				- vendor/efabrica/phpstan-latte/tests/*.php  # https://github.com/efabrica-team/phpstan-latte/pull/232
				- vendor/texy/texy/examples/*
			allowParamsAnywhere:
				2: true
		-
			function: 'putenv()'
			message: 'might overwrite existing variables'
			allowIn:
				- vendor/nette/tester/src/Runner/Job.php
		-
			function: 'var_dump()'
			message: 'use some logger instead'
			allowIn:
				- vendor/efabrica/phpstan-latte/tests/*.php  # https://github.com/efabrica-team/phpstan-latte/pull/232
		# bundled disallowed-execution-calls.neon
		-
			function: 'exec()'
			allowInMethods:
				- 'Tracy\DevelopmentStrategy::renderExceptionCli'  # can run a browser if configured
		-
			function: 'proc_open()'
			allowIn:
				- vendor/latte/latte/src/Latte/Compiler/PhpHelpers.php
				- vendor/nette/tester/src/Runner/Job.php
				- vendor/nette/tester/src/Runner/PhpInterpreter.php
				- vendor/php-parallel-lint/php-parallel-lint/src/Process/Process.php
		-
			function: 'shell_exec()'
			allowIn:
				- vendor/efabrica/phpstan-latte/src/Rule/LatteTemplatesRule.php
		# bundled disallowed-insecure-calls.neon
		-
			function: 'md5()'
			message: 'use hash() with at least SHA-256 for secure hash, or password_hash() for passwords'
			allowIn:
				- vendor/efabrica/phpstan-latte/src/Compiler/*.php
				- vendor/efabrica/phpstan-latte/src/Error/ErrorBuilder.php
				- vendor/efabrica/phpstan-latte/src/Template/Template.php
				- vendor/latte/latte/src/Latte/Engine.php
				- vendor/nette/caching/src/Caching/Cache.php
				- vendor/nette/database/src/Database/*.php
				- vendor/nette/di/src/DI/*.php
				- vendor/nette/robot-loader/src/RobotLoader/RobotLoader.php
				- vendor/nette/tester/src/Framework/*.php
				- vendor/nette/tester/src/Runner/*.php
				- vendor/php-parallel-lint/php-parallel-lint/src/Output.php
				- vendor/symfony/config/Resource/DirectoryResource.php
				- vendor/tracy/tracy/src/Tracy/Logger/Logger.php
		-
			function: 'sha1()'
			message: 'use hash() with at least SHA-256 for secure hash, or password_hash() for passwords'
			allowIn:
				- vendor/nette/forms/src/Forms/Controls/CsrfProtection.php
		-
			function: 'hash()'
			message: 'use hash() with at least SHA-256 for secure hash, or password_hash() for passwords'
			allowIn:
				- vendor/symfony/cache/Adapter/PhpArrayAdapter.php
				- vendor/symfony/cache/Traits/AbstractAdapterTrait.php
				- vendor/symfony/cache/Traits/FilesystemCommonTrait.php
			allowExceptCaseInsensitiveParams:
				1: 'md5'
		-
			function: 'hash_init()'
			message: 'use hash_init() with at least SHA-256 for secure hash, or password_hash() for passwords'
			allowIn:
				- vendor/symfony/config/Resource/*Resource.php
			allowExceptCaseInsensitiveParams:
				1: 'md5'
		-
			function: 'mt_rand()'
			message: 'it is not a cryptographically secure generator, use random_int() instead'
			allowIn:
				- vendor/nette/caching/src/Caching/Storages/FileStorage.php
				- vendor/symfony/cache/Traits/AbstractAdapterTrait.php
				- vendor/symfony/filesystem/Filesystem.php
				- vendor/symfony/translation/PseudoLocalizationTranslator.php
				- vendor/tracy/tracy/src/Tracy/Session/FileSession.php
		-
			function: 'uniqid()'
			message: 'it is not a cryptographically secure generator, use random_bytes() instead'
			allowIn:
				- vendor/efabrica/phpstan-latte/src/Compiler/*.php
				- vendor/efabrica/phpstan-latte/tests/*.php  # https://github.com/efabrica-team/phpstan-latte/pull/232
				- vendor/nette/tester/src/Framework/Dumper.php
				- vendor/nette/tester/src/Runner/Job.php
				- vendor/symfony/cache/Adapter/PhpArrayAdapter.php
				- vendor/symfony/filesystem/Filesystem.php
				- vendor/tracy/tracy/src/Tracy/Logger/FireLogger.php
		-
			function: 'setcookie()'
			message: 'use methods from MichalSpacekCz\Http\Cookies'
			allowIn:
				- vendor/nette/http/src/Http/Response.php
				- vendor/paragonie/halite/src/Cookie.php # Unused
				- vendor/tracy/tracy/src/Tracy/Session/FileSession.php
	disallowedMethodCalls:
		-
			method:
				- 'Nette\Http\IRequest::getCookie()'
				- 'Nette\Http\IResponse::setCookie()'
				- 'Nette\Http\Response::deleteCookie()'
			message: 'instead use methods from MichalSpacekCz\Http\Cookies'
			allowIn:
				- vendor/nette/http/src/Http/*.php
				- vendor/nette/security/src/Bridges/SecurityHttp/CookieStorage.php # Unused
		-
			method:
				- 'Nette\Application\Request::getPost()'
				- 'Nette\Http\IRequest::getCookie()'
				- 'Nette\Http\IRequest::getPost()'
			message: 'instead use methods from MichalSpacekCz\Http\HttpInput with more handy return types'
			allowIn:
				- vendor/nette/application/src/Application/*
				- vendor/nette/forms/src/Forms/Form.php
				- vendor/nette/http/src/Http/Session.php
				- vendor/nette/security/src/Bridges/SecurityHttp/CookieStorage.php
		-
			method: 'DateTimeZone::__construct()'
			message: 'use MichalSpacekCz\DateTime\DateTimeZoneFactory::get() instead, throws a more specific exception'
			allowIn:
				- vendor/*.php
	disallowedStaticCalls:
		-
			method: 'Tracy\Debugger::barDump()'
			message: 'use logger instead, debug bar is not visible in production'
			allowIn:
				- vendor/tracy/tracy/src/Tracy/functions.php
		-
			method: 'Tester\Environment::skip()'
			message: 'use TestCaseRunner::skip() instead, it can ignore skipping with an environment variable'
			allowIn:
				- vendor/nette/tester/src/Framework/TestCase.php
	disallowedSuperglobals:
		-
			superglobal: '$_SERVER'
			allowIn:
				- vendor/nette/*.php
				- vendor/php-parallel-lint/*.php
				- vendor/symfony/*.php
				- vendor/tracy/*.php
	disallowedClasses:
		-
			class:
				- 'Nette\Application\UI\Form'
				- 'Nette\Forms\Form'
			message: 'use MichalSpacekCz\Form\UiForm for better type declarations'
			allowIn:
				- vendor/*.php

includes:
	- disallowed-calls.neon
