parameters:
	paths:
		- app
	level: 7

includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- disallowed-calls.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
