parameters:
	tmpDir: /tmp/phpstan/michalspacek.cz-latte-templates
	paths:
		- app
	level: 1
	latte:
		tmpDir: %currentWorkingDirectory%/temp/phpstan-latte
		engineBootstrap: app/PhpStan/latteEngine.php
		presenterFactoryBootstrap: app/PhpStan/presenterFactory.php
	ignoreErrors:
		- '#^Form field with name "0" probably does not exist#'  # https://github.com/efabrica-team/phpstan-latte/issues/106

includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/efabrica/phpstan-latte/rules.neon
