#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		security:
			frames: false

		session:
			name: yourluckynumbers
			expiration: 14 days

	services:
		database:  @Nette\Database\Connection
		articles:  \MichalSpacekCz\Articles
		talks:     \MichalSpacekCz\Talks
		trainings: \MichalSpacekCz\Trainings

production < common:
	nette:
		database:
			default:
				dsn: 'mysql:host=db5.tojeono.cz;dbname=cz_michalspacek'
				user: michalspacek
				password: fFmCaxfw

development < common:
	nette:
		database:
			default:
				dsn: 'mysql:host=localhost;dbname=cz_michalspacek'
				user: root
				password: fbL7nkZTCR