services:
	# www module
	- MichalSpacekCz\Presentation\Www\Articles\ArticlesPresenter
	- MichalSpacekCz\Presentation\Www\CompanyTrainings\CompanyTrainingsPresenter
	- MichalSpacekCz\Presentation\Www\Contact\ContactPresenter
	- MichalSpacekCz\Presentation\Www\Cookies\CookiesPresenter
	- MichalSpacekCz\Presentation\Www\Error\ErrorPresenter
	- MichalSpacekCz\Presentation\Www\ErrorGeneric\ErrorGenericPresenter
	- MichalSpacekCz\Presentation\Www\Exports\ExportsPresenter
	- MichalSpacekCz\Presentation\Www\Files\FilesPresenter
	- MichalSpacekCz\Presentation\Www\Forbidden\ForbiddenPresenter
	- MichalSpacekCz\Presentation\Www\Homepage\HomepagePresenter
	- MichalSpacekCz\Presentation\Www\Interviews\InterviewsPresenter
	- MichalSpacekCz\Presentation\Www\Pgp\PgpPresenter(locationRoot: %domain.locationRoot%)
	- MichalSpacekCz\Presentation\Www\Photo\PhotoPresenter
	- MichalSpacekCz\Presentation\Www\Post\PostPresenter
	- MichalSpacekCz\Presentation\Www\Projects\ProjectsPresenter
	- MichalSpacekCz\Presentation\Www\Redirect\RedirectPresenter
	- MichalSpacekCz\Presentation\Www\Tags\TagsPresenter
	- MichalSpacekCz\Presentation\Www\Talks\TalksPresenter
	- MichalSpacekCz\Presentation\Www\Trainings\TrainingsPresenter
	- MichalSpacekCz\Presentation\Www\Venues\VenuesPresenter
	- MichalSpacekCz\Presentation\Www\Who\WhoPresenter

	# api module
	- MichalSpacekCz\Presentation\Api\Certificates\CertificatesPresenter
	- MichalSpacekCz\Presentation\Api\Company\CompanyPresenter
	- MichalSpacekCz\Presentation\Api\ErrorGeneric\ErrorGenericPresenter
	- MichalSpacekCz\Presentation\Api\Error\ErrorPresenter

	# admin module
	- MichalSpacekCz\Presentation\Admin\Blog\BlogPresenter
	- MichalSpacekCz\Presentation\Admin\Certificates\CertificatesPresenter
	- MichalSpacekCz\Presentation\Admin\Emails\EmailsPresenter
	- MichalSpacekCz\Presentation\Admin\Homepage\HomepagePresenter
	- MichalSpacekCz\Presentation\Admin\Honeypot\HoneypotPresenter
	- MichalSpacekCz\Presentation\Admin\Info\InfoPresenter
	- MichalSpacekCz\Presentation\Admin\Interviews\InterviewsPresenter
	- MichalSpacekCz\Presentation\Admin\Invoices\InvoicesPresenter
	- MichalSpacekCz\Presentation\Admin\Pulse\PulsePresenter
	- MichalSpacekCz\Presentation\Admin\Reviews\ReviewsPresenter
	- MichalSpacekCz\Presentation\Admin\Sign\SignPresenter
	- MichalSpacekCz\Presentation\Admin\Talks\TalksPresenter
	- MichalSpacekCz\Presentation\Admin\Trainings\TrainingsPresenter
	- MichalSpacekCz\Presentation\Admin\User\UserPresenter
	- MichalSpacekCz\Presentation\Admin\WellKnown\WellKnownPresenter

	# webleed module
	- MichalSpacekCz\Presentation\Webleed\Homepage\HomepagePresenter

	# upc module
	- MichalSpacekCz\Presentation\UpcKeys\Homepage\HomepagePresenter

	# pulse module
	- MichalSpacekCz\Presentation\Pulse\ErrorGeneric\ErrorGenericPresenter
	- MichalSpacekCz\Presentation\Pulse\Error\ErrorPresenter
	- MichalSpacekCz\Presentation\Pulse\Homepage\HomepagePresenter
	- MichalSpacekCz\Presentation\Pulse\Passwords\PasswordsPresenter
	- MichalSpacekCz\Presentation\Pulse\PasswordsStorages\PasswordsStoragesPresenter

	# easteregg module
	- MichalSpacekCz\Presentation\EasterEgg\Nette\NettePresenter
