parameters:
	translatedRoutes:
		presenters:
			Www:
				Homepage:
					mask:
						cs_CZ:  # Intentionally left empty
						en_US:  # Intentionally left empty
				Interviews:
					mask:
						cs_CZ: rozhovory
						en_US: interviews
				Talks:
					mask:
						cs_CZ: prednasky
						en_US: talks
				Files:
					mask:
						cs_CZ: soubory
						en_US: files
					actions:
						training:
							cs_CZ: skoleni
							en_US: training
						file:
							cs_CZ: soubor
							en_US: file
				Trainings:
					mask:
						cs_CZ: skoleni
						en_US: trainings
					actions:
						reviews:
							cs_CZ: ohlasy
							en_US: reviews
						success:
							cs_CZ: potvrzeni
							en_US: success
						application:
							cs_CZ: prihlaska
							en_US: application
						files:
							cs_CZ: soubory
							en_US: files
				CompanyTrainings:
					mask:
						cs_CZ: firemni-skoleni
						en_US: inhouse-trainings
				Articles:
					mask:
						cs_CZ: clanky
						en_US: articles
				Who:
					mask:
						cs_CZ: kdo
						en_US: who
				Contact:
					mask:
						cs_CZ: kontakt
						en_US: contact
				Venues:
					mask:
						cs_CZ: kudy-tudy
						en_US: venues
				Redirect:
					mask:
						cs_CZ: r
						en_US: r
					actions:
						application:
							cs_CZ: p
							en_US: a
						files:
							cs_CZ: s
							en_US: f
						newestArticleByTag:
							cs_CZ: nb  # nejnovější blogpost
							en_US: nb  # newest blogpost
				Photo:
					mask:
						cs_CZ: foto
						en_US: photo
				Projects:
					mask:
						cs_CZ: projekty
						en_US: projects
				Exports:
					mask:
						cs_CZ: exporty
						en_US: exports
					actions:
						articles:
							cs_CZ: clanky
							en_US: articles
				Tags:
					mask:
						cs_CZ: tema
						en_US: tags
				Pgp:
					mask:
						cs_CZ: pgp
						en_US: pgp
				Cookies:
					mask:
						cs_CZ: cookies
						en_US: cookies
				Security:
					mask:
						cs_CZ: bezpecnost
						en_US: security
