Dobrý den,

díky za účast na školení {$application->training->name} {$application->trainingStart|localeIntervalDay:$application->trainingEnd:'cs_CZ'}

V příloze naleznete fakturu na částku {$application->priceWithCurrency} bez DPH, {$application->priceVatWithCurrency} s DPH,
proplaťte ji, prosím, do stanoveného data.

{if $additional}
{$additional}

{/if}
Děkuji a třeba brzy na shledanou na nějakém dalším školení!
Michal Špaček

{include "../signature.latte"}
