Zdravím,

v příloze posílám daňový doklad za uhrazenou zálohu na školení
{$application->getTrainingName()} {$application->getTrainingStart()|localeIntervalDay:$application->getTrainingEnd(), 'cs_CZ'}

Jen pro úplnost: záloha {$application->getPriceVatWithCurrency()} již byla uhrazena, tuhle fakturu není třeba platit.

{if $additional}
{$additional}

{/if}
Děkuji,
Michal Špaček

{include "../signature.latte"}
