body {
	font: 1rem Arial, sans-serif;
	margin: 0;
	color: #222;
	background-color: #DDD;
}
h1 small {
	color: #999;
}
h3, a {
	color: #777;
}
#container {
	margin: 2em auto;
	max-width: 920px;
}
#chart {
	padding-top: 50px;
	clear: both;
	width: 920px;
	height: 400px;
}
#logo {
	width: 100px;
	height: 120px;
	float: left;
	margin: 0 40px 0 190px;
}
#header {
	width: 400px;
	height: 120px;
	float: left;
}
#stats {
	padding-top: 50px;
	clear: both;
	font-size: 4em;
	text-align: center;
}
#stats small {
	font-size: 0.25em;
	color: #999;
}
#break {
	display: none;
}
#notes {
	padding-top: 50px;
	text-align: center;
	font-size: 0.75em;
	color: #999;
	line-height: 2em;
}
@media (max-width: 920px) {
	#chart {
		width: auto;
		max-width: 920px;
		overflow-x: scroll;
	}
	#logo, #header {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	#stats {
		padding-top: 0;
		font-size: 2em;
		float: none;
	}
	#stats small {
		font-size: 1em;
	}
	#break {
		display: block;
	}
	#notes {
		font-size: 1em;
	}
}
