{layout "../../../../presenters/templates/@layout.latte"}
{var $containerClass = 'container container-wide'}
{var $robots = 'noindex, nofollow'}
{var $trackingCode = false}
{define #scriptsReplace}
{script jquery+admin async, defer}
{script netteForms async, defer}
{/define}
