{layout "../../../../presenters/templates/@layout.latte"}
{var $containerClass = 'container container-wide'}
{var $robots = 'noindex, nofollow'}
{var $trackingCode = false}
{define #scripts}
{script admin crossorigin:anonymous}
{/define}
