{define #menu}
	&raquo; <a n:href="Homepage:">Michal Špaček</a>
	&raquo; <a n:href="Tags:">{_messages.label.tags}</a>
{/define}

{define #content}
<h2>{_messages.label.writtenarticles}</h2>
<div n:foreach="$articles as $article">
	{control articleSummary $article}
</div>
<p><a n:href="Articles:">{_messages.label.allarticles}</a></p>
{/define}
