{define #menu}
&raquo; <a n:href="Homepage:">Michal Špaček</a>
{/define}

{define #content}
<h2>{_messages.label.writtenarticles}</h2>
<div n:foreach="$articles as $article">
	{include "common/itemArticle.latte", article: $article}
</div>
{/define}
