{define #menu}
&raquo; <a n:href=":Homepage:">Michal Špaček</a>
&raquo; <a n:href="Homepage:">Administrace</a>
&raquo; <a n:href="Talks:">{_messages.title.talks}</a>
{/define}

{define #content}
{import "default.latte"}
{define #formExtra}
	<tr>
		<th></th><td><small><a n:href="slides $talk->talkId">slajdy</a></small></td>
	</tr>
{/define}
{include #talkForm, form => editTalk}
{/define}
