{layout "../@layout.latte"}
{define #footer}
<div id="footer" class="inner-container"><small><strong>A <a href="https://www.michalspacek.cz">Michal Špaček</a> project.</strong></small></div>
{/define}
