{varType int[] $upcomingIds}
{varType array<int, MichalSpacekCz\Training\Dates\TrainingDate> $trainings}
{varType \DateTime|null $now}
{define #listItems, Nette\Database\Row[] $applications}
	<tr class="summary" n:foreach="$applications as $application">
		<td><small>{$iterator->getCounter()}.</small></td>
		<td><small n:tag-if="$application->name === null"><a href="{plink Trainings:application $application->id}">{$application->name ?? smazáno}</a></small></td>
		<td><small>{$application->email ?? smazáno}</small></td>
		<td><span n:tag-if="$application->company && ($application->company|length) > 40" title="{$application->company}">{$application->company|truncate:40}</span></td>
		<td><small{if $application->note && ($application->note|length) > 20} title="{$application->note}"{/if}>{$application->note|truncate:20}</small></td>
		<td><small><code title="{$application->statusTime|localeDay} {$application->statusTime|date:'H:i:s'}">{$application->status}</code></small></td>
		<td>
			<small><code title="Zdroj {$application->sourceName}">{$application->sourceNameInitials}</code></small>
			{capture $title}
				{ifset $application->priceVatWithCurrency}{$application->priceVatWithCurrency} s DPH, {/ifset}
				faktura č. {ifset $application->invoiceId}{$application->invoiceId},
					{ifset $application->paid}
						{capture $paidTime}{$application->paid|date:'H:i'}{/capture}
						zaplaceno {$application->paid|localeDay}{if $paidTime != '00:00'} {$paidTime}{/if}
					{else}
						nezaplaceno
					{/ifset}
				{else}–{/ifset}
			{/capture}
			<small title="{$title|strip}">
				{ifset $application->priceWithCurrency}{$application->priceWithCurrency}{if $application->price > 0 && !isset($application->paid)} <strong>!</strong>{/if}{else}–{/ifset}
			</small>
		</td>
	</tr>
{/define}

<p id="statuses-links" class="small separated">
	<span id="statusesShow">Zobrazit všechny</span>
	<span id="statusesHide" class="hidden">Skrýt všechny</span>
</p>
<table id="statuses">
	{var $dateLineDisplayed = false}
	<tbody n:inner-foreach="$trainings as $training">
	{var $upcoming = in_array($training->getId(), $upcomingIds)}
	{if $order === MichalSpacekCz\Training\DateList\DateListOrder::Desc}
		{var $dateLineCheck = $now && $training->getStart() < $now}
	{else}
		{var $dateLineCheck = $now && $training->getStart() > $now}
		{if $dateLineCheck && $iterator->first}
			{var $dateLineDisplayed = true}
		{/if}
	{/if}
	<tr n:class="summary, $dateLineCheck && !$dateLineDisplayed ? dateLine, $training->getStatus() !== \MichalSpacekCz\Training\Dates\TrainingDateStatus::Confirmed ? lighter">
		{var $dateLineDisplayed = $dateLineCheck}
		<td n:if="$order === MichalSpacekCz\Training\DateList\DateListOrder::Desc" class="positionCell"><small>{$iterator->count() - $iterator->getCounter() + 1}.</small></td>
		<td n:if="$order === MichalSpacekCz\Training\DateList\DateListOrder::Asc" class="positionCell"><small>{$iterator->getCounter()}.</small></td>
		<td class="dateCell">
			<strong n:tag-if="$upcoming">
				<small n:tag-if="!$upcoming && $now && $training->getStart() > $now">
					<a href="{plink Trainings:date $training->getId()}">{$training->getStart()|localeIntervalDay:$training->getEnd()}</a>
				</small>
			</strong>
			<span n:if="$training->getNote()" title="Poznámka: {$training->getNote()}">{icon clipboard}</span>
			<span n:if="$training->getLabel()" title="Label: {$training->getLabel()}">{icon asterisk-simple}</span>
		</td>
		<td class="iconCell" title="{$training->getStatus()->value}">
			{if $training->getStatus() === \MichalSpacekCz\Training\Dates\TrainingDateStatus::Created}{icon plus-circle}{/if}
			{if $training->getStatus() === \MichalSpacekCz\Training\Dates\TrainingDateStatus::Confirmed}{icon check-circle}{/if}
			{if $training->getStatus() === \MichalSpacekCz\Training\Dates\TrainingDateStatus::Tentative}{icon circle}{/if}
			{if $training->getStatus() === \MichalSpacekCz\Training\Dates\TrainingDateStatus::Canceled}{icon times-circle}{/if}
		</td>
		<td class="nameCell" data-date="{$training->getId()}">{$training->getName()}{if $training->isPublic() || $training->getValidApplicationsCount() > 0} ({$training->getValidApplicationsCount()}){/if}</td>
		<td><small>{if $training->isRemote()}{_messages.label.remote}{else}{$training->getVenueCity()}{/if}{if !$training->isPublic()}, {$training->getVenueName()}{/if}</small></td>
	</tr>
	<tr id="date-{$training->getId()}" n:class="empty($training->requiresAttention()) ? hidden">
		<td colspan="5">
			{if $training->getApplications() || $training->getCanceledApplications()}
				<table class="indent">
					<thead>
					<tr>
						<th></th>
						<th><small>Jméno</small></th>
						<th><small>E-mail</small></th>
						<th><small>Společnost</small></th>
						<th><small>Poznámka</small></th>
						<th><small>Status</small></th>
						<th><small title="Cena bez DPH">Cena</small></th>
					</thead>
					<tbody n:if="$training->getApplications()">{include #listItems, applications: $training->getApplications()}</tbody>
					<tbody n:if="$training->getCanceledApplications()" class="discarded">{include #listItems, applications: $training->getCanceledApplications()}</tbody>
				</table>
			{else}
				<span class="indent"><small>{if $training->isPublic()}Žádní přihlášení účastníci{else}Neznámý počet účastníků firemního školení{/if}</small></span>
			{/if}
		</td>
	</tr>
	</tbody>
</table>
