body {
	font: 1em/1.5 Arial, sans-serif;
	margin: 0;
	color: #222;
	background-color: #EFEFEF;
}
h1 {
	margin: 0.25em 0 1em 0;
	line-height: 1em;
}
h2 small { color: #777; }
ol { margin: 0; }
#header { margin: 0.5em 0; }
#header h1 {
	margin: 0;
	line-height: 1em;
}
#header p { margin: 0.2em 0 1em 0; }
#header p.right { margin-left: 1em; }
#menu {
	font-size: small;
	line-height: 1;
	background-color: #E3E3E3;
	clear: both;
	margin-bottom: 0;
}
#menu a, #menu .open-button:hover {
	text-decoration: none;
	color: #777;
}
#menu a:hover { text-decoration: underline; }
#menu div { margin: 0; }
#menu .open-button { font-size: small; }
#search-sort { margin-top: 0; }
#search-sort div { margin: 0.3em 1em; }
#guide .rating { margin: 0.3em 0; }
#footer { background-color: #FAFAFA; }
#container {
	margin: 0 auto;
	padding: 1em;
	max-width: 920px;
}
.inner-container {
	background-color: #FEFEFE;
	padding: 1em;
	margin: 1em 0;
	border-radius: 2px;
}
.inner-container h2 { margin: 0; padding: 0;}
.inner-container h3 { margin: 0.5em 0; }
.inner-container div { margin: 0.5em 0; }
.inner-container p { margin: 0; }
.inner-container .algo-container {
	background-color: #FAFAFA;
	padding: 1em 1em 0.5em 1em;
	margin: 0;
}
.inner-container .history { margin: 0 0 0 0.5em; }
.inner-container .algo { margin: 0; }
.inner-container .details, .inner-container .details div { margin-bottom: 0; }
.inner-container .algo-container p { margin-left: 0.5em; }
.inner-container .site-container {
	background-color: #EFEFEF;
	padding: 0 1em;
	margin-bottom: 0;
}
.site-container a { text-decoration: none; }
.site-container a:hover { text-decoration: underline; }
.permalink { display: none; }
h2:hover .permalink { display: inline; }
.clear {
	clear: both;
	padding: 0;
	margin: 0;
}
.left { float: left; }
.right { float: right; }
.open-button {
	font-size: smaller;
	color: #777;
	text-decoration: none;
}
.open-button::after {
	content: " ►";
	color: #CCC;
}
.open-button.open::after { content: " ▼"; }
.hidden { display: none; }
.algo-container ul {
	margin: 0;
	list-style-type: none;
	padding-left: 1em;
}
.algo-container li::before {
	content: "– ";
	color: #CCC;
}
.lighter { opacity: 0.3; }
.search-result {
	background-color: rgba(255, 255, 0, 0.3);
	margin: -2px;
	padding: 2px 2px;
	border-radius: 2px;
}
