Dobrý den,

díky za účast na školení {$application->training->name} ({$application->trainingStart|date:'j. n. Y'} od {$application->trainingStart|date:'H:i'})

V příloze naleznete fakturu na částku {$application->price} Kč bez DPH, {$application->priceVat} Kč s DPH,
proplaťte ji, prosím, do stanoveného data.

{if $additional}
{$additional}

{/if}
Děkuji a třeba brzy na shledanou na nějakém dalším školení!
Michal Špaček

{include "../signature.latte"}
