{layout "../../../Www/Presenters/templates/@layout.latte"}
{var $containerExtraClass = 'admin'}
{var $headerLinks = false}
{define #feeds}{/define}
{define #scriptsReplace}
{script app + admin async, defer}
{script netteForms async, defer}
{/define}
