<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{if isset($pageTitle)}{$pageTitle} | {/if} Pulse</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{stylesheet screen-pulse}
	{script jquery+pulse async, defer}
	{if $trackingCode}{script googleanalytics async, defer}{/if}
</head>
<body>
<div id="container">{include #content}</div>
</body>
</html>
