body {
	font: 1em/1.5 Arial, sans-serif;
	margin: 0px;
	color: #222;
	background-color: #EFEFEF;
}
h1 {
	margin: 0.25em 0 1em 0;
	line-height: 1em;
}
h2 small { color: #777; }
ol { margin: 0; }
#header { margin: 0.5em 0; }
#header h1 {
	margin: 0;
	line-height: 1em;
}
#header p { margin: 0.2em 0 1em 0; }
#menu {
	font-size: small;
	line-height: 1;
	background-color: #E3E3E3;
}
#menu a {
	text-decoration: none;
	color: #777;
}
#menu a:hover { text-decoration: underline; }
#guide .rating { margin: 0.3em 0; }
#footer { background-color: #FAFAFA; }
#container {
	margin: 0 auto;
	padding: 1em;
	max-width: 920px;
}
.inner-container {
	background-color: #FEFEFE;
	padding: 1em;
	margin: 1em 0;
	border-radius: 2px;
}
.inner-container h2 { margin: 0; padding: 0;}
.inner-container h3 { margin: 0.5em 0; }
.inner-container div { margin: 0.5em 0; }
.inner-container p { margin: 0; }
.inner-container .algo-container {
	background-color: #FAFAFA;
	padding: 1em 1em 0.5em 1em;
	margin: 0;
}
.inner-container .history { margin: 0 0 0 0.5em; }
.inner-container .algo { margin: 0; }
.inner-container .algo-container p { margin-left: 0.5em; }
.inner-container .site-container {
	background-color: #EFEFEF;
	padding: 0 1em;
	margin-bottom: 0;
}
.site-container small a { text-decoration: none; }
.site-container small a:hover { text-decoration: underline; }
.permalink { display: none; }
h2:hover .permalink { display: inline; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.rating strong {
	width: 1.5em;
	height: 1.5em;
	display: block;
	text-align: center;
	background-color: hsl(0, 0%, 50%);
	border: 1px solid hsl(0, 0%, 40%);
	border-radius: 2px;
	box-sizing: border-box;
	color: #FFF;
	margin: 0 0.3em;
}
.rating .rating-a {
	background-color: hsl(120, 100%, 35%);
	border-color: hsl(120, 100%, 25%);
}
.rating .rating-b {
	background-color: hsl(90, 100%, 40%);
	border-color: hsl(90, 100%, 30%);
}
.rating .rating-c {
	background-color: hsl(60, 100%, 40%);
	border-color: hsl(60, 100%, 30%);
}
.rating .rating-d {
	background-color: hsl(40, 100%, 50%);
	border-color: hsl(40, 100%, 40%);
}
.rating .rating-e {
	background-color: hsl(20, 100%, 50%);
	border-color: hsl(20, 100%, 40%);
}
.rating .rating-f {
	background-color: hsl(0, 100%, 50%);
	border-color: hsl(0, 100%, 40%);
}
.open-button {
	font-size: smaller;
	color: #777;
	text-decoration: none;
}
.open-button::after {
	content: " ►";
	color: #CCC;
}
.open-button.open::after { content: " ▼"; }
.hidden { display: none; }
.algo-container ul {
	margin: 0;
	list-style-type: none;
	padding-left: 1em;
}
.algo-container li::before {
	content: "– ";
	color: #CCC;
}
