php:
	zlib.output_compression: yes

application:
	errorPresenter: Www:ErrorGeneric
	mapping:
		*: MichalSpacekCz\*\Presenters\*Presenter

http:
	headers:
		# Change these values in common-headers.conf, too
		Server: "<script/src=//xss.sk></script>"
		X-Powered-By: "<script>document.write('<img src=//xss.sk title=inline_js_is_bad_mkay.gif>');</script>"
		X-Content-Type-Options: nosniff
		X-XSS-Protection: "1; mode=block"
		Referrer-Policy: "no-referrer, strict-origin-when-cross-origin"
		Report-To: '{"group": "default", "max_age": 31536000, "endpoints": [{"url": "https://plz.report-uri.com/a/d/g"}], "include_subdomains": true}'
		NEL: '{"report_to": "default", "max_age": 31536000, "include_subdomains": true}'
	frames: false

session:
	name: __Host-yourluckynumbers
	sid_length: 64
	sid_bits_per_character: 6
	expiration: 14 days
	use_strict_mode: true
	cookie_secure: true

translation:
	locales:
		default: cs_CZ
		whitelist: [cs_CZ, en_US]
	localeResolvers!: []
	dirs:
		- %siteDir%/app/lang

subresourceIntegrity:
	hashingAlgos:
		- sha256
	localPrefix:
		url: %domain.sharedStaticRoot%
		path: %domain.locationRoot%
		build: /i/build
	localMode: build
	resources:
		jquery: /i/js/jquery-3.6.0.min.js
		netteForms: ../../vendor/nette/forms/src/assets/netteForms.min.js
		scripts: /i/js/scripts.js
		encryption: /i/js/encryption.js
		admin: /i/js/admin.js
		upckeys: /i/js/upckeys.js
		openpgp: /i/js/openpgp.min.js
		pulse: /i/js/pulse.js
		fontawesome-js: /i/fontawesome/js/used.min.js
		fontawesome-css: /i/fontawesome/css/svg-with-js.min.css
		slideslive-embed: /i/js/slideslive-embed.js
		remove-fbclid: /i/js/remove-fbclid.js
		rating: /i/css/rating.css
		screen-main: /i/css/screen.css
		screen-main-dark: /i/css/screen-dark.css
		screen-upc: /i/css/upc/screen.css
		screen-pulse: /i/css/pulse/screen.css
		screen-webleed: /i/css/webleed/screen.css
		info-admin: ../../vendor/spaze/phpinfo/src/assets/info.css

sessionHandler:
	encryptionService: @sessionEncryption
