contentSecurityPolicy:
	snippets:
		exploited.cz:
			form-action:
				- https://exploited.cz
	policies:
		*.*:
			default-src: "'none'"
			form-action: "'none'"
			require-trusted-types-for: "'script'"
			report-uri: %reporting.contentSecurityPolicy%
			report-to: default
		*.*.*:
			@extends: *.*
		www.*.*:
			default-src: "'none'"
			img-src:
				- %domain.contentSecurityPolicySelf%
			script-src:
				- "'strict-dynamic'"
				- "'nonce'"
				- %domain.contentSecurityPolicySelf%
				- "'report-sample'"
			style-src:
				- "'nonce'"
				- %domain.contentSecurityPolicySelf%
				- "'report-sample'"
			frame-ancestors: "'none'"
			form-action: "'self'"
			base-uri: "'none'"
			upgrade-insecure-requests:
			report-uri: %reporting.contentSecurityPolicy%
			report-to: default
		www.trainings.training:
			@extends: www.*.*
			connect-src: 'https://api.%locales.rootDomainMapping.cz%'
		admin.*.*:
			@extends: www.*.*
		admin.blog.add:
			@extends: admin.*.*
			'!frame-ancestors': "'self'"
			frame-src: "'self'"
		admin.blog.edit:
			@extends: admin.blog.add
		admin.info.php:
			@extends: www.*.*
			img-src:
				- 'data:'
		admin.talks.slides:
			@extends: www.*.*
			img-src:
				- 'data:'
		api.*.*:
			default-src: "'none'"
			frame-ancestors: "'none'"
			form-action: "'none'"
			upgrade-insecure-requests:
			report-uri: %reporting.contentSecurityPolicy%
			report-to: default
		webleed.*.*:
			@extends: www.*.*
			img-src:
				- 'blob:'
			style-src:
				- "'unsafe-inline'"
			form-action: "https://export.highcharts.com"
		pulse.*.*:
			@extends: www.*.*
		upckeys.*.*:
			@extends: www.*.*
