contentSecurityPolicy:
	snippets:
		slideshare:
			child-src:
				- https://www.slideshare.net
		speakerdeck:
			script-src:
				- https://speakerdeck.com
			child-src:
				- https://speakerdeck.com
		youtube:
			child-src:
				- https://www.youtube-nocookie.com
		vimeo:
			child-src:
				- https://player.vimeo.com
		slideslive:
			child-src:
				- https://slideslive.com
		exploited.cz:
			form-action:
				- https://exploited.cz
	policies:
		*.*:
			default-src: "'none'"
			form-action: "'none'"
			report-uri: %reporting.contentSecurityPolicy%
			report-to: default
		*.*.*:
			@extends: *.*
		www.*.*:
			default-src: "'none'"
			img-src:
				- %domain.contentSecurityPolicySelf%
			script-src:
				- "'strict-dynamic'"
				- "'nonce'"
				- %domain.contentSecurityPolicySelf%
				- "'report-sample'"
			style-src:
				- "'nonce'"
				- %domain.contentSecurityPolicySelf%
				- "'report-sample'"
			frame-ancestors: "'none'"
			form-action: "'self'"
			base-uri: "'none'"
			upgrade-insecure-requests:
			report-uri: %reporting.contentSecurityPolicy%
			report-to: default
		www.trainings.training:
			@extends: www.*.*
			connect-src: 'https://api.%locales.rootDomainMapping.cz%'
		admin.*.*:
		 	@extends: www.*.*
		admin.blog.add:
		 	@extends: admin.*.*
		 	connect-src: "'self'"
		admin.blog.edit:
		 	@extends: admin.blog.add
		admin.info.php:
			@extends: www.*.*
			img-src:
				- 'data:'
		admin.talks.slides:
			@extends: www.*.*
			img-src:
				- 'data:'
		api.*.*:
			default-src: "'none'"
			frame-ancestors: "'none'"
			form-action: "'none'"
			upgrade-insecure-requests:
			report-uri: %reporting.contentSecurityPolicy%
			report-to: default
		webleed.*.*:
			@extends: www.*.*
			img-src:
				- 'blob:'
			style-src:
				- "'unsafe-inline'"
			form-action: "https://export.highcharts.com"
		pulse.*.*:
			@extends: www.*.*
		upckeys.*.*:
			@extends: www.*.*
