di:
	debugger: true

mail:
	smtp: true
	host: localhost
	port: 25

contentSecurityPolicy: # list values here are added to the existing list values, they do not replace them
	policies:
		www.*.*:
			img-src:
				- 'data:'
			style-src:
				- "'unsafe-inline'"
		admin.*.*:
			script-src:
				-"'self'"
		admin.info.php:
			@extends: www.*.*
			script-src:
				- "'self'"
		api.*.*:
			img-src:
				- 'data:'
			script-src:
				- "'self'"
			style-src:
				- "'unsafe-inline'"
		webleed.*.*:
			script-src:
				-"'self'"
		pulse.*.*:
			script-src:
				-"'self'"
		upckeys.*.*:
			script-src:
				-"'self'"

parameters:
	locales:
		supported:
			upc:
				en_US: upcwifikeys.com.test.
		rootDomainMapping:
			cz: michalspacek.cz.test
			com: michalspacek.com.test

	encryption:
		keys:
			password:
				dev1: "mspe_abadcafec15c0d06f00dcafed00dbeef" # [0-9A-F]{64}
			email:
				dev1: "msee_cafebabe25da1768d69ee80717cc2f30" # [0-9A-F]{64}
			session:
				dev1: "msse_25da1768d69ee80717cc2f30cafebabe" # [0-9A-F]{64}
		activeKeyIds:
			password: dev1
			email: dev1
			session: dev1
		keyPrefixes:
			password: mspe
			email: msee
			session: msse

	awsLambda:
		upcKeys:
			url: "https://example.amazonaws.com/stage/upc_keys/%s/%s"
			apiKey: "britishteaatfiveoclockisnotacoffee"

	certificatesApi:
		users:
			web: sha512bin2hexrandom_bytes64
			demo:
			githubactions:

services:
	cache.journal: \Nette\Caching\Storages\SQLiteJournal('/tmp/michalspacek.cz/journal.cz.s3db') # file-based SQLiteJournal (default in nette/caching 2.4+) throws "SQLSTATE[HY000]: General error: 10 disk I/O error" when the journal is on shared Windows drive
