parameters:
	locales:
		all: [cs_CZ, en_US]
		languages:
			cs_CZ:
				code: cs
				name: Česky
			en_US:
				code: en
				name: English
		supported:
			# The value is a FQDN if it ends with a dot, otherwise the rootDomainMapping.$value domain is appended to the host name
			admin:
				cs_CZ: cz
			api:
				en_US: cz
			heartbleed:
				en_US: cz
			pulse:
				en_US: cz
			upc:
				en_US: upcwifikeys.com.
			www:
				cs_CZ: cz
				en_US: com
		rootDomainMapping:
			cz: michalspacek.cz
			com: michalspacek.com
	domain:
		sharedStaticRoot: https://www.%domain.root%
		imagesRoot: i/images
		locationRoot: /srv/www/michalspacek.cz/site/public/www.michalspacek.cz
	reporting:
		contentSecurityPolicy: https://plz.report-uri.com/r/default/csp/enforce
	vatRate: 0.21
	loadCompanyDataVisible: true
	permanentLogin:
		interval: 14 days
	certificatesApi:
		expiringThreshold: 20
		hideExpiredAfter: 10
		users:  # Added in local.neon
	blog:
		updatedInfoThreshold: 30
		allowedTags:
			forms:
				form: [action, method, target]
				button: []
	permissionsPolicy:
		accelerometer: none
		camera: none
		geolocation: none
		gyroscope: none
		magnetometer: none
		microphone: none
		midi: none
		payment: none
		usb: none
		interest-cohort: none

	# Added/changed in local.neon
	contact:
		phoneNumber: "123456789"
	encryption:
		keys:
			-
		activeKeyIds:
			-
	awsLambda:
		upcKeys:
			url:
			apiKey:
