services:
	# www module
	- MichalSpacekCz\Www\Presenters\ArticlesPresenter
	- MichalSpacekCz\Www\Presenters\CompanyTrainingsPresenter
	- MichalSpacekCz\Www\Presenters\ContactPresenter
	- MichalSpacekCz\Www\Presenters\ErrorPresenter
	- MichalSpacekCz\Www\Presenters\ErrorGenericPresenter
	- MichalSpacekCz\Www\Presenters\ExportsPresenter
	- MichalSpacekCz\Www\Presenters\FilesPresenter
	- MichalSpacekCz\Www\Presenters\ForbiddenPresenter
	- MichalSpacekCz\Www\Presenters\HomepagePresenter
	- MichalSpacekCz\Www\Presenters\InterviewsPresenter
	- MichalSpacekCz\Www\Presenters\PgpPresenter(locationRoot: %domain.locationRoot%)
	- MichalSpacekCz\Www\Presenters\PhotoPresenter
	- MichalSpacekCz\Www\Presenters\PostPresenter
	- MichalSpacekCz\Www\Presenters\RedirectPresenter
	- MichalSpacekCz\Www\Presenters\TagsPresenter
	- MichalSpacekCz\Www\Presenters\TalksPresenter
	- MichalSpacekCz\Www\Presenters\TrainingsPresenter
	- MichalSpacekCz\Www\Presenters\VenuesPresenter
	- MichalSpacekCz\Www\Presenters\WhoPresenter

	# api module
	- MichalSpacekCz\Api\Presenters\CertificatesPresenter
	- MichalSpacekCz\Api\Presenters\CompanyPresenter
	- MichalSpacekCz\Api\Presenters\ErrorGenericPresenter
	- MichalSpacekCz\Api\Presenters\ErrorPresenter

	# admin module
	- MichalSpacekCz\Admin\Presenters\BlogPresenter
	- MichalSpacekCz\Admin\Presenters\EmailsPresenter
	- MichalSpacekCz\Admin\Presenters\HomepagePresenter
	- MichalSpacekCz\Admin\Presenters\HoneypotPresenter
	- MichalSpacekCz\Admin\Presenters\InfoPresenter
	- MichalSpacekCz\Admin\Presenters\InterviewsPresenter
	- MichalSpacekCz\Admin\Presenters\InvoicesPresenter
	- MichalSpacekCz\Admin\Presenters\PulsePresenter
	- MichalSpacekCz\Admin\Presenters\ReviewsPresenter
	- MichalSpacekCz\Admin\Presenters\SignPresenter
	- MichalSpacekCz\Admin\Presenters\TalksPresenter(videoThumbnails: @talkVideoThumbnails)
	- MichalSpacekCz\Admin\Presenters\TrainingsPresenter
	- MichalSpacekCz\Admin\Presenters\UserPresenter

	# webleed module
	- MichalSpacekCz\Webleed\Presenters\HomepagePresenter

	# upc module
	- MichalSpacekCz\UpcKeys\Presenters\HomepagePresenter

	# pulse module
	- MichalSpacekCz\Pulse\Presenters\ErrorGenericPresenter
	- MichalSpacekCz\Pulse\Presenters\ErrorPresenter
	- MichalSpacekCz\Pulse\Presenters\HomepagePresenter
	- MichalSpacekCz\Pulse\Presenters\PasswordsPresenter
	- MichalSpacekCz\Pulse\Presenters\PasswordsStoragesPresenter

	# easteregg module
	- MichalSpacekCz\EasterEgg\Presenters\NettePresenter
