services:
	- MichalSpacekCz\Application\AppRequest
	cliArgs:
		type: MichalSpacekCz\Application\Cli\CliArgs
		imported: true
	- MichalSpacekCz\Application\Error
	localeLinkGenerator: MichalSpacekCz\Application\Locale\LocaleLinkGenerator(languages: %locales.languages%)
	- MichalSpacekCz\Application\Locale\Locales
	- MichalSpacekCz\Application\Routing\RouterFactory(supportedLocales: %locales.supported%, rootDomainMapping: %locales.rootDomainMapping%, translatedRoutes: %translatedRoutes.presenters%)
	- @MichalSpacekCz\Application\Routing\RouterFactory::createRouter
	- MichalSpacekCz\Application\Theme
	- MichalSpacekCz\Application\WebApplication(fqdn: %domain.fqdn%)
	- MichalSpacekCz\Application\WindowsSubsystemForLinux
	- MichalSpacekCz\Articles\ArticleHeaderIconsFactory
	articles: MichalSpacekCz\Articles\Articles
	- MichalSpacekCz\Articles\ArticleSummaryFactory
	- MichalSpacekCz\Articles\Blog\BlogPostEdits
	- MichalSpacekCz\Articles\Blog\BlogPostFactory(allowedTags: %blog.allowedTags%)
	- MichalSpacekCz\Articles\Blog\BlogPostLoader
	- MichalSpacekCz\Articles\Blog\BlogPostLocaleUrls
	- MichalSpacekCz\Articles\Blog\BlogPostPreview
	- MichalSpacekCz\Articles\Blog\BlogPosts(exportsCache: Nette\Caching\Cache(namespace: MichalSpacekCz\Feed\Exports::class), updatedInfoThreshold: %blog.updatedInfoThreshold%)
	- MichalSpacekCz\Articles\Blog\BlogPostRecommendedLinks
	- MichalSpacekCz\CompanyInfo\CompanyInfo(loadCompanyDataVisible: %loadCompanyDataVisible%)
	- MichalSpacekCz\CompanyInfo\CompanyRegisterAres
	- MichalSpacekCz\CompanyInfo\CompanyRegisterRegisterUz
	- MichalSpacekCz\Css\CriticalCssFactory
	- MichalSpacekCz\DateTime\DateTime
	- MichalSpacekCz\DateTime\DateTimeFactory
	- MichalSpacekCz\DateTime\DateTimeFormatter(@translation.translator::getDefaultLocale())
	- MichalSpacekCz\DateTime\DateTimeZoneFactory
	- MichalSpacekCz\EasterEgg\FourOhFourButFound
	- MichalSpacekCz\EasterEgg\NetteCve202015227
	- MichalSpacekCz\EasterEgg\WinterIsComing
	- MichalSpacekCz\Feed\Exports
	- MichalSpacekCz\Form\ChangePasswordFormFactory
	- MichalSpacekCz\Form\Controls\FormControlsFactory
	- MichalSpacekCz\Form\Controls\TrainingControlsFactory
	- MichalSpacekCz\Form\DeletePersonalDataFormFactory
	- MichalSpacekCz\Form\FormFactory
	- MichalSpacekCz\Form\InterviewFormFactory(videoThumbnails: @interviewVideoThumbnails)
	- MichalSpacekCz\Form\PostFormFactory
	- MichalSpacekCz\Form\Pulse\PasswordsStorageAlgorithmFormFactory
	- MichalSpacekCz\Form\Pulse\PasswordsStoragesSearchSortFormFactory
	- MichalSpacekCz\Form\RegenerateTokensFormFactory
	- MichalSpacekCz\Form\SignInFormFactory
	- MichalSpacekCz\Form\SignInHoneypotFormFactory
	- MichalSpacekCz\Form\TalkFormFactory(videoThumbnails: @talkVideoThumbnails)
	- MichalSpacekCz\Form\TalkSlidesFormFactory
	- MichalSpacekCz\Form\TrainingApplicationAdminFormFactory
	- MichalSpacekCz\Form\TrainingApplicationFormFactory
	- MichalSpacekCz\Form\TrainingApplicationMultipleFormFactory
	- MichalSpacekCz\Form\TrainingApplicationPreliminaryFormFactory
	- MichalSpacekCz\Form\TrainingDateFormFactory
	- MichalSpacekCz\Form\TrainingFileFormFactory
	- MichalSpacekCz\Form\TrainingInvoiceFormFactory
	- MichalSpacekCz\Form\TrainingMailsOutboxFormFactory
	- MichalSpacekCz\Form\TrainingReviewFormFactory
	- MichalSpacekCz\Form\TrainingStatusesFormFactory
	- MichalSpacekCz\Form\UnprotectedFormFactory
	- MichalSpacekCz\Form\UpcKeysSsidFormFactory
	- MichalSpacekCz\Formatter\TexyFormatter(cache: @texyFormatterPhpFilesAdapter, placeholders: typed(MichalSpacekCz\Formatter\TexyFormatterPlaceholder), allowedLongWords: %texyFormatter.allowed.longWords%, staticRoot: %domain.sharedStaticRoot%, imagesRoot: %domain.imagesRoot%, locationRoot: %domain.locationRoot%)
	texyFormatterNoPlaceholders:
		create: MichalSpacekCz\Formatter\TexyFormatter(cache: @texyFormatterPhpFilesAdapter, placeholders: [], allowedLongWords: %texyFormatter.allowed.longWords%, staticRoot: %domain.sharedStaticRoot%, imagesRoot: %domain.imagesRoot%, locationRoot: %domain.locationRoot%)
		autowired: false
	- MichalSpacekCz\Formatter\TexyPhraseHandler
	- MichalSpacekCz\Formatter\TrainingDateTexyFormatterPlaceholder
	httpClient: MichalSpacekCz\Http\Client\HttpClient
	- MichalSpacekCz\Http\Cookies\CookieDescriptions
	- MichalSpacekCz\Http\Cookies\Cookies
	- MichalSpacekCz\Http\HttpInput
	- MichalSpacekCz\Http\Redirections
	- MichalSpacekCz\Http\SecurityHeaders(permissionsPolicy: %permissionsPolicy%)
	- MichalSpacekCz\Interviews\InterviewInputsFactory(videoThumbnails: @interviewVideoThumbnails)
	- MichalSpacekCz\Interviews\Interviews(videoFactory: @interviewVideoFactory)
	- MichalSpacekCz\Makefile\Makefile
	interviewMediaResources: MichalSpacekCz\Media\Resources\InterviewMediaResources(imagesRoot: %domain.imagesRoot%, staticRoot: %domain.sharedStaticRoot%, locationRoot: %domain.locationRoot%)
	talkMediaResources: MichalSpacekCz\Media\Resources\TalkMediaResources(imagesRoot: %domain.imagesRoot%, staticRoot: %domain.sharedStaticRoot%, locationRoot: %domain.locationRoot%)
	- MichalSpacekCz\Media\SupportedImageFileFormats
	talkVideoFactory: MichalSpacekCz\Media\VideoFactory(mediaResources: @talkMediaResources, videoThumbnails: @talkVideoThumbnails)
	interviewVideoFactory: MichalSpacekCz\Media\VideoFactory(mediaResources: @interviewMediaResources, videoThumbnails: @interviewVideoThumbnails)
	talkVideoThumbnails: MichalSpacekCz\Media\VideoThumbnails(mediaResources: @talkMediaResources)
	interviewVideoThumbnails: MichalSpacekCz\Media\VideoThumbnails(mediaResources: @interviewMediaResources)
	- MichalSpacekCz\Net\DnsResolver
	- MichalSpacekCz\Pulse\Companies(@database.pulse.context)
	- MichalSpacekCz\Pulse\Passwords\Algorithms\PasswordHashingAlgorithms(@database.pulse.context)
	- MichalSpacekCz\Pulse\Passwords\Disclosures\PasswordHashingDisclosures(@database.pulse.context)
	- MichalSpacekCz\Pulse\Passwords\Passwords(@database.pulse.context)
	- MichalSpacekCz\Pulse\Passwords\PasswordsSorting
	- MichalSpacekCz\Pulse\Passwords\Rating
	- MichalSpacekCz\Pulse\Passwords\Storage\StorageAlgorithmAttributesFactory
	- MichalSpacekCz\Pulse\Passwords\Storage\StorageRegistryFactory
	- MichalSpacekCz\Pulse\Sites(@database.pulse.context)
	- MichalSpacekCz\Tags\Tags
	- MichalSpacekCz\Talks\Slides\TalkSlides
	- MichalSpacekCz\Talks\TalkFactory(videoFactory: @talkVideoFactory)
	- MichalSpacekCz\Talks\TalkInputsFactory(videoThumbnails: @talkVideoThumbnails)
	- MichalSpacekCz\Talks\TalkLocaleUrls
	- MichalSpacekCz\Talks\Talks
	- MichalSpacekCz\Talks\TalksListFactory
	- MichalSpacekCz\Templating\Filters
	latte.templateFactory:
		create: MichalSpacekCz\Templating\TemplateFactory()
		autowired: Nette\Application\UI\TemplateFactory
	- MichalSpacekCz\Tls\CertificateAttemptFactory
	- MichalSpacekCz\Tls\CertificateFactory(expiringThreshold: %certificatesApi.expiringThreshold%)
	- MichalSpacekCz\Tls\CertificateGatherer
	- MichalSpacekCz\Tls\CertificateMonitor
	- MichalSpacekCz\Tls\Certificates(users: %certificatesApi.users%, hideExpiredAfter: %certificatesApi.hideExpiredAfter%)
	- MichalSpacekCz\Tls\CertificatesApiClient
	- MichalSpacekCz\Training\ApplicationForm\TrainingApplicationFormDataLogger
	- MichalSpacekCz\Training\ApplicationForm\TrainingApplicationFormSpam
	- MichalSpacekCz\Training\ApplicationForm\TrainingApplicationFormSuccess
	- MichalSpacekCz\Training\Applications\TrainingApplications
	- MichalSpacekCz\Training\Applications\TrainingApplicationFactory(emailEncryption: @emailEncryption)
	- MichalSpacekCz\Training\Applications\TrainingApplicationSources
	- MichalSpacekCz\Training\Applications\TrainingApplicationStorage(emailEncryption: @emailEncryption)
	- MichalSpacekCz\Training\Company\CompanyTrainings
	- MichalSpacekCz\Training\DateList\TrainingApplicationsListFactory
	- MichalSpacekCz\Training\DateList\UpcomingTrainingDatesListFactory
	- MichalSpacekCz\Training\Dates\TrainingDateInputsFactory
	- MichalSpacekCz\Training\Dates\TrainingDateStatuses
	- MichalSpacekCz\Training\Dates\TrainingDateFactory(texyFormatter: @texyFormatterNoPlaceholders)
	- MichalSpacekCz\Training\Dates\TrainingDates
	- MichalSpacekCz\Training\Dates\TrainingDatesFormValidator
	- MichalSpacekCz\Training\Dates\UpcomingTrainingDates
	- MichalSpacekCz\Training\Discontinued\DiscontinuedTrainings
	- MichalSpacekCz\Training\Files\TrainingFileFactory
	- MichalSpacekCz\Training\Files\TrainingFiles
	- MichalSpacekCz\Training\Files\TrainingFilesDownload
	- MichalSpacekCz\Training\Files\TrainingFilesStorage
	- MichalSpacekCz\Training\FreeSeats
	- MichalSpacekCz\Training\Mails\TrainingMailMessageFactory
	- MichalSpacekCz\Training\Mails\TrainingMails(emailFrom: 'Michal Špaček <mail@michalspacek.cz>', phoneNumber: %contact.phoneNumber%)
	- MichalSpacekCz\Training\Preliminary\PreliminaryTrainings
	- MichalSpacekCz\Training\Prices(vatRate: %vatRate%)
	- MichalSpacekCz\Training\Resolver\Vrana
	- MichalSpacekCz\Training\Reviews\TrainingReviewInputsFactory
	- MichalSpacekCz\Training\Reviews\TrainingReviews
	- MichalSpacekCz\Training\Statuses\Statuses
	- MichalSpacekCz\Training\Statuses\TrainingStatusHistory
	- MichalSpacekCz\Training\TrainingLocales
	- MichalSpacekCz\Training\Trainings\TrainingFactory
	- MichalSpacekCz\Training\Trainings\Trainings
	- MichalSpacekCz\Training\Venues\TrainingVenues
	- MichalSpacekCz\Twitter\TwitterCards
	- MichalSpacekCz\UpcKeys\Technicolor(@database.upcKeys.context, apiUrl: %awsLambda.upcKeys.url%, apiKey: %awsLambda.upcKeys.apiKey%)
	- MichalSpacekCz\UpcKeys\Ubee(@database.upcKeys.context)
	- MichalSpacekCz\UpcKeys\UpcKeys(routers: [@MichalSpacekCz\UpcKeys\Technicolor, @MichalSpacekCz\UpcKeys\Ubee])
	- MichalSpacekCz\User\Manager(passwordEncryption: @passwordEncryption, permanentLoginInterval: %permanentLogin.interval%)
	- MichalSpacekCz\Utils\Strings
	- MichalSpacekCz\Utils\JsonUtils
	- Nette\Bridges\ApplicationLatte\TemplateFactory
	- Nette\Schema\Processor
	security.passwords: Nette\Security\Passwords(::PASSWORD_ARGON2ID, [memory_cost: 65536, time_cost: 16, threads: 16])
	- PHP_Parallel_Lint\PhpConsoleColor\ConsoleColor
	emailEncryption: Spaze\Encryption\SymmetricKeyEncryption(%encryption.keys.email%, %encryption.activeKeyIds.email%, %encryption.keyPrefixes.email%)
	passwordEncryption: Spaze\Encryption\SymmetricKeyEncryption(%encryption.keys.password%, %encryption.activeKeyIds.password%, %encryption.keyPrefixes.password%)
	sessionEncryption: Spaze\Encryption\SymmetricKeyEncryption(%encryption.keys.session%, %encryption.activeKeyIds.session%, %encryption.keyPrefixes.session%)
	- Spaze\PhpInfo\PhpInfo
	texyFormatterPhpFilesAdapter: Symfony\Component\Cache\Adapter\PhpFilesAdapter(namespace: 'TexyFormatter', directory: '%tempDir%/cache', appendOnly: true)
