services:
	- MichalSpacekCz\Application\Error
	localeLinkGenerator: MichalSpacekCz\Application\LocaleLinkGenerator
	- MichalSpacekCz\Application\RouterFactory(supportedLocales: %locales.supported%, rootDomainMapping: %locales.rootDomainMapping%, translatedRoutes: %translatedRoutes.presenters%)
	- @MichalSpacekCz\Application\RouterFactory::createRouter
	- MichalSpacekCz\Application\Theme
	- MichalSpacekCz\Application\WebApplication(fqdn: %domain.fqdn%)
	- MichalSpacekCz\Application\WindowsSubsystemForLinux
	- MichalSpacekCz\Articles\Articles
	- MichalSpacekCz\Articles\Blog\BlogPostLoader
	- MichalSpacekCz\Articles\Blog\BlogPostLocaleUrls
	- MichalSpacekCz\Articles\Blog\BlogPostPreview
	- MichalSpacekCz\Articles\Blog\BlogPosts(exportsCache: Nette\Caching\Cache(namespace: MichalSpacekCz\Feed\Exports::class), updatedInfoThreshold: %blog.updatedInfoThreshold%, allowedTags: %blog.allowedTags%)
	- MichalSpacekCz\CompanyInfo\Ares(url: %ares.url%)
	- MichalSpacekCz\CompanyInfo\Info(loadCompanyDataVisible: %loadCompanyDataVisible%)
	- MichalSpacekCz\CompanyInfo\RegisterUz(rootUrl: %registerUz.rootUrl%)
	- MichalSpacekCz\DateTime\DateTimeFormatter(@translation.translator::getDefaultLocale())
	- MichalSpacekCz\EasterEgg\FourOhFourButFound
	- MichalSpacekCz\EasterEgg\NetteCve202015227
	- MichalSpacekCz\EasterEgg\WinterIsComing
	- MichalSpacekCz\Feed\Exports
	- MichalSpacekCz\Form\ChangePasswordFormFactory
	- MichalSpacekCz\Form\Controls\FormControlsFactory
	- MichalSpacekCz\Form\Controls\TrainingControlsFactory
	- MichalSpacekCz\Form\DeletePersonalDataFormFactory
	- MichalSpacekCz\Form\FormFactory
	- MichalSpacekCz\Form\FormValues
	- MichalSpacekCz\Form\InterviewFormFactory(videoThumbnails: @interviewVideoThumbnails)
	- MichalSpacekCz\Form\PostFormFactory
	- MichalSpacekCz\Form\Pulse\PasswordsStorageAlgorithmFormFactory
	- MichalSpacekCz\Form\Pulse\PasswordsStoragesSearchSortFormFactory
	- MichalSpacekCz\Form\RegenerateTokensFormFactory
	- MichalSpacekCz\Form\SignInFormFactory
	- MichalSpacekCz\Form\SignInHoneypotFormFactory
	- MichalSpacekCz\Form\TalkFormFactory(videoThumbnails: @talkVideoThumbnails)
	- MichalSpacekCz\Form\TalkSlidesFormFactory
	- MichalSpacekCz\Form\TrainingApplicationAdminFormFactory
	- MichalSpacekCz\Form\TrainingApplicationFormFactory
	- MichalSpacekCz\Form\TrainingApplicationMultipleFormFactory
	- MichalSpacekCz\Form\TrainingApplicationPreliminaryFormFactory
	- MichalSpacekCz\Form\TrainingDateFormFactory
	- MichalSpacekCz\Form\TrainingFileFormFactory
	- MichalSpacekCz\Form\TrainingInvoiceFormFactory
	- MichalSpacekCz\Form\TrainingMailsOutboxFormFactory
	- MichalSpacekCz\Form\TrainingReviewFormFactory
	- MichalSpacekCz\Form\TrainingStatusesFormFactory
	- MichalSpacekCz\Form\UnprotectedFormFactory
	- MichalSpacekCz\Form\UpcKeysSsidFormFactory
	- MichalSpacekCz\Formatter\TexyFormatter(cache: @texyFormatterPhpFilesAdapter, placeholders: typed(MichalSpacekCz\Formatter\TexyFormatterPlaceholder), staticRoot: %domain.sharedStaticRoot%, imagesRoot: %domain.imagesRoot%, locationRoot: %domain.locationRoot%)
	texyFormatterNoPlaceholders:
		create: MichalSpacekCz\Formatter\TexyFormatter(cache: @texyFormatterPhpFilesAdapter, placeholders: [], staticRoot: %domain.sharedStaticRoot%, imagesRoot: %domain.imagesRoot%, locationRoot: %domain.locationRoot%)
		autowired: false
	- MichalSpacekCz\Formatter\TexyPhraseHandler
	- MichalSpacekCz\Formatter\TrainingDateTexyFormatterPlaceholder
	- MichalSpacekCz\Http\HttpStreamContext
	- MichalSpacekCz\Http\Redirections
	- MichalSpacekCz\Http\SecurityHeaders(permissionsPolicy: %permissionsPolicy%)
	- MichalSpacekCz\Interviews\Interviews
	- MichalSpacekCz\Makefile\Makefile
	interviewMediaResources: MichalSpacekCz\Media\Resources\InterviewMediaResources(imagesRoot: %domain.imagesRoot%, staticRoot: %domain.sharedStaticRoot%, locationRoot: %domain.locationRoot%)
	talkMediaResources: MichalSpacekCz\Media\Resources\TalkMediaResources(imagesRoot: %domain.imagesRoot%, staticRoot: %domain.sharedStaticRoot%, locationRoot: %domain.locationRoot%)
	- MichalSpacekCz\Media\SupportedImageFileFormats
	talkVideoThumbnails: MichalSpacekCz\Media\VideoThumbnails(mediaResources: @talkMediaResources)
	interviewVideoThumbnails: MichalSpacekCz\Media\VideoThumbnails(mediaResources: @interviewMediaResources)
	- MichalSpacekCz\Net\DnsResolver
	- MichalSpacekCz\Pulse\Companies(@database.pulse.context)
	- MichalSpacekCz\Pulse\Passwords(@database.pulse.context)
	- MichalSpacekCz\Pulse\Passwords\AlgorithmAttributesFactory
	- MichalSpacekCz\Pulse\Passwords\PasswordsSorting
	- MichalSpacekCz\Pulse\Passwords\Rating
	- MichalSpacekCz\Pulse\Sites(@database.pulse.context)
	- MichalSpacekCz\Tags\Tags
	- MichalSpacekCz\Talks\Talks
	- MichalSpacekCz\Templating\Filters
	latte.templateFactory:
		create: MichalSpacekCz\Templating\TemplateFactory()
		autowired: Nette\Application\UI\TemplateFactory
	- MichalSpacekCz\Tls\CertificateFactory(expiringThreshold: %certificatesApi.expiringThreshold%)
	- MichalSpacekCz\Tls\CertificateGatherer
	- MichalSpacekCz\Tls\CertificateMonitor
	- MichalSpacekCz\Tls\Certificates(users: %certificatesApi.users%, hideExpiredAfter: %certificatesApi.hideExpiredAfter%)
	- MichalSpacekCz\Tls\CertificatesApiClient
	- MichalSpacekCz\Training\Applications(emailEncryption: @emailEncryption)
	- MichalSpacekCz\Training\CompanyTrainings
	- MichalSpacekCz\Training\Dates\TrainingDateFactory(texyFormatter: @texyFormatterNoPlaceholders)
	- MichalSpacekCz\Training\Dates\TrainingDateLabel
	- MichalSpacekCz\Training\Dates\TrainingDates
	- MichalSpacekCz\Training\Dates\TrainingDatesFormValidator
	- MichalSpacekCz\Training\Dates\UpcomingTrainingDates
	- MichalSpacekCz\Training\Files\TrainingFileFactory
	- MichalSpacekCz\Training\Files\TrainingFiles
	- MichalSpacekCz\Training\Files\TrainingFilesStorage('../../files/trainings')
	- MichalSpacekCz\Training\FormDataLogger
	- MichalSpacekCz\Training\FormSpam
	- MichalSpacekCz\Training\FreeSeats
	- MichalSpacekCz\Training\Locales
	- MichalSpacekCz\Training\Mails(emailFrom: 'Michal Špaček <mail@michalspacek.cz>', phoneNumber: %contact.phoneNumber%)
	- MichalSpacekCz\Training\Prices(vatRate: %vatRate%)
	- MichalSpacekCz\Training\Resolver\Vrana
	- MichalSpacekCz\Training\Reviews
	- MichalSpacekCz\Training\Statuses
	- MichalSpacekCz\Training\Trainings
	- MichalSpacekCz\Training\Venues
	- MichalSpacekCz\Twitter\TwitterCards
	- MichalSpacekCz\UpcKeys\Technicolor(@database.upcKeys.context, apiUrl: %awsLambda.upcKeys.url%, apiKey: %awsLambda.upcKeys.apiKey%, model: %upcKeys.technicolor.model%, serialNumberPrefixes: %upcKeys.technicolor.prefixes%)
	- MichalSpacekCz\UpcKeys\Ubee(@database.upcKeys.context, model: %upcKeys.ubee.model%, serialNumberPrefixes: %upcKeys.ubee.prefixes%)
	- MichalSpacekCz\UpcKeys\UpcKeys(routers: [@MichalSpacekCz\UpcKeys\Technicolor, @MichalSpacekCz\UpcKeys\Ubee])
	- MichalSpacekCz\User\Manager(passwordEncryption: @passwordEncryption, permanentLoginCookie: %permanentLogin.cookie%, permanentLoginInterval: %permanentLogin.interval%, returningUserCookie: %returningUser.cookie%)
	- MichalSpacekCz\Utils\Strings
	- Nette\Bridges\ApplicationLatte\TemplateFactory
	- Nette\Schema\Processor
	security.passwords: Nette\Security\Passwords(::PASSWORD_ARGON2ID, [memory_cost: 65536, time_cost: 16, threads: 16])
	- PHP_Parallel_Lint\PhpConsoleColor\ConsoleColor
	emailEncryption: Spaze\Encryption\Symmetric\StaticKey('email', %encryption.keys%, %encryption.activeKeyIds%)
	passwordEncryption: Spaze\Encryption\Symmetric\StaticKey('password', %encryption.keys%, %encryption.activeKeyIds%)
	sessionEncryption: Spaze\Encryption\Symmetric\StaticKey('session', %encryption.keys%, %encryption.activeKeyIds%)
	- Spaze\PhpInfo\PhpInfo
	texyFormatterPhpFilesAdapter: Symfony\Component\Cache\Adapter\PhpFilesAdapter(namespace: 'TexyFormatter', directory: '%tempDir%/cache', appendOnly: true)
