parameters:
	domain:
		root: domain.example
		fqdn: www.%domain.root%
		contentSecurityPolicySelf: "'self'"
	locales:
		rootDomainMapping:
			cz: rizek.test
			com: burger.test


services:
	localeLinkGenerator: MichalSpacekCz\Test\Application\LocaleLinkGenerator
	database.default.explorer: MichalSpacekCz\Test\Database\Database
	session.session: MichalSpacekCz\Test\Http\NullSession
	http.request: MichalSpacekCz\Test\Http\Request
	http.response: MichalSpacekCz\Test\Http\Response
	- MichalSpacekCz\Test\Http\SecurityHeadersFactory
	translation.translator: MichalSpacekCz\Test\NoOpTranslator(availableLocales: [cs_CZ, en_US], defaultLocale: cs_CZ)
	tracy.logger: MichalSpacekCz\Test\NullLogger
	- MichalSpacekCz\Test\TestCaseRunner
	cache.storage: Nette\Caching\Storages\DevNullStorage
	netteHttpResponse:  # Needed for User\Manager because https://github.com/nette/http/issues/200
		create: Nette\Http\Response
		autowired: self
	- Nette\Http\SessionSection(name: test)
