parameters:
	domain:
		root: domain.example
		fqdn: www.%domain.root%
		contentSecurityPolicySelf: "'self'"
	locales:
		rootDomainMapping:
			cz: rizek.test
			com: burger.test
	encryption:
		keys:
			email:
				test: "17fa3225effc107a689eb72fd8c20983bbc690bf9ea42a2f0306e0c226720845"
		activeKeyIds:
			email: test
	awsLambda:
		upcKeys:
			url: "https://was.example/%s/%s"
			apiKey: "thisismychurchthisiswhereihealmyhurts"
	certificatesApi:
		users:
			foo: f7fbba6e0636f890e56fbbf3283e524c6fa3204ae298382d624741d0dc6638326e282c41be5e4254d8820772c5518a2c5a8c0c7f7eda19594a7eb539453e1ed7 # foo

services:
	- MichalSpacekCz\Test\Application\ApplicationPresenter
	articles: MichalSpacekCz\Test\Articles\ArticlesMock
	localeLinkGenerator: MichalSpacekCz\Test\Application\LocaleLinkGeneratorMock
	database.default.explorer: MichalSpacekCz\Test\Database\Database
	database.upcKeys.explorer: @database.default.explorer
	database.pulse.explorer: @database.default.explorer
	session.session: MichalSpacekCz\Test\Http\NullSession
	http.request: MichalSpacekCz\Test\Http\Request
	http.response: MichalSpacekCz\Test\Http\Response
	- MichalSpacekCz\Test\Http\SecurityHeadersFactory
	mail.mailer: MichalSpacekCz\Test\NullMailer
	translation.translator: MichalSpacekCz\Test\NoOpTranslator(availableLocales: [cs_CZ, en_US], defaultLocale: cs_CZ)
	tracy.logger: MichalSpacekCz\Test\NullLogger
	- MichalSpacekCz\Test\TestCaseRunner
	cache.storage: Nette\Caching\Storages\DevNullStorage
	netteHttpResponse:  # Needed for User\Manager because https://github.com/nette/http/issues/200
		create: Nette\Http\Response
		autowired: self
	- Nette\Http\SessionSection(name: test)
	texyFormatterPhpFilesAdapter: Symfony\Component\Cache\Adapter\NullAdapter
