<style n:nonce>
body {
	font: 1rem/1.5 Arial, sans-serif;
}
img {
	max-width: 100%;
	height: auto;
}
pre {
	overflow-x: auto;
}
.humbleicons {
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	align-self: center;
	vertical-align: middle;
	margin-top: -0.2em;
	opacity: 0.3;
}
</style>
