parameters:
	shipmonkDeadCode:
		usageExcluders:
			usageOverMixed:
				enabled: true
		usageProviders:
			nette:
				containerNeonPaths:
					- config/services.neon
					- config/presenters.neon
					- config/tests.neon

includes:
	- vendor-dev/vendor/shipmonk/dead-code-detector/rules.neon
