parameters:
	disallowedFunctionCalls:
		-
			function: 'pcntl_*()'
		-
			function: 'rand()'
			message: 'it is not a cryptographically secure generator, use random_int() instead'
			allowIn:
				- tests/*.phpt
		-
			function: 'uniqid()'
			message: 'it is not a cryptographically secure generator, use random_bytes() instead'
			allowIn:
				- tests/*.phpt
		-
			function: 'setcookie()'
			message: 'use methods from MichalSpacekCz\Http\Cookies'
		-
			function: 'preg_*()'
			exclude:
				- 'preg_quote()'
			message: 'use the Preg class from composer/pcre'
	disallowedStaticCalls:
		-
			method: 'Tester\Environment::skip()'
			message: 'use TestCaseRunner::skip() instead, it can ignore skipping with an environment variable'
			allowInMethods:
				- 'MichalSpacekCz\Test\TestCaseRunner::needsInternet()'
		-
			method:
				- 'Nette\Utils\Strings::match()'
				- 'Nette\Utils\Strings::matchAll()'
				- 'Nette\Utils\Strings::replace()'
				- 'Nette\Utils\Strings::split()'
			message: 'use the Preg or Regex class from composer/pcre for better static analysis'
	disallowedMethodCalls:
		-
			method:
				- 'Nette\Http\IRequest::getCookie()'
				- 'Nette\Http\IResponse::setCookie()'
				- 'Nette\Http\Response::deleteCookie()'
			message: 'instead use methods from MichalSpacekCz\Http\Cookies'
			allowInMethods:
				- 'MichalSpacekCz\Http\Cookies\Cookies::getString()'
				- 'MichalSpacekCz\Http\Cookies\Cookies::set()'
				- 'MichalSpacekCz\Http\Cookies\Cookies::deleteCookie()'
				- 'MichalSpacekCz\EasterEgg\CrLfUrlInjections::detectAttempt()' # Bot trolling, not for humans, the cookie is always expired
		-
			method:
				- 'Nette\Application\Request::getPost()'
				- 'Nette\Http\IRequest::getPost()'
			message: 'instead use methods from MichalSpacekCz\Http\HttpInput with more handy return types'
			allowInMethods:
				- 'MichalSpacekCz\Http\HttpInput::getPostString()'
				- 'MichalSpacekCz\Http\HttpInput::getPostArray()'
		-
			method: 'DateTimeZone::__construct()'
			message: 'use MichalSpacekCz\DateTime\DateTimeZoneFactory::get() instead, throws a more specific exception'
			allowInMethods:
				- 'MichalSpacekCz\DateTime\DateTimeZoneFactory::get()'
		-
			method:
				- 'Nette\Forms\Container::getValues()'
				- 'Nette\Forms\Container::getUntrustedValues()'
			message: 'use methods from MichalSpacekCz\Form\UiForm instead'

	disallowedConstants:
		-
			constant: 'LIBXML_NOENT'
			message: 'libxml_disable_entity_loader() has been deprecated in PHP 8.0, no longer needed to protect against XXE attacks, unless the (still vulnerable) LIBXML_NOENT is used https://www.php.net/migration80.deprecated#migration80.deprecated.libxml'
	disallowedSuperglobals:
		-
			superglobal: '$_SERVER'
			message: 'use Application\ServerEnv instead'
			allowIn:
				- src/Application/ServerEnv.php
				- tests/Application/ServerEnvTest.phpt
				- tests/EasterEgg/FourOhFourButFoundTest.phpt
	disallowedClasses:
		-
			class:
				- 'Spaze\PhpInfo\PhpInfo'
			message: 'use MichalSpacekCz\Application\SanitizedPhpInfo with additional sanitization'
			allowIn:
				- src/Application/SanitizedPhpInfo.php

includes:
	- vendor/spaze/phpstan-disallowed-calls/extension.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
	- vendor/spaze/phpstan-disallowed-calls-nette/disallowed-dangerous-calls.neon
