parameters:
	tmpDir: /tmp/phpstan/michalspacek.cz
	paths:
		- src
		- bin
		- public
		- tests
	fileExtensions:
		- php
		- phpt
	level: 9
	checkMissingOverrideMethodAttribute: true

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- disallowed-calls.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/composer/pcre/extension.neon
