parameters:
	tmpDir: /tmp/phpstan/michalspacek.cz
	paths:
		- src
		- bin
		- public
		- tests
	fileExtensions:
		- php
		- phpt
	level: max
	checkMissingOverrideMethodAttribute: true
	ignoreErrors:
		- # The getId() and getData() methods are called on a SimpleIdentity object, but are defined in a deprecated Identity class
			identifier: method.deprecatedClass
			path: tests/User/ManagerTest.phpt
			count: 2
		- # The id property is accessed on a SimpleIdentity object, but is defined in a deprecated Identity class
			identifier: property.deprecatedClass
			path: tests/User/ManagerTest.phpt
			count: 1
		- # https://github.com/phpstan/phpstan-src/pull/4146
			identifier: identical.alwaysFalse
			path: src/Http/Client/HttpClient.php
			count: 1

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- disallowed-calls.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/composer/pcre/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
