body {
	background-color: #DDD;
}
label.required {
	font-weight: bold;
}
label.optional {
	font-weight: normal;
}
.tags .company, .tags .product {
	font-weight: bold;
}
.tags .language {
	background-color: #E9FFE4;
}
.tags .media {
	background-color: #EFEFFF;
}
.modal {
	overflow: hidden;
}
#add .modal-footer {
	margin-top: 0px;
}
#add .modal-header {
	cursor: move;
}
#logo {
	font-family: Georgia, "Times New Roman", Times, serif;
}