body {
	color: #222;
	background-color: #FFF;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
hr {
	color: #EEE;
	background-color: #EEE;
	height: 2px;
	border: none;
	clear: both;
	margin: 0;
}
fieldset {
	margin: 1em 0;
	border: 2px solid #EEE;
}
legend {
	padding: 0 10px;
	background-color: #EEE;
}
input, select, button { padding: 6px; }
h1, h2, h3, h4 {
	padding: 0;
	margin: 20px 0;
	text-decoration: none;
	color: #337;
	text-shadow: 1px 1px 2px rgba(51, 51, 119, 0.2);
}
h1 { font-size: 1.9em; }
h2 {
	font-size: 1.5em;
	text-align: left;
}
h3 { font-size: 1.1em; }
h4 {
	font-size: 1em;
	color: #666;
}
p, form { margin: 0 0 1em 0; }
ul {
	text-align: left;
	padding: 0 1em;
}
li { padding: 0.4em 0; }
table {
	border-spacing: 0;
	white-space: nowrap;
	margin: 1em 0;
}
table table { padding: 0; }
small, .small { color: #666; }
small a, .small a { color: #444; }
.small { font-size: small; }
.indent {
	margin: 1em 0 1em 10px;
	padding-left: 20px;
	border-left: 2px solid #EEE;
}
.block { display: block; }
.separated { margin-top: 1em; }
.hidden { display: none; }
.strikethrough { text-decoration: line-through; }
blockquote {
	margin: 1em 0;
	padding-left: 1.5em;
	border-left: 10px solid #EEE;
}
q::before { content: "«"; }
q::after { content: "»"; }
img { border: none; }
abbr.dtstart, abbr.dtend { text-decoration: none !important; }
abbr[data-title] {
	position: relative;
	text-decoration: underline dotted;
}
abbr[data-title]:hover::after, abbr[data-title]:focus::after {
	content: attr(data-title);
	position: absolute;
	left: 0;
	bottom: -2.1em;
	width: auto;
	white-space: nowrap;
	background-color: #DEDEDE;
	color: #1E1E1E;
	border-radius: 2px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
	font-size: small;
	padding: 3px 5px;
}
code, .highlight pre code {
	padding: 0.2em 0.1em;
	margin: 0;
	background-color: #F5F5F5;
	border-radius: 3px;
}
button code { background-color: inherit; }
.flash code { background-color: hsl(60, 100%, 89%); }
.error code { background-color: hsl(0, 100%, 95%); }
.notice code { background-color: hsl(240, 100%, 95%); }
#historie-container button {
	border: 0;
	background-color: inherit;
	cursor: pointer;
}
pre {
	padding: 1em;
	margin-bottom: 1em;
	background-color: #F5F5F5;
	border-radius: 3px;
}
.button, #statuses td[data-date], #statusesShow, #statusesHide, #certificatesShow, #certificatesHide { cursor: pointer; }
button:disabled { cursor: not-allowed; }
.container {
	max-width: 820px;
	margin: 0 auto;
	word-wrap: break-word;
	word-break: break-word;
}
.container.blog { max-width: 1020px; }
.container.blog table {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
.container.blog table th { background-color: hsl(204 64% 97%); }
.container.blog table tbody tr:nth-child(even) { background-color: hsl(204 44% 97%); }
.container.blog div:has(table) { overflow-x: auto; }
.container.admin { max-width: 1200px; }
.container.talk { max-width: 1100px; }
#header {
	text-align: left;
	margin: 0 auto;
	padding: 3em 10px 1.5em 10px;
	max-width: 800px;
}
#header img, .widget .header img {
	float: left;
	padding-right: 20px;
}
#header h1 {
	line-height: 50px;
	margin: 0;
}
#header p { margin-top: 1em; }
#header.blog { max-width: 1000px; }
#header.admin { max-width: 1180px; }
#header.talk { max-width: 1080px; }
#main { flex: 1 0 auto; }
#footer {
	background-color: #EEE;
	border-top: 1px solid #CCC;
	color: #4F4F4F;
	font-size: 0.8em;
	padding: 1em 0.5em;
	line-height: 2;
	flex-shrink: 0;
}
#footer a { color: #666; }
#footer .container { max-width: 800px; }
#footer .container.blog { max-width: 1000px; }
#footer .container.admin { max-width: 1180px; }
#footer .container.talk { max-width: 1080px; }
#footer-name { float: left; }
#footer-links {
	float: right;
	text-align: right;
}
#header-links {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
}
#header-links a {
	display: block;
	float: right;
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 0 0 3px 3px;
	padding: 1px 5px;
	margin-left: 10px;
	text-decoration: none;
}
#header-links a.tools { background-color: rgba(0, 0, 255, 0.04); }
#header-links a:hover { background-color: rgba(0, 0, 0, 0.08); }
#header-links a.tools:hover { background-color: rgba(0, 0, 255, 0.08); }
.print { display: none; }
.single-column { padding: 0 10px 0.5em 10px; }
.with-sidebar { padding-bottom: 0.5em; }
.column-content, .column-sidebar { margin: 10px; }
.column-content { float: left; }
.blog .column-content { max-width: 720px; }
.talk .column-content { max-width: 800px; }
.column-content img, #slides-container img {
	display: block;
	margin: 2em auto;
	box-shadow: 0 3px 20px hsl(0, 0%, 87%);
	background-color: hsl(0, 0%, 95%);
}
img.noshadow { box-shadow: none; }
img.nobgcolor { background-color: inherit; }
#slides-container img { margin-bottom: 1em; }
#video-thumbnail-container { position: relative; }
.column-content .figure img {
	margin-bottom: 0.5em;
	text-align: center;
}
#video-thumbnail-container a {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 320px;
	height: 180px;
	line-height: 180px;
	text-align: center;
	font-size: xxx-large;
	opacity: 0.75;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 0 0.1em #000;
	transition: opacity .5s ease-in-out;
}
#video-thumbnail-container a:hover {
	color: #FFF;
	opacity: 1;
}
#video-thumbnail-container img {
	margin: auto 0;
	display: initial;
}
.column-content .figure p {
	text-align: center;
	margin-bottom: 2em;
	font-size: small;
	color: #666;
}
.column-sidebar {
	max-width: 260px;
	float: right;
}
.column-sidebar .widget {
	background-color: #FAFAFA;
	padding: 1em 1.2em;
	margin-bottom: 2em;
}
.column-sidebar .widget h3 { margin: 1em 0; }
.column-sidebar .widget .header h3 {
	float: left;
	line-height: 50px;
	margin: 0 0 1em 0;
}
@media (max-width: 1020px) {
	.blog .column-content, .blog .column-sidebar {
		max-width: none;
		float: none;
		margin-bottom: 2em;
	}
}
@media (max-width: 1100px) {
	.talk .column-content, .talk .column-sidebar {
		max-width: none;
		float: none;
		margin-bottom: 2em;
	}
}
#header-icons { margin-bottom: 1em; }
#header-icons div:not(:empty) {
	float: left;
	margin-right: 1em;
}
#header-icons small a, #footer a {
	color: #666;
	text-decoration: none;
}
#header-icons small a:hover, #footer a:hover {
	color: #444;
	text-decoration: underline;
}
.date { white-space: nowrap; }
#menu {
	font-size: 85%;
	text-align: left;
	padding: 10px 0;
}
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.clear { clear: both; }
.transparent, del { opacity: 0.5; }
th, td { padding: 5px; }
table.condensed { margin: 0; }
table.condensed td { padding: 0 5px; }
table.condensed button { padding: 1px; }
td.positionCell, td.iconCell { width: 10px; }
td.dateCell { width: 80px; }
td.nameCell { width: 200px; }
tr.dateLine td, li.dateLine { border-top: 2px solid #EEE; }
#pridat-ucastniky th, #pridat-ucastniky td { padding: 1px; }
#statuses th, #statuses td, #applications th, #applications td, #certificates th, #certificates td { padding: 1px 5px; }
#statuses tr.summary:hover, #certificates tbody tr:hover, #applications tbody tr:hover, #slides tbody:hover, table .row:hover { background-color: #F0F0F0; }
.discarded, #statuses .discarded, .lighter { opacity: 0.3; }
.discarded:hover, #statuses .discarded:hover { opacity: 0.7; }
#certificates thead th { text-align: left; }
#frm-application th, #frm-application td,
#frm-applicationPreliminary th, #frm-applicationPreliminary td {
	width: 150px;
	white-space: nowrap;
}
form.aligned th { text-align: right; }
form.aligned th.align-top, form.aligned td.align-top { vertical-align: top; }
td.short input, form.wide td.short input, form.wide td.short select, #frm-application td.short input { width: 85px; }
td.narrow input { width: 40px; }
td.wider input, form.wide td.narrower input { width: 280px; }
form.wide input, form.wide select, form.wide textarea, textarea.wide, td.wide input { width: 740px; }
form.wide textarea, textarea.wide { height: 200px; }
#frm-application input, #frm-application select, #frm-applicationPreliminary input { width: 170px; }
#frm-application #company td { width: 220px; }
#frm-application #company th.short { width: 104px; }
#frm-application input[type=checkbox], form.wide input[type=checkbox], form.wide td.narrower input[type=checkbox] { width: auto; }
#frm-application #frm-application-trainingId { width: auto; }
#frm-application #frm-application-note, #frm-applicationForm #frm-applicationForm-note { width: 500px; }
#frm-date-note, #frm-addDate-note, #frm-date-remoteUrl, #frm-addDate-remoteUrl, #frm-date-label, #frm-addDate-label,
	#frm-date-videoHref, #frm-addDate-videoHref, #frm-date-feedbackHref, #frm-addDate-feedbackHref { width: 740px; }
#frm-statuses select {
	color: #666;
	font-family: Consolas, sans-serif;
}
#submit { font-weight: bold; }
#frm-slides textarea {
	width: 99%;
	height: 100px;
}
#frm-slides .type-alternative {
	width: 25%;
	vertical-align: top;
}
#currentVideoThumbnail img, #currentVideoThumbnailAlternative img { vertical-align: middle; }
#videoThumbnailFormField[hidden], #videoThumbnailAlternativeFormField[hidden] {
	display: initial;
	opacity: 0.3;
}
#chyby ul { margin: 0; }
#chyby {
	color: #F34;
	background-color: #FEE;
	margin: 1em 0;
	border: 2px solid #F56;
}
#chyby legend {
	color: #FFF;
	background-color: #F56;
}
div.flash {
	color: #CA0;
	background-color: #FFD;
	padding: 1em;
	margin: 1em 0;
	border: 2px solid #EC2;
}
.error { color: #F34; }
div.error {
	color: #F34;
	background-color: #FEE;
	border: 2px solid #F56;
}
div.notice {
	color: #88D;
	background-color: #EEF;
	border: 1px solid #DDF;
}
.label {
	color: #0A0746;
	background-color: #EBEAFD;
	padding: 4px;
	margin: 4px;
	border-radius: 6px;
	border: 1px solid #C5D0ED;
	white-space: nowrap;
}
.changed { background-color: #F2F2FF; }
#slides-container .highlight {
	border: 1px solid rgba(49, 24, 206, 0.35);
	box-shadow: 0 0 2px #311892;
	background-color: inherit;
}
.column-content .highlight { background-color: rgba(255, 255, 0, 0.35); }
#slides-container .highlight { margin-top: 2em; }
#slides-container .highlight img { margin-top: 0; }
#slides-container .highlight p { padding: 0 1em; }
#ohlasy hr { height: 1px; }
#pridat-ucastniky-container table { font-size: 75%; }
#pridat-ucastniky-container table input[type=text] { width: 100px; }
#pridat-ucastniky-container table .highlight { background-color: yellow; }
#frm-mails input[type=number], #frm-mails input[type=file] { font-size: 55%; }
#frm-mails input[type=number] { width: 60px; }
#frm-mails input[type=file] { width: 280px; }
#frm-mails input[type=checkbox][title]:after {
	content: "❗";
	margin-left: 1.1em;
	line-height: 0;
}
#frm-mails .expand-container:not(:has(.expanded)) {
	display: none;
}
#frm-passwordsStorages #frm-passwordsStorages-algo-from { width: 200px; }
#pubkey {
	background-color: #F7F7FF;
	padding: 2em;
	font-size: smaller;
	height: 15em;
	overflow-x: hidden;
	overflow-y: scroll;
}
#message {
	width: 100%;
	height: 15em;
}
#encrypt { width: 85px; }
#copied, #copythis { opacity: 0; }
#copied .button, #copythis .button {
	text-decoration: underline;
	color: #444;
}
#preview-frame {
	width: 100%;
	height: 100vh;
	padding: 2em;
	margin: 0 0 2em 0;
	box-shadow: 0 3px 20px hsl(0, 0%, 95%);
}
.dimensions { font-size: small; }
.dimensions.error {
	font-weight: bold;
	background-color: #FEE;
}
.crossref {
	background-color: #FAFAFA;
	padding: 1em;
	border-radius: 3px;
}
.crossref::before {
	content: "» ";
	opacity: 0.3;
	color: #337;
}
.shrug {
	color: #FFF;
	text-shadow: 0 0 0.1em #333;
	text-align: center;
	font-size: 300%;
	margin-bottom: 0.33em;
}
#theme-dark { display: initial !important; }
#theme-light { display: none !important; }
.humbleicons.space-after { margin-right: 0.25em; }
#footer .humbleicons { opacity: inherit; }
@media print {
	img { max-width: 75%; }
	.print { display: block; }
	hr, #header-links, #menu, #footer, h2#detail { display: none; }
	.nobreak { page-break-inside: avoid; }
}
@media (max-width: 64em) {
	#pubkey { overflow-x: scroll; }
}
@media (max-width: 680px) {
	#frm-application th, #frm-application td, #frm-application #company td,
	#frm-applicationPreliminary th, #frm-applicationPreliminary td {
		text-align: left;
		display: block;
		width: 95%;
	}
	#frm-application table, #frm-application table label,
	#frm-application input, #frm-application select, #frm-applicationPreliminary input { width: 100%; }
	#frm-application #frm-application-note { width: 98%; }
	#frm-application input[type=submit] { width: 170px; }
	#training-dates .calendar, #training-dates .separator { display: none; }
	#training-dates .date { display: block; }
	#footer-name, #footer-links {
		float: none;
		text-align: left;
	}
}
@media (max-width: 430px) {
	#header-links #other-projects { display: block; }
	#header-links a:not(.tools) { display: none; }
}
