{templateType MichalSpacekCz\Presentation\Admin\SecurityTxtValidator\SecurityTxtValidatorDefaultTemplateParameters}
{define #content}
<ul>
	<li><a n:href="lambdaVersion">Versions of <em>{=MichalSpacekCz\SecurityTxtValidator\SecurityTxtLibraryVersion::PACKAGE_NAME}</em></a></li>
</ul>
{/define}
