php_flag display_errors off

RewriteEngine On
RewriteRule ^i/.+ - [L]
RewriteRule ^favicon.ico$ - [L]
RewriteRule ^robots.txt$ - [L]
RewriteRule ^thisShouldNotExist$ - [L]
RewriteRule ^crossdomain.xml$ - [L]
RewriteRule ^apple-touch-icon.png$ - [L]
RewriteRule ^apple-touch-icon-precomposed.png$ - [L]
RewriteRule xmlrpc.php$ - [L]
RewriteRule wp-login.php$ - [L]

# RewriteRule ^donut_track_me.html$ - [L]

# phpinfo() easter egg
RewriteRule ^info.php$ - [L,T=text/plain]

# Do not display PHP logos (Why here? Because expose_php only works in php.ini, that's why)
RewriteCond %{QUERY_STRING} ^=PHP
RewriteRule (.*) $1?

# PHP CGI RCE easter egg, see http://eindbazen.net/2012/05/php-cgi-advisory-cve-2012-1823/
RewriteCond %{QUERY_STRING} ^(\+?)-s$
RewriteRule ^$ cve-2012-1823.phps [L]
# T flag does not work in per-directory context when the substitution is not - (dash)
<Files cve-2012-1823.phps>
    ForceType application/x-httpd-php-source
</Files>

# Strip trailing punctuation
RewriteRule (.*?)[,.]+$ /$1 [R=301,NE,L]

# Some bot does not recognize HTTP-to-HTTPS links and is requesting http://.../foo/https://.../ instead
RewriteRule (https:)//?(.*)$ $1//$2 [R=301,NE,L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule .* index.php [L]
