{define #content}
<div n:foreach="$flashes as $flash" class="flash {$flash->type}"><strong>{$flash->message}</strong></div>
{if !$trainings}
	<p>Žádná minulá školení s osobními daty</p>
{else}
	{include "common/dateList.latte", order: 'desc', upcomingIds: $upcomingIds, now: $now}
	<form n:name="deletePersonalDataForm">
		<p>{input delete}</p>
	</form>
{/if}
{/define}
