{define #menu}
&raquo; <a n:href=":Www:Homepage:">Michal Špaček</a>
&raquo; <a n:href="Homepage:">Administrace</a>
&raquo; <a n:href="Trainings:">Termíny</a>
&raquo; <a n:href="date $dateId">{$trainingName} {$trainingStart|localeIntervalDay:$trainingEnd} {$trainingCity}</a>
{/define}

{define #form}
{/define}

{define #content}
<p>{$name} {$trainingName} {$trainingStart|localeIntervalDay:$trainingEnd} {$trainingCity}</p>
{control editReviewInputs}
{/define}
