{layout none}

{if $article->edits}
    <blockquote>
        <h3>{_messages.blog.post.edits}</h3>
        <ul>
            <li n:foreach="$article->edits as $edit"><em><strong>{$edit->editedAt|date:'j.n.'}</strong> {$edit->summary}</em></li>
        </ul>
    </blockquote>
{/if}
{$article->text}
