body {
    font: 1em/1.5 Arial, sans-serif;
    color: #222;
    background-color: #EEE;
    margin: 0px;
}
hr {
    color: #EEE;
    background-color: #EEE;
    height: 2px;
    border: none;
    clear: both;
    margin: 0px;
}
fieldset {
    margin: 1em 0;
    border: 2px solid #EEE;
    background-color: #FFF;
}
legend {
    padding: 0px 10px;
    background-color: #EEE;
}
h1, h2, h3, h1 a, h2 a, h3 a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: #337;
    text-shadow: 1px 1px 2px rgba(51, 51, 119, 0.2);
}
h1 {
    font-size: 1.9em;
    margin: 20px 0px;
}
h2 {
    font-size: 1.5em;
    margin: 20px 0px;
}
h3 {
    font-size: 1.1em;
    margin: 20px 0px;
}
h2, p { text-align: left; }
ul {
    text-align: left;
    padding: 0px 1em;
}
li { padding: 0.4em 0px; }
table {
    border-spacing: 0px;
    white-space: nowrap;
}
table table { padding: 0; }
small, .small { color: #666; }
small a, .small a { color: #444; }
.small { font-size: small; }
.indent {
    margin: 1em 0px 1em 10px;
    padding-left: 20px;
    border-left: 2px solid #EEE;
}
.block { display: block; }
.hidden { display: none; }
.strikethrough { text-decoration: line-through; }
input.big { width: 400px; }
textarea.big {
    width: 700px;
    height: 300px;
}
img {
    border: none;
    max-width: 100%;
    height: auto;
}
abbr.dtstart, abbr.dtend { border: none; }
.button { cursor: pointer; }
.container {
    max-width: 800px;
    margin: 0px auto;
}
.container-wide { max-width: 1200px; }
#header {
    text-align: left;
    padding: 1em 0px;
}
#header img {
    float: left;
    border-right: 1px solid #CCC;
    padding-right: 20px;
}
#header h1 {
    padding-left: 90px;
    line-height: 50px;
    margin: 0px;
}
#tagline { margin-top: 0px; }
#main {
    background-color: #FFF;
    padding: 0.5em;
}
#footer {
    border-top: 1px solid #CCC;
    color: #4F4F4F;
    font-size: 0.8em;
    padding: 1em 0.5em;
    line-height: 2;
}
#footer a { color: #4F4F4F; }
#footer-name { float: left; }
#footer-links { float: right; }
.icon {
    background: url('/i/images/icons.png') no-repeat top left;
    display: inline-block;
    vertical-align: middle;
}
.icon16 {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.icon32 {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.date { white-space: nowrap; }
#elephpant { background-position: 0px -18px; }
.slides { background-position: 0px 0px; }
.video { background-position: -16px 0px; }
.audio { background-position: -48px -32px; }
#upsell span { background-position: -32px -32px; }
#heartbleed {
    background-position: -32px 0px;
    margin-left: -6px;
    margin-right: 2px;
}
#upckeys {
    background-position: 0 -48px;
    margin-left: -6px;
    margin-right: 2px;
}
#pulse {
    background-position: -32px -48px;
    margin-left: -6px;
    margin-right: 2px;
}
#projekty div {
    float: left;
    line-height: 32px;
    margin: 16px 0px;
    color: #595959;
}
#projekty ul {
    float: left;
    padding: 0px;
    margin: 16px 0px;
}
#projekty ul li {
    float: left;
    list-style: none;
    padding: 0px 0px 0px 16px;
}
#menu {
    font-size: 85%;
    text-align: left;
    padding: 10px 0px;
}
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.clear { clear: both; }
.transparent { opacity: 0.5; }
th, td { padding: 5px; }
td.positionCell, td.iconCell { width: 10px; }
td.dateCell { width: 80px; }
td.nameCell { width: 200px; }
.desc tr.dateLine td { border-top: 2px solid #EEE; }
.asc tr.dateLine td { border-bottom: 2px solid #EEE; }
#pridat-ucastniky th, #pridat-ucastniky td { padding: 1px; }
#pridat-ucastniky .delete { display: hidden; }
#statuses th, #statuses td, #applications th, #applications td { padding: 1px 5px; }
#statuses tr.summary:hover { background-color: #F0F0F0; }
#applications tbody tr:hover { background-color: #F0F0F0; }
#applications tbody tr.discarded { opacity: 0.3; }
#applications tbody tr.discarded:hover { opacity: 0.7; }
#frm-application th, #frm-application td,
#frm-applicationPreliminary th, #frm-applicationPreliminary td {
    width: 150px;
    white-space: nowrap;
}
form.aligned th {
    text-align: right;
    vertical-align: top;
}
td.short input, form.wide td.short input, #frm-application td.short input { width: 85px; }
form.wide input, form.wide select, form.wide textarea { width: 440px; }
#frm-application input, #frm-application select, #frm-applicationPreliminary input { width: 170px; }
#frm-application #company td { width: 220px; }
#frm-application #company th.short { width: 104px; }
#frm-application input[type=checkbox], #newalgo input[type=checkbox] { width: auto; }
#frm-application #frm-application-note { width: 400px; }
#frm-statuses select { color: #666; font-family: Consolas; }
#submit { font-weight: bold; }
#frm-review textarea {
    width: 600px;
    height: 150px;
}
#chyby ul { margin: 0px; }
#chyby {
    color: #F34;
    background-color: #FEE;
    margin: 1em 0;
    border: 2px solid #F56;
}
#chyby legend {
    color: #FFF;
    background-color: #F56;
}
div.flash {
    color: #CA0;
    background-color: #FFD;
    padding: 1em;
    margin: 1em 0;
    border: 2px solid #EC2;
}
.error { color: #F34; }
div.error {
    color: #F34;
    background-color: #FEE;
    border: 2px solid #F56;
}
div.notice {
    color: #88D;
    background-color: #EEF;
    border: 1px solid #DDF;
}
#slides-embed iframe, #video-embed iframe {
    border: 0px;
    margin: 0px;
    overflow: hidden;
}
#ohlasy hr { height: 1px; }
#pridat-ucastniky-container table { font-size: 75%; }
#pridat-ucastniky-container table input[type=text] { width: 78px; }
#pridat-ucastniky-container table .highlight { background-color: yellow; }
#pridat-ucastniky-container, #pridat-soubor-container, #upravit-termin-container, #pridat-termin-container,
#pridat-prednasku-container, #pridat-rozhovor-container, #statusHistory-container, #pridat-storage-container { display: none; }
#emails tbody tr.row:hover { background-color: #F0F0F0; }
#frm-mails input { font-size: 60%; }
#frm-mails input[type=number] { width: 75px; }
#frm-mails input[type=number].price { width: 50px; }
#frm-mails input[type=file] { width: 120px; }
#contact, #social {
    float: left;
    margin: 0px 4em 0px 0px;
}
#loadDataControls span { display: none; }
#equipment input { width: auto; }
#equipment div {
    float: left;
    margin: 0 0.4em;
}
#pubkey {
    background-color: #F7F7FF;
    margin: 0;
    padding: 2em;
    font-size: smaller;
    height: 15em;
    overflow-x: hidden;
    overflow-y: scroll;
}
#message {
    width: 100%;
    height: 15em;
}
#encrypt { width: 85px; }
#copied, #copythis { display: none; }
#copied .button, #copythis .button {
    text-decoration: underline;
    color: #444;
}
@media (max-width: 64em) {
    #pubkey {
        overflow-x: scroll;
    }
}
@media (max-width: 680px) {
    #frm-application th, #frm-application td, #frm-application #company td,
    #frm-applicationPreliminary th, #frm-applicationPreliminary td {
        text-align: left;
        display: block;
        width: 95%;
    }
    #frm-application table, #frm-application table label,
    #frm-application input, #frm-application select, #frm-applicationPreliminary input { width: 100%; }
    #equipment div { float: none; }
    #equipment div input { width: 3em; }
    #frm-application #frm-application-note { width: 98%; }
    #frm-application input[type=submit] { width: 170px; }
}
