{define #menu}
&raquo; <a n:href=":Homepage:">Michal Špaček</a>
&raquo; <a n:href="Homepage:">Administrace</a>
&raquo; <a n:href="Interviews:">{_messages.title.interviews}</a>
{/define}

{define #content}
{import "default.latte"}
{include #interviewForm, form => editInterview}
{/define}
