{varType MichalSpacekCz\Talks\Talk|null $talk}
{varType int $videoThumbnailWidth}
{varType int $videoThumbnailHeight}
<p class="center">
<a href="{plink :Www:Talks:talk $talk->getAction()}" n:if="$talk?->getAction()">{icon desktop class => space-after}Zobrazit přednášku</a>
• <a n:if="$talk?->getId()" href="{plink slides $talk->getId()}">{icon documents class => space-after}Upravit slajdy</a>
</p>
{form talk class => "aligned wide"}
	<fieldset id="{_html.id.errors}" n:if="$form->hasErrors()">
		<legend><strong>{_messages.label.errors}</strong></legend>
		<ul>
			<li n:foreach="$form->getErrors() as $error"><strong>{$error}</strong></li>
		</ul>
	</fieldset>
	<table id="editTalkInputs">
		<tr>
			<th>{label translationGroup /}</th><td class="short">{input translationGroup}</td>
		</tr>
		<tr>
			<th>{label locale /}</th><td class="short">{input locale}</td>
		</tr>
		<tr>
			<th class="align-top">{label action /}</th><td>{input action}<br><small>nevyplňujte, pokud nechcete samostatnou stránku pro přednášku</small></td>
		</tr>
		<tr>
			<th n:class="$talk?->getAction() ? align-top">{label title /}</th>
			<td n:class="$form[title]->hasErrors() ? inputError">
				{input title}
				<div n:if="$form[title]->hasErrors()"><strong>{inputError title}</strong></div>
			</td>
		</tr>
		<tr>
			<th class="align-top">{label description /}</th>
			<td n:class="$form[description]->hasErrors() ? inputError">
				{input description}
				<div n:if="$form[description]->hasErrors()"><strong>{inputError description}</strong></div>
			</td>
		</tr>
		<tr>
			<th>{label date /}</th><td>{input date}</td>
		</tr>
		<tr>
			<th>{label href /}</th><td>{input href}</td>
		</tr>
		<tr>
			<th>{label duration /}</th><td class="short">{input duration} minut</td>
		</tr>
		<tr>
			<th>{label slidesTalk /}</th><td>{input slidesTalk}</td>
		</tr>
		<tr>
			<th>{label filenamesTalk /}</th><td>{input filenamesTalk}</td>
		</tr>
		<tr>
			<th>{label slidesHref /}</th><td>{input slidesHref}</td>
		</tr>
		<tr class="lighter">
			<th class="align-top">{label slidesEmbed /}</th><td>{input slidesEmbed}<br><small><em>deprecated</em></small></td>
		</tr>
		<tr>
			<th class="align-top">{label slidesNote /}</th>
			<td n:class="$form[slidesNote]->hasErrors() ? inputError">
				{input slidesNote}
				<div n:if="$form[slidesNote]->hasErrors()"><strong>{inputError slidesNote}</strong></div>
			</td>
		</tr>
		<tr>
			<th>{label videoHref /}</th><td>{input videoHref}</td>
		</tr>
		{include "../Media/Thumbnails/videoThumbnailsInputs.latte", video: $talk?->getVideo(), videoThumbnailWidth: $videoThumbnailWidth, videoThumbnailHeight: $videoThumbnailHeight}
		<tr class="lighter">
			<th class="align-top">{label videoEmbed /}</th><td>{input videoEmbed}<br><small><em>deprecated</em></small></td>
		</tr>
		<tr>
			<th>{label event /}</th>
			<td n:class="$form[event]->hasErrors() ? inputError">
				{input event}
				<div n:if="$form[event]->hasErrors()"><strong>{inputError event}</strong></div>
			</td>
		</tr>
		<tr>
			<th>{label eventHref /}</th><td>{input eventHref}</td>
		</tr>
		<tr>
			<th class="align-top">{label ogImage /}</th><td>{input ogImage}<br><small>místo čísla slajdu v URL použijte <code>%d</code></small></td>
		</tr>
		<tr>
			<th class="align-top">{label transcript /}</th>
			<td n:class="$form[transcript]->hasErrors() ? inputError">
				{input transcript}
				<div n:if="$form[transcript]->hasErrors()"><strong>{inputError transcript}</strong></div>
			</td>
		</tr>
		<tr>
			<th class="align-top">{label favorite /}</th><td>{input favorite}</td>
		</tr>
		<tr>
			<th>{label supersededBy /}</th><td>{input supersededBy}</td>
		</tr>
		<tr>
			<th>{label publishSlides: /}</th><td>{input publishSlides:} <a n:if="$talk?->getId()" href="{plink slides $talk->getId()}">{icon documents class => space-after}Upravit slajdy</a></td>
		</tr>
		<tr>
			<th></th><td class="short"><p>{input submit}</p></td>
		</tr>
	</table>
{/form}
