<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
	<title>Firmy 2.0</title>
	<link rel="stylesheet" href="{='i/select2/select2.css'|staticUrl}" type="text/css">
	<link rel="stylesheet" href="{='i/select2/select2-bootstrap.css'|staticUrl}" type="text/css">
	<link rel="stylesheet" href="{='i/bootstrap/css/bootstrap.min.css'|staticUrl}" type="text/css">
	<link rel="stylesheet" href="/i/css/screen.css" type="text/css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/i/js/jquery-2.0.3.min.js"><\/script>')</script>
	<script src="{='i/select2/select2.min.js'|staticUrl}"></script>
    <script src="{='/i/js/netteForms.js'|staticUrl}"></script>
	<script>
		$(document).ready(function() {
			$('#tags').addClass('form-control');
			$('#search').addClass('form-control');

			var allTags = {$allTags};
			$('#search').select2({
				tags: allTags,
				separator: ' ',
				tokenSeparators: [' ', '+'],
				openOnEnter: false
			});
			$('#tags').select2({
				tags: allTags,
				separator: ' ',
				tokenSeparators: [',', ' ', '+'],
				openOnEnter: false
			});
		});
	</script>
</head>
<body>
<div class="container">
	<h1>Companies <small>2.0</small></h1>
</div>

<div class="container">
<div id="search-container" class="well">
	{form search class => 'form-inline'}
	<div class="input-group">
		{input search}
	<span class="input-group-btn">{input submit class => 'btn btn-default'}</span>
	</div>
	{/form}
	<div class="clearfix"></div>
</div>
</div>

<div class="container">
<div id="add-container" class="panel panel-default">
	<div class="panel-heading">Add</div>
	<div class="panel-body">
	{form media class => 'form-horizontal'}
	<div class="form-group">
		{label url class => 'col-sm-1 control-label' /}
		<div class="col-sm-10">{input url class => 'form-control'}</div>
	</div>
	<div class="form-group">
		{label title class => 'col-sm-1 control-label' /}
		<div class="col-sm-10">{input title class => 'form-control'}</div>
	</div>
	<div class="form-group">
		{label published class => 'col-sm-1 control-label' /}
		<div class="col-sm-10">{input published class => 'form-control'}</div>
	</div>
	<div class="form-group">
		{label tags class => 'col-sm-1 control-label' /}
		<div class="col-sm-10">{input tags}</div>
	</div>
	<div class="form-group">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">{input submit class => 'btn btn-default'}</div>
	</div>
	{/form}
	</div>
</div>
</div>

<div class="container">
<div id="result-container" class="panel panel-default">
	<div class="panel-body">
	<p n:foreach="$urls as $url">
		<a href="{$url->url}">{$url->title}</a><br>
		<small>{foreach $url->tags as $tag}<code><a n:href="this $tag->tag">{$tag->tag}</a></code>{sep} {/sep}{/foreach}</small>
	</p>
	</div>
</div>
</div>
</body>
</html>
