<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
	<title>Firmy 2.0</title>
	<link rel="stylesheet" href="{='i/select2/select2.css'|staticUrl}" type="text/css">
	<link rel="stylesheet" href="{='i/select2/select2-bootstrap.css'|staticUrl}" type="text/css">
	<link rel="stylesheet" href="{='i/bootstrap/css/bootstrap.min.css'|staticUrl}" type="text/css">
	<link rel="stylesheet" href="/i/css/screen.css" type="text/css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/i/js/jquery-2.0.3.min.js"><\/script>')</script>
	<script src="{='i/select2/select2.min.js'|staticUrl}"></script>
	<script src="{='i/bootstrap/js/bootstrap.min.js'|staticUrl}"></script>
    <script src="{='/i/js/netteForms.js'|staticUrl}"></script>
	<script src="/i/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#tags').addClass('form-control');
			$('#search').addClass('form-control');

			var allTags = {$allTags};
			$('#search').select2({
				tags: allTags,
				separator: ' ',
				tokenSeparators: [' ', '+'],
				openOnEnter: false
			});
			$('#tags').select2({
				tags: allTags,
				separator: ' ',
				tokenSeparators: [',', ' ', '+'],
				openOnEnter: false
			});
			$('#add').draggable({
				handle: '.modal-header'
			});
		});
	</script>
</head>
<body>
<div class="container">
	<h1 class="pull-left">Companies <small>2.0</small></h1>
	<h2 class="pull-right"><small><a href="#add" accesskey="a" class="btn btn-sm btn-default" data-toggle="modal">Add</a></small></h2>
</div>

<div class="container">
<div id="search-container" class="well">
	{form search class => 'form-inline'}
	<div class="input-group">
		{input search}
		<span class="input-group-btn">{input submit class => 'btn btn-primary'}</span>
	</div>
	{/form}
	<div class="clearfix"></div>
</div>
</div>

<div id="add" class="modal" tabindex="-1" role="dialog" aria-labelledby="add-label" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		{form media class => 'form-horizontal'}
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="add-label">Add</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				{label url class => 'col-sm-1 control-label' /}
				<div class="col-sm-11">{input url class => 'form-control'}</div>
			</div>
			<div class="form-group">
				{label title class => 'col-sm-1 control-label' /}
				<div class="col-sm-11">{input title class => 'form-control'}</div>
			</div>
			<div class="form-group">
				{label published class => 'col-sm-1 control-label' /}
				<div class="col-sm-11">{input published class => 'form-control'}</div>
			</div>
			<div class="form-group">
				{label tags class => 'col-sm-1 control-label' /}
				<div class="col-sm-11">{input tags}</div>
			</div>
		</div>
		<div class="modal-footer">
			<input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
			{input submit class => 'btn btn-primary'}
		</div>
		{/form}
	</div>
	</div>
</div>

<div class="container">
<div id="result-container" class="panel panel-default">
	<div class="panel-body">
	<p n:foreach="$urls as $url">
		<a href="{$url->url}"><strong>{$url->title}</strong></a><br>
		<small class="tags">{foreach $url->tags as $tag}<code n:class="$tag->category"><a n:href="this $tag->tag">{$tag->tag}</a></code>{sep} {/sep}{/foreach}</small>
	</p>
	</div>
</div>
</div>
</body>
</html>
