{define #content}
<ol n:inner-foreach="$trainings as $training">
	<li><a n:href="ucastnici:termin $training->dateId">{$training->start|date:'j. n. Y'}</a> {$training->venueCity} {$training->name}</li>
</ol>
{/define}