{define #formExtra}
<p><strong>{label status /}</strong> {input status}</p>
<p><strong>{label source /}</strong> {input source}</p>
{/define}

{define #content}
{includeblock "../../../../templates/Skoleni/skoleni.latte"}

{include #form}

{/define}
