{define #content}
{form review}
<p>{label overwriteName /}{input overwriteName}</p>
<p>{label name /}{input name}</p>
<p>{label overwriteCompany /}{input overwriteCompany}</p>
<p>{label company /}{input company}</p>
<p>{label review /}{input review}</p>
<p>{label href /}{input href}</p>
<p>{label hidden /}{input hidden}</p>
<p>{input save}</p>
{/form review}

{/define}
