<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>We Bleed: Heartbleed Bug in the Czech Republic</title>
	<link rel="stylesheet" href="{='/i/css/webleed/screen.css'|staticUrl}" type="text/css">
	{script jquery}
	<script src="{='/i/js/highcharts-custom.js'|staticUrl}"></script>
	<script src="{='/i/js/highcharts-webleed.js'|staticUrl}"></script>
	<script n:if="$trackingCode" src="{='/i/js/analytics.js'|staticUrl}" async defer></script>
</head>
<body>
<div id="container">
	<div id="logo"><img src="{='/i/images/webleed/logo.png'|staticUrl}"></div>
	<div id="header">
		<h1>Project &quot;We Bleed&quot; <small title="vyblít" lang="cs">(vɪbliːt)</small></h1>
		<h3>Heartbleed Bug in the Czech Republic</h3>
	</div>
	<div id="stats"><strong>{$vulnerable}<small> vulnerable hosts</small> {$daysSince}<small> days since <a href="http://www.openssl.org/news/secadv_20140407.txt">public disclosure</a></small></strong></div>
	<div id="chart"></div>
	<div id="points">
		{foreach $points as $port => $data}
		<div n:foreach="$data as $point" data-port="{$port}" data-point="{$point}"></div>
		{/foreach}
	</div>
	<div id="notes">Scanning all CZ-assigned IPv4 addresses,
		<a href="https://blog.mozilla.org/security/2014/04/12/testing-for-heartbleed-vulnerability-without-exploiting-the-server/">not exploiting your server</a>,
		not <a href="http://blog.erratasec.com/2014/04/fun-with-ids-funtime-3-heartbleed.html">evading your IDS</a>.<br>
		A project from <a href="http://www.michalspacek.cz">Michal Špaček</a>, <a href="http://twitter.com/spazef0rze">@spazef0rze</a>.
		Chart by <a href="http://www.highcharts.com/">Highcharts</a>.
		Scanner hosted by <a href="http://www.vas-hosting.cz/">Váš hosting</a>, thanks!<br>
		{$smallPrint}
	</div>
</div>
</body>
</html>
