{layout "../@layout.latte"}
{var $containerExtraClass = 'blog'}
{var $containerColsClass = 'with-sidebar'}
{define #menu}
&raquo; <a n:href=":Www:Homepage:">Michal Špaček</a>
&raquo; <a n:href=":Www:Articles:">{_messages.title.articles}</a>
{/define}
{define #headerIcon}{/define}
