{default $pageHeader = $pageTitle}
<a n:href=":Www:Homepage:"><img src="{='michal-spacek.jpg'|staticImageUrl}" width="50" height="50" alt="Michal Špaček" title="Michal Špaček" /></a>
<h1>{$pageHeader}</h1>
<p>{ifset $tagLine}{$tagLine}{/ifset}</p>
