Dobrý den,

díky za účast na školení {$application->getTrainingName()} {$application->getTrainingStart()|localeIntervalDay:$application->getTrainingEnd(), 'cs_CZ'}

V příloze naleznete fakturu na částku {$application->getPriceWithCurrency()} bez DPH, {$application->getPriceVatWithCurrency()} s DPH,
proplaťte ji, prosím, do stanoveného data.

{if $additional}
{$additional}

{/if}
Děkuji a třeba brzy na shledanou na nějakém dalším školení!
Michal Špaček

{include "../signature.latte"}
