{define #styles}
<link rel="stylesheet" media="screen,projection,tv" href="{='/i/css/admin/info.css'|staticUrl}" type="text/css">
<link rel="stylesheet" media="screen,projection,tv" href="{='/i/css/code.css'|staticUrl}" type="text/css">
{/define}
{define #content}
<div id="phpinfo">{$phpinfo}</div>
{/define}
