{define #menu}
	&raquo; <a n:href="Homepage:">Michal Špaček</a>
{/define}

{define #content}
{import "../Articles/default.latte"}
<h2>{_messages.label.writtenarticles}</h2>
<div n:foreach="$articles as $article">
	{include #itemArticle, article => $article}
</div>
<p><a n:href="Articles:">{_messages.label.allarticles}</a></p>
{/define}
