<br />
<b>Fatal error</b>:  Uncaught PDOException: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''<b><i>really? maybe you'd like to <a href="https://github.com/spaze/michalspacek.cz">read the source</a> instead</i></b>' at line 1 in C:\inetpub\wwwroot\michalspacek.cz\index.php:31337
Stack trace:
#0 C:\inetpub\wwwroot\michalspacek.cz\index.php(31337): PDO-&gt;query()
#1 C:\inetpub\wwwroot\michalspacek.cz\index.php(42): processRequest()
#2 {main}
  thrown in <b>C:\inetpub\wwwroot\michalspacek.cz\index.php</b> on line <b>31337</b><br />
