{define #menu}
&raquo; <a n:href=":Homepage:">Michal Špaček</a>
&raquo; <a n:href="Homepage:">Administrace</a>
{/define}

{define #content}
<div n:foreach="$flashes as $flash" class="flash {$flash->type}"><strong>{$flash->message}</strong></div>
{form date}
<p><strong>{label training /}</strong> {input training}</p>
<p><strong>{label venue /}</strong> {input venue}</p>
<p><strong>{label start /}</strong> {input start}</p>
<p><strong>{label end /}</strong> {input end}</p>
<p><strong>{label status /}</strong> {input status}</p>
<p><strong>{label public: /}</strong> {input public:}</p>
<p><strong>{label cooperation /}</strong> {input cooperation}</p>
<p>{input submit}</p>
{/form date}
{/define}
