{layout "../../../Www/Presenters/templates/@layout.latte"}
{var $containerExtraClass = 'admin'}
{var $headerLinks = false}
{var $robots = 'noindex, nofollow'}
{define #feeds}{/define}
{define #scriptsReplace}
{script jquery+admin async, defer}
{script netteForms async, defer}
{/define}
