name: Certificate monitoring

on:
  schedule:
    - cron: '39 */2 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  certmonitor:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - "8.5"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          coverage: none
          php-version: ${{ matrix.php-version }}
      - run: php app/bin/certmonitor.php --colors --no-ipv6
        env:
          CERTMONITOR_USER: ${{ secrets.CERTMONITOR_USER }}
          CERTMONITOR_KEY: ${{ secrets.CERTMONITOR_KEY }}

  heartbeat:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - certmonitor
    steps:
      - run: curl --no-progress-meter ${{ secrets.CERTMONITOR_HEARTBEAT_URL }}
