name: Dependency vulnz checker

on:
  push:
  schedule:
    - cron:  '25 */2 * * *'

jobs:
  composer-vulnz:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      id: cache-db
      with:
          path: ~/.symfony/cache
          key: db
    - uses: symfonycorp/security-checker-action@v3
      with:
          lock: site/composer.lock

  composer-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: composer --working-dir=site audit
