name: PHP tests, including skipped tests

on:
  schedule:
    - cron: '45 23 * * 4'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tester-include-skipped:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - "8.5"
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
      with:
        coverage: pcov
        php-version: ${{ matrix.php-version }}
    - name: Create symlink in /srv/www
      run: |
        sudo mkdir --parents /srv/www
        sudo ln --symbolic $GITHUB_WORKSPACE /srv/www
    - run: make --directory=app tester-include-skipped
    - name: Failed test output, if any
      if: failure()
      run: for i in $(find ./app/tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done
    - name: Upload test code coverage
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: success()
      with:
        name: Test code coverage (PHP ${{ matrix.php-version }})
        path: 'app/temp/coverage.html'
        retention-days: 5
