name: PHP tests, including skipped tests

on:
  schedule:
    - cron: '45 23 * * 4'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tester-include-skipped:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - "8.5"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
      with:
        coverage: pcov
        php-version: ${{ matrix.php-version }}
    - name: Create symlink in /srv/www
      run: |
        sudo mkdir --parents /srv/www
        sudo ln --symbolic $GITHUB_WORKSPACE /srv/www
    - run: make --directory=app tester-include-skipped
    - name: Failed test output, if any
      if: failure()
      run: for i in $(find ./app/tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done
    - name: Upload test code coverage
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: success()
      with:
        name: Test code coverage (PHP ${{ matrix.php-version }})
        path: 'app/temp/coverage.html'
        retention-days: 5
