name: security.txt checks

on:
  schedule:
    - cron: '37 13 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  securitytxt:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host:
          - www.michalspacek.cz
          - www.michalspacek.com
          - upcwifikeys.com
    steps:
    - name: Install the checker
      run: composer require spaze/security-txt:dev-main
    - name: Check security.txt at ${{ matrix.host }}
      run: |
        php \
        vendor/spaze/security-txt/bin/checksecuritytxt.php \
        ${{ matrix.host }} \
        10 \
        --colors \
        --no-ipv6 \
        --strict
