name: security.txt checks

on:
  schedule:
    - cron:  '37 13 * * *'

jobs:
  securitytxt:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.2"
        host:
          - www.michalspacek.cz
          - www.michalspacek.com
          - upcwifikeys.com
    steps:
    - name: Set PHP version
      run: sudo update-alternatives --set php /usr/bin/php${{ matrix.php-version }}
    - name: Install ext-gnupg
      run: |
        sudo add-apt-repository ppa:ondrej/php
        sudo apt-get update
        apt-fast install -y --no-install-recommends php${{ matrix.php-version }}-gnupg
    - name: Install the checker
      run: composer require spaze/security-txt:dev-main
    - name: Check security.txt at ${{ matrix.host }}
      run: |
        php \
        vendor/spaze/security-txt/bin/checksecuritytxt.php \
        ${{ matrix.host }} \
        10 \
        --colors \
        --no-ipv6 \
        --strict
