name: Dependency vulnz checker

on:
  push:
  schedule:
    - cron: '25 */2 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  composer-vulnz:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: symfonycorp/security-checker-action@258311ef7ac571f1310780ef3d79fc5abef642b5 # v5
      with:
          lock: app/composer.lock

  composer-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: make --directory=app composer-audit

  npm-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: make --directory=app npm-audit
