name: Dependency vulnz checker

on:
  push:
  schedule:
    - cron: '25 */2 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  composer-vulnz:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: symfonycorp/security-checker-action@258311ef7ac571f1310780ef3d79fc5abef642b5 # v5
      with:
          lock: app/composer.lock

  composer-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: make --directory=app composer-audit

  npm-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: make --directory=app npm-audit
